.btn {
	cursor: pointer;
	.border-radius(2px);
	background-color: #f7f4e9;
	.box-shadow(0 10px 15px 0 rgba(0, 0, 0, 0.1), 0 2px 2px 0 rgba(24, 51, 65, 0.15));
	.ptserif();
	.font(@14, #193341);
	text-align: center;
	.transition(all .3s);
	display: inline-block;
	text-decoration: none;
	border: 0;
	padding: 11px 10px;
	&:hover {
		background-color: #f5ecca;
	}

	&_menu {
		.box-shadow(none);
		border: solid 1px #d9d9d1;
		width: 100%;
		display: block;
		background-color: #fcfbf8;
		font-size: @20;
		line-height: 1.95;
		padding: 9px 10px;
	}

	&_show-more {
		background-color: @white;
		min-width: 300px;
		color: rgba(173,20,87,.8);
		font-size: @16;
		padding: 12px 10px;
	}
}

@media screen and (max-width: 410px) {
	.btn {
		&_show-more {
			min-width: 0;
			width: 100%;
		}
	}
}