// PT Serif
@import url('https://fonts.googleapis.com/css?family=PT+Serif:400,400i&subset=cyrillic-ext');

// Playfair Display
@import url('https://fonts.googleapis.com/css?family=Playfair+Display:400,700&subset=cyrillic');

@fonts-path: "../fonts/";
@ptserif: 'PT Serif', serif;
@playfair: 'Playfair Display', serif;

.font(@size, @color, @margbot: 0) {
	font-size: @size;
	color: @color;
	margin-bottom: @margbot;
}


// PT Serif
.ptserif {
	font-family: @ptserif;
	font-weight: 400;
}

.ptserif-italic {
	.ptserif();
	font-style: italic;
}


// Playfair Display
.playfair {
	font-family: @playfair;
	font-weight: 400;
}

.playfair-bold {
	font-family: @playfair;
	font-weight: 700;
}