.form {
	&_subscribe {
		.form__field {
			border-bottom: 1px solid rgba(255,255,255,.5);
		}
		.form__input {
			&::-webkit-input-placeholder {
				color: rgba(255,255,255,.8);
				opacity: 1 !important;
			};
				&::-moz-placeholder {
				color: rgba(255,255,255,.8) !important;
				opacity: 1 !important;
			};
				&:-ms-input-placeholder {
				color: rgba(255,255,255,.8);
				opacity: 1 !important;
			};
			font-style: italic;
			color: @white;
			height: 42px;
		}
	}
	&_buy {
		.form__field_with-label {
			height: 55px;
			padding-top: 19px;
			background-color: @white;
			border: 1px solid #d9d9d1;
			margin-bottom: 10px;
			.border-radius(0 0 3px 3px);
			.form__input {
				background-color: transparent;
				border-bottom: 0;
				.border-radius(0 0 3px 3px);
				padding: 0 10px;
				&:focus ~ .form__label,
				&:valid ~ .form__label {
					top: 6px;
				}
			}
			.form__label {
				padding: 0 10px;
				top: 20px;
				font-size: @14;
			}
		}
	}
	&_app {
		margin: 60px 0;
		.form__field {
			min-width: 280px;
			display: inline-block;
			vertical-align: top;
			margin-bottom: 0;
			&:first-child {
				margin-right: 10px - 4px;
			}
			.btn {
				display: block;
				width: 100%;
				padding: 18px 10px;
			}
		}
	}
	&__input,
	&__textarea,
	&__submit {
		.appearance(none);
		background: none;
		border: 0;
		.box-shadow(none);
		.border-radius(0);
		padding: 0;
		margin: 0;
		&::-webkit-input-placeholder {
			color: @black;
			opacity: 1 !important;
		};
			&::-moz-placeholder {
			color: @black !important;
			opacity: 1 !important;
		};
			&:-ms-input-placeholder {
			color: @black;
			opacity: 1 !important;
		};
	}
	&__input {
		.ptserif();
		.font(@16, #193341);
		width: 100%;
	}
	&__textarea {
		.ptserif();
		.font(@16, #193341);
		background-color: @white;
		.border-radius(2px);
		width: 100%;
		padding: 12px 15px;
		overflow-y: auto;
	}
	&__field {
		&_with-label {
			height: 46px;
			padding-top: 14px;
			position: relative;
			margin-bottom: 20px;
			.form__label {
				position: absolute;
				left: 0;
				top: 21px;
				pointer-events: none;
				.ptserif();
				.font(@16, #193341);
				transition: all .25s ease;
			}
			.form__input {
				height: 32px;
				background-color: #efefeb;
				border-bottom: 1px solid #c2c2c0;
				&:focus ~ .form__label,
				&:valid ~ .form__label {
					top: 0;
					color: rgba(25,51,62,.5);
				}
			}
		}
	}
	&__checkbox-label {
		display: inline-block;
		width: auto;
		cursor: pointer;
		position: relative;
		input[type="checkbox"],
		input[type="radio"] {
			position: absolute;
			top: 0;
			left: 0;
			opacity: 0;
			visibility: hidden;
			z-index: -1;
			&:checked + span {
				background-color: @white;
			}
		}
	}
	&__checkbox-name {
		display: block;
		.ptserif();
		.font(@16, #193341);
		padding: 6px 7px;
		background-color: #efefeb;
		.transition(background-color 0.2s);
		&:hover {
			background-color: @white;
		}
	}
	&__checkbox-count {
		color: rgba(25,51,65,.5);
		font-style: italic;
		margin-left: 5px;
	}
	&__uploads {
		margin-bottom: 20px;
		label {
			display: block;
			cursor: pointer;
		}
		.form__field {
			width: 140px;
			float: left;
			margin-right: 20px;
			display: none;
			&:first-child {
				display: block;
			}
			&:last-child {
				margin-right: 0;
			}
		}
		input[type="file"] {
			.appearance(none);
			visibility: hidden;
			opacity: 0;
			padding: 0;
			display: none;
			width: 0;
			height: 0;
			margin: 0;
			background-color: none;
		}
	}
	&__upload-cover,
	&__upload-button {
		width: 140px;
		height: 140px;
		display: block;
		background-repeat: no-repeat;
		background-size: cover;
		background-position: 50% 50%;
		background-color: #efefeb;
		border: 2px dashed #d3d3d1;
		text-align: center;
		position: relative;
		transition: background-color .2s, border .2s;
		&:hover {
			background-color: #f5ecca;
		}
		&:before,
		&:after {
			content:'';
			position: absolute;
			background-color: #193341;
			left: 50%;
		}
		&:before {
			width: 20px;
			height: 2px;
			margin-left: -10px;
			top: 46px;
		}
		&:after {
			width: 2px;
			height: 20px;
			top: 37px;
			margin-left: -1px;
		}
		span {
			display: block;
			width: 100%;
			position: absolute;
			line-height: 1.4;
			bottom: 27px;
			left: 0;
			.ptserif();
			.font(@14, #193341);
		}
		&_filled {
			border-color: transparent;
			&:before,
			&:after,
			span {
				display: none;
			}
		}
	}
	&__upload-button {
		float: left;
	}
}

@media screen and (max-width: 620px) {
	.form {
		&__uploads {
			.form__field {
				width: 100%;
				margin: 0 0 20px 0;
				&:last-child {
					margin-bottom: 0;
				}
			}
		}
		&__upload-cover,
		&__upload-button {
			width: 100%;
		}
	}
}

@media screen and (max-width: 600px) {
	.form {
		&_subscribe {
			.form__input {
				font-size: @14;
				height: 31px;
			}
		}
	}
}


@media screen and (max-width: 400px) {
	.form {
		&_buy {
			.form__field_with-label {
				.form__label {
					font-size: @11;
				}
			}
		}
	}
}