/*
LESS variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: @icon-home-width;
}

The large array-like variables contain all information about a single icon
@icon-home: x y offset_x offset_y width height total_width total_height image_path name;

At the bottom of this section, we provide information about the spritesheet itself
@spritesheet: width height image @spritesheet-sprites;
*/
@footer-logo-responsive-name: 'footer-logo-responsive';
@footer-logo-responsive-x: 0px;
@footer-logo-responsive-y: 147px;
@footer-logo-responsive-offset-x: 0px;
@footer-logo-responsive-offset-y: -147px;
@footer-logo-responsive-width: 231px;
@footer-logo-responsive-height: 49px;
@footer-logo-responsive-total-width: 405px;
@footer-logo-responsive-total-height: 286px;
@footer-logo-responsive-image: '../img/iconostas.png';
@footer-logo-responsive: 0px 147px 0px -147px 231px 49px 405px 286px '../img/iconostas.png' 'footer-logo-responsive';
@footer-logo-name: 'footer-logo';
@footer-logo-x: 0px;
@footer-logo-y: 60px;
@footer-logo-offset-x: 0px;
@footer-logo-offset-y: -60px;
@footer-logo-width: 236px;
@footer-logo-height: 82px;
@footer-logo-total-width: 405px;
@footer-logo-total-height: 286px;
@footer-logo-image: '../img/iconostas.png';
@footer-logo: 0px 60px 0px -60px 236px 82px 405px 286px '../img/iconostas.png' 'footer-logo';
@icon-arrow-next-name: 'icon-arrow-next';
@icon-arrow-next-x: 359px;
@icon-arrow-next-y: 102px;
@icon-arrow-next-offset-x: -359px;
@icon-arrow-next-offset-y: -102px;
@icon-arrow-next-width: 18px;
@icon-arrow-next-height: 8px;
@icon-arrow-next-total-width: 405px;
@icon-arrow-next-total-height: 286px;
@icon-arrow-next-image: '../img/iconostas.png';
@icon-arrow-next: 359px 102px -359px -102px 18px 8px 405px 286px '../img/iconostas.png' 'icon-arrow-next';
@icon-arrow-prev-name: 'icon-arrow-prev';
@icon-arrow-prev-x: 382px;
@icon-arrow-prev-y: 102px;
@icon-arrow-prev-offset-x: -382px;
@icon-arrow-prev-offset-y: -102px;
@icon-arrow-prev-width: 18px;
@icon-arrow-prev-height: 8px;
@icon-arrow-prev-total-width: 405px;
@icon-arrow-prev-total-height: 286px;
@icon-arrow-prev-image: '../img/iconostas.png';
@icon-arrow-prev: 382px 102px -382px -102px 18px 8px 405px 286px '../img/iconostas.png' 'icon-arrow-prev';
@icon-fb-name: 'icon-fb';
@icon-fb-x: 303px;
@icon-fb-y: 201px;
@icon-fb-offset-x: -303px;
@icon-fb-offset-y: -201px;
@icon-fb-width: 24px;
@icon-fb-height: 24px;
@icon-fb-total-width: 405px;
@icon-fb-total-height: 286px;
@icon-fb-image: '../img/iconostas.png';
@icon-fb: 303px 201px -303px -201px 24px 24px 405px 286px '../img/iconostas.png' 'icon-fb';
@icon-header-warning-name: 'icon-header-warning';
@icon-header-warning-x: 316px;
@icon-header-warning-y: 120px;
@icon-header-warning-offset-x: -316px;
@icon-header-warning-offset-y: -120px;
@icon-header-warning-width: 22px;
@icon-header-warning-height: 18px;
@icon-header-warning-total-width: 405px;
@icon-header-warning-total-height: 286px;
@icon-header-warning-image: '../img/iconostas.png';
@icon-header-warning: 316px 120px -316px -120px 22px 18px 405px 286px '../img/iconostas.png' 'icon-header-warning';
@icon-instagram-name: 'icon-instagram';
@icon-instagram-x: 216px;
@icon-instagram-y: 201px;
@icon-instagram-offset-x: -216px;
@icon-instagram-offset-y: -201px;
@icon-instagram-width: 24px;
@icon-instagram-height: 24px;
@icon-instagram-total-width: 405px;
@icon-instagram-total-height: 286px;
@icon-instagram-image: '../img/iconostas.png';
@icon-instagram: 216px 201px -216px -201px 24px 24px 405px 286px '../img/iconostas.png' 'icon-instagram';
@icon-lens-name: 'icon-lens';
@icon-lens-x: 366px;
@icon-lens-y: 120px;
@icon-lens-offset-x: -366px;
@icon-lens-offset-y: -120px;
@icon-lens-width: 17px;
@icon-lens-height: 17px;
@icon-lens-total-width: 405px;
@icon-lens-total-height: 286px;
@icon-lens-image: '../img/iconostas.png';
@icon-lens: 366px 120px -366px -120px 17px 17px 405px 286px '../img/iconostas.png' 'icon-lens';
@icon-mail-name: 'icon-mail';
@icon-mail-x: 274px;
@icon-mail-y: 201px;
@icon-mail-offset-x: -274px;
@icon-mail-offset-y: -201px;
@icon-mail-width: 24px;
@icon-mail-height: 24px;
@icon-mail-total-width: 405px;
@icon-mail-total-height: 286px;
@icon-mail-image: '../img/iconostas.png';
@icon-mail: 274px 201px -274px -201px 24px 24px 405px 286px '../img/iconostas.png' 'icon-mail';
@icon-mark-yellow-mini-name: 'icon-mark-yellow-mini';
@icon-mark-yellow-mini-x: 138px;
@icon-mark-yellow-mini-y: 231px;
@icon-mark-yellow-mini-offset-x: -138px;
@icon-mark-yellow-mini-offset-y: -231px;
@icon-mark-yellow-mini-width: 15px;
@icon-mark-yellow-mini-height: 16px;
@icon-mark-yellow-mini-total-width: 405px;
@icon-mark-yellow-mini-total-height: 286px;
@icon-mark-yellow-mini-image: '../img/iconostas.png';
@icon-mark-yellow-mini: 138px 231px -138px -231px 15px 16px 405px 286px '../img/iconostas.png' 'icon-mark-yellow-mini';
@icon-mark-yellow-name: 'icon-mark-yellow';
@icon-mark-yellow-x: 241px;
@icon-mark-yellow-y: 120px;
@icon-mark-yellow-offset-x: -241px;
@icon-mark-yellow-offset-y: -120px;
@icon-mark-yellow-width: 20px;
@icon-mark-yellow-height: 20px;
@icon-mark-yellow-total-width: 405px;
@icon-mark-yellow-total-height: 286px;
@icon-mark-yellow-image: '../img/iconostas.png';
@icon-mark-yellow: 241px 120px -241px -120px 20px 20px 405px 286px '../img/iconostas.png' 'icon-mark-yellow';
@icon-menu-accessories-mini-name: 'icon-menu-accessories-mini';
@icon-menu-accessories-mini-x: 318px;
@icon-menu-accessories-mini-y: 147px;
@icon-menu-accessories-mini-offset-x: -318px;
@icon-menu-accessories-mini-offset-y: -147px;
@icon-menu-accessories-mini-width: 36px;
@icon-menu-accessories-mini-height: 37px;
@icon-menu-accessories-mini-total-width: 405px;
@icon-menu-accessories-mini-total-height: 286px;
@icon-menu-accessories-mini-image: '../img/iconostas.png';
@icon-menu-accessories-mini: 318px 147px -318px -147px 36px 37px 405px 286px '../img/iconostas.png' 'icon-menu-accessories-mini';
@icon-menu-accessories-name: 'icon-menu-accessories';
@icon-menu-accessories-x: 59px;
@icon-menu-accessories-y: 231px;
@icon-menu-accessories-offset-x: -59px;
@icon-menu-accessories-offset-y: -231px;
@icon-menu-accessories-width: 54px;
@icon-menu-accessories-height: 55px;
@icon-menu-accessories-total-width: 405px;
@icon-menu-accessories-total-height: 286px;
@icon-menu-accessories-image: '../img/iconostas.png';
@icon-menu-accessories: 59px 231px -59px -231px 54px 55px 405px 286px '../img/iconostas.png' 'icon-menu-accessories';
@icon-menu-arrow-gray-name: 'icon-menu-arrow-gray';
@icon-menu-arrow-gray-x: 158px;
@icon-menu-arrow-gray-y: 231px;
@icon-menu-arrow-gray-offset-x: -158px;
@icon-menu-arrow-gray-offset-y: -231px;
@icon-menu-arrow-gray-width: 12px;
@icon-menu-arrow-gray-height: 11px;
@icon-menu-arrow-gray-total-width: 405px;
@icon-menu-arrow-gray-total-height: 286px;
@icon-menu-arrow-gray-image: '../img/iconostas.png';
@icon-menu-arrow-gray: 158px 231px -158px -231px 12px 11px 405px 286px '../img/iconostas.png' 'icon-menu-arrow-gray';
@icon-menu-arrow-name: 'icon-menu-arrow';
@icon-menu-arrow-x: 175px;
@icon-menu-arrow-y: 231px;
@icon-menu-arrow-offset-x: -175px;
@icon-menu-arrow-offset-y: -231px;
@icon-menu-arrow-width: 12px;
@icon-menu-arrow-height: 11px;
@icon-menu-arrow-total-width: 405px;
@icon-menu-arrow-total-height: 286px;
@icon-menu-arrow-image: '../img/iconostas.png';
@icon-menu-arrow: 175px 231px -175px -231px 12px 11px 405px 286px '../img/iconostas.png' 'icon-menu-arrow';
@icon-menu-gems-mini-name: 'icon-menu-gems-mini';
@icon-menu-gems-mini-x: 236px;
@icon-menu-gems-mini-y: 147px;
@icon-menu-gems-mini-offset-x: -236px;
@icon-menu-gems-mini-offset-y: -147px;
@icon-menu-gems-mini-width: 36px;
@icon-menu-gems-mini-height: 37px;
@icon-menu-gems-mini-total-width: 405px;
@icon-menu-gems-mini-total-height: 286px;
@icon-menu-gems-mini-image: '../img/iconostas.png';
@icon-menu-gems-mini: 236px 147px -236px -147px 36px 37px 405px 286px '../img/iconostas.png' 'icon-menu-gems-mini';
@icon-menu-gems-name: 'icon-menu-gems';
@icon-menu-gems-x: 0px;
@icon-menu-gems-y: 231px;
@icon-menu-gems-offset-x: 0px;
@icon-menu-gems-offset-y: -231px;
@icon-menu-gems-width: 54px;
@icon-menu-gems-height: 55px;
@icon-menu-gems-total-width: 405px;
@icon-menu-gems-total-height: 286px;
@icon-menu-gems-image: '../img/iconostas.png';
@icon-menu-gems: 0px 231px 0px -231px 54px 55px 405px 286px '../img/iconostas.png' 'icon-menu-gems';
@icon-menu-jewelry-mini-name: 'icon-menu-jewelry-mini';
@icon-menu-jewelry-mini-x: 359px;
@icon-menu-jewelry-mini-y: 60px;
@icon-menu-jewelry-mini-offset-x: -359px;
@icon-menu-jewelry-mini-offset-y: -60px;
@icon-menu-jewelry-mini-width: 36px;
@icon-menu-jewelry-mini-height: 37px;
@icon-menu-jewelry-mini-total-width: 405px;
@icon-menu-jewelry-mini-total-height: 286px;
@icon-menu-jewelry-mini-image: '../img/iconostas.png';
@icon-menu-jewelry-mini: 359px 60px -359px -60px 36px 37px 405px 286px '../img/iconostas.png' 'icon-menu-jewelry-mini';
@icon-menu-jewelry-name: 'icon-menu-jewelry';
@icon-menu-jewelry-x: 241px;
@icon-menu-jewelry-y: 60px;
@icon-menu-jewelry-offset-x: -241px;
@icon-menu-jewelry-offset-y: -60px;
@icon-menu-jewelry-width: 54px;
@icon-menu-jewelry-height: 55px;
@icon-menu-jewelry-total-width: 405px;
@icon-menu-jewelry-total-height: 286px;
@icon-menu-jewelry-image: '../img/iconostas.png';
@icon-menu-jewelry: 241px 60px -241px -60px 54px 55px 405px 286px '../img/iconostas.png' 'icon-menu-jewelry';
@icon-menu-watch-mini-name: 'icon-menu-watch-mini';
@icon-menu-watch-mini-x: 277px;
@icon-menu-watch-mini-y: 147px;
@icon-menu-watch-mini-offset-x: -277px;
@icon-menu-watch-mini-offset-y: -147px;
@icon-menu-watch-mini-width: 36px;
@icon-menu-watch-mini-height: 37px;
@icon-menu-watch-mini-total-width: 405px;
@icon-menu-watch-mini-total-height: 286px;
@icon-menu-watch-mini-image: '../img/iconostas.png';
@icon-menu-watch-mini: 277px 147px -277px -147px 36px 37px 405px 286px '../img/iconostas.png' 'icon-menu-watch-mini';
@icon-menu-watch-name: 'icon-menu-watch';
@icon-menu-watch-x: 300px;
@icon-menu-watch-y: 60px;
@icon-menu-watch-offset-x: -300px;
@icon-menu-watch-offset-y: -60px;
@icon-menu-watch-width: 54px;
@icon-menu-watch-height: 55px;
@icon-menu-watch-total-width: 405px;
@icon-menu-watch-total-height: 286px;
@icon-menu-watch-image: '../img/iconostas.png';
@icon-menu-watch: 300px 60px -300px -60px 54px 55px 405px 286px '../img/iconostas.png' 'icon-menu-watch';
@icon-phone-yellow-mini-name: 'icon-phone-yellow-mini';
@icon-phone-yellow-mini-x: 118px;
@icon-phone-yellow-mini-y: 231px;
@icon-phone-yellow-mini-offset-x: -118px;
@icon-phone-yellow-mini-offset-y: -231px;
@icon-phone-yellow-mini-width: 15px;
@icon-phone-yellow-mini-height: 16px;
@icon-phone-yellow-mini-total-width: 405px;
@icon-phone-yellow-mini-total-height: 286px;
@icon-phone-yellow-mini-image: '../img/iconostas.png';
@icon-phone-yellow-mini: 118px 231px -118px -231px 15px 16px 405px 286px '../img/iconostas.png' 'icon-phone-yellow-mini';
@icon-phone-yellow-name: 'icon-phone-yellow';
@icon-phone-yellow-x: 266px;
@icon-phone-yellow-y: 120px;
@icon-phone-yellow-offset-x: -266px;
@icon-phone-yellow-offset-y: -120px;
@icon-phone-yellow-width: 20px;
@icon-phone-yellow-height: 20px;
@icon-phone-yellow-total-width: 405px;
@icon-phone-yellow-total-height: 286px;
@icon-phone-yellow-image: '../img/iconostas.png';
@icon-phone-yellow: 266px 120px -266px -120px 20px 20px 405px 286px '../img/iconostas.png' 'icon-phone-yellow';
@icon-popup-close-dark-name: 'icon-popup-close-dark';
@icon-popup-close-dark-x: 388px;
@icon-popup-close-dark-y: 120px;
@icon-popup-close-dark-offset-x: -388px;
@icon-popup-close-dark-offset-y: -120px;
@icon-popup-close-dark-width: 16px;
@icon-popup-close-dark-height: 16px;
@icon-popup-close-dark-total-width: 405px;
@icon-popup-close-dark-total-height: 286px;
@icon-popup-close-dark-image: '../img/iconostas.png';
@icon-popup-close-dark: 388px 120px -388px -120px 16px 16px 405px 286px '../img/iconostas.png' 'icon-popup-close-dark';
@icon-popup-close-name: 'icon-popup-close';
@icon-popup-close-x: 332px;
@icon-popup-close-y: 201px;
@icon-popup-close-offset-x: -332px;
@icon-popup-close-offset-y: -201px;
@icon-popup-close-width: 24px;
@icon-popup-close-height: 24px;
@icon-popup-close-total-width: 405px;
@icon-popup-close-total-height: 286px;
@icon-popup-close-image: '../img/iconostas.png';
@icon-popup-close: 332px 201px -332px -201px 24px 24px 405px 286px '../img/iconostas.png' 'icon-popup-close';
@icon-special-offer-name: 'icon-special-offer';
@icon-special-offer-x: 343px;
@icon-special-offer-y: 120px;
@icon-special-offer-offset-x: -343px;
@icon-special-offer-offset-y: -120px;
@icon-special-offer-width: 18px;
@icon-special-offer-height: 17px;
@icon-special-offer-total-width: 405px;
@icon-special-offer-total-height: 286px;
@icon-special-offer-image: '../img/iconostas.png';
@icon-special-offer: 343px 120px -343px -120px 18px 17px 405px 286px '../img/iconostas.png' 'icon-special-offer';
@icon-time-yellow-mini-name: 'icon-time-yellow-mini';
@icon-time-yellow-mini-x: 390px;
@icon-time-yellow-mini-y: 201px;
@icon-time-yellow-mini-offset-x: -390px;
@icon-time-yellow-mini-offset-y: -201px;
@icon-time-yellow-mini-width: 15px;
@icon-time-yellow-mini-height: 16px;
@icon-time-yellow-mini-total-width: 405px;
@icon-time-yellow-mini-total-height: 286px;
@icon-time-yellow-mini-image: '../img/iconostas.png';
@icon-time-yellow-mini: 390px 201px -390px -201px 15px 16px 405px 286px '../img/iconostas.png' 'icon-time-yellow-mini';
@icon-time-yellow-name: 'icon-time-yellow';
@icon-time-yellow-x: 291px;
@icon-time-yellow-y: 120px;
@icon-time-yellow-offset-x: -291px;
@icon-time-yellow-offset-y: -120px;
@icon-time-yellow-width: 20px;
@icon-time-yellow-height: 20px;
@icon-time-yellow-total-width: 405px;
@icon-time-yellow-total-height: 286px;
@icon-time-yellow-image: '../img/iconostas.png';
@icon-time-yellow: 291px 120px -291px -120px 20px 20px 405px 286px '../img/iconostas.png' 'icon-time-yellow';
@icon-vk-name: 'icon-vk';
@icon-vk-x: 361px;
@icon-vk-y: 201px;
@icon-vk-offset-x: -361px;
@icon-vk-offset-y: -201px;
@icon-vk-width: 24px;
@icon-vk-height: 24px;
@icon-vk-total-width: 405px;
@icon-vk-total-height: 286px;
@icon-vk-image: '../img/iconostas.png';
@icon-vk: 361px 201px -361px -201px 24px 24px 405px 286px '../img/iconostas.png' 'icon-vk';
@icon-warning-mini-name: 'icon-warning-mini';
@icon-warning-mini-x: 185px;
@icon-warning-mini-y: 201px;
@icon-warning-mini-offset-x: -185px;
@icon-warning-mini-offset-y: -201px;
@icon-warning-mini-width: 26px;
@icon-warning-mini-height: 24px;
@icon-warning-mini-total-width: 405px;
@icon-warning-mini-total-height: 286px;
@icon-warning-mini-image: '../img/iconostas.png';
@icon-warning-mini: 185px 201px -185px -201px 26px 24px 405px 286px '../img/iconostas.png' 'icon-warning-mini';
@icon-warning-name: 'icon-warning';
@icon-warning-x: 359px;
@icon-warning-y: 147px;
@icon-warning-offset-x: -359px;
@icon-warning-offset-y: -147px;
@icon-warning-width: 36px;
@icon-warning-height: 31px;
@icon-warning-total-width: 405px;
@icon-warning-total-height: 286px;
@icon-warning-image: '../img/iconostas.png';
@icon-warning: 359px 147px -359px -147px 36px 31px 405px 286px '../img/iconostas.png' 'icon-warning';
@icon-youtube-name: 'icon-youtube';
@icon-youtube-x: 245px;
@icon-youtube-y: 201px;
@icon-youtube-offset-x: -245px;
@icon-youtube-offset-y: -201px;
@icon-youtube-width: 24px;
@icon-youtube-height: 24px;
@icon-youtube-total-width: 405px;
@icon-youtube-total-height: 286px;
@icon-youtube-image: '../img/iconostas.png';
@icon-youtube: 245px 201px -245px -201px 24px 24px 405px 286px '../img/iconostas.png' 'icon-youtube';
@main-logo-responsive-name: 'main-logo-responsive';
@main-logo-responsive-x: 0px;
@main-logo-responsive-y: 201px;
@main-logo-responsive-offset-x: 0px;
@main-logo-responsive-offset-y: -201px;
@main-logo-responsive-width: 180px;
@main-logo-responsive-height: 25px;
@main-logo-responsive-total-width: 405px;
@main-logo-responsive-total-height: 286px;
@main-logo-responsive-image: '../img/iconostas.png';
@main-logo-responsive: 0px 201px 0px -201px 180px 25px 405px 286px '../img/iconostas.png' 'main-logo-responsive';
@main-logo-name: 'main-logo';
@main-logo-x: 0px;
@main-logo-y: 0px;
@main-logo-offset-x: 0px;
@main-logo-offset-y: 0px;
@main-logo-width: 405px;
@main-logo-height: 55px;
@main-logo-total-width: 405px;
@main-logo-total-height: 286px;
@main-logo-image: '../img/iconostas.png';
@main-logo: 0px 0px 0px 0px 405px 55px 405px 286px '../img/iconostas.png' 'main-logo';
@footer-logo-responsive-2x-name: 'footer-logo-responsive@2x';
@footer-logo-responsive-2x-x: 0px;
@footer-logo-responsive-2x-y: 294px;
@footer-logo-responsive-2x-offset-x: 0px;
@footer-logo-responsive-2x-offset-y: -294px;
@footer-logo-responsive-2x-width: 462px;
@footer-logo-responsive-2x-height: 98px;
@footer-logo-responsive-2x-total-width: 810px;
@footer-logo-responsive-2x-total-height: 572px;
@footer-logo-responsive-2x-image: '../img/iconostas@2x.png';
@footer-logo-responsive-2x: 0px 294px 0px -294px 462px 98px 810px 572px '../img/iconostas@2x.png' 'footer-logo-responsive@2x';
@footer-logo-2x-name: 'footer-logo@2x';
@footer-logo-2x-x: 0px;
@footer-logo-2x-y: 120px;
@footer-logo-2x-offset-x: 0px;
@footer-logo-2x-offset-y: -120px;
@footer-logo-2x-width: 472px;
@footer-logo-2x-height: 164px;
@footer-logo-2x-total-width: 810px;
@footer-logo-2x-total-height: 572px;
@footer-logo-2x-image: '../img/iconostas@2x.png';
@footer-logo-2x: 0px 120px 0px -120px 472px 164px 810px 572px '../img/iconostas@2x.png' 'footer-logo@2x';
@icon-arrow-next-2x-name: 'icon-arrow-next@2x';
@icon-arrow-next-2x-x: 718px;
@icon-arrow-next-2x-y: 204px;
@icon-arrow-next-2x-offset-x: -718px;
@icon-arrow-next-2x-offset-y: -204px;
@icon-arrow-next-2x-width: 36px;
@icon-arrow-next-2x-height: 16px;
@icon-arrow-next-2x-total-width: 810px;
@icon-arrow-next-2x-total-height: 572px;
@icon-arrow-next-2x-image: '../img/iconostas@2x.png';
@icon-arrow-next-2x: 718px 204px -718px -204px 36px 16px 810px 572px '../img/iconostas@2x.png' 'icon-arrow-next@2x';
@icon-arrow-prev-2x-name: 'icon-arrow-prev@2x';
@icon-arrow-prev-2x-x: 764px;
@icon-arrow-prev-2x-y: 204px;
@icon-arrow-prev-2x-offset-x: -764px;
@icon-arrow-prev-2x-offset-y: -204px;
@icon-arrow-prev-2x-width: 36px;
@icon-arrow-prev-2x-height: 16px;
@icon-arrow-prev-2x-total-width: 810px;
@icon-arrow-prev-2x-total-height: 572px;
@icon-arrow-prev-2x-image: '../img/iconostas@2x.png';
@icon-arrow-prev-2x: 764px 204px -764px -204px 36px 16px 810px 572px '../img/iconostas@2x.png' 'icon-arrow-prev@2x';
@icon-fb-2x-name: 'icon-fb@2x';
@icon-fb-2x-x: 606px;
@icon-fb-2x-y: 402px;
@icon-fb-2x-offset-x: -606px;
@icon-fb-2x-offset-y: -402px;
@icon-fb-2x-width: 48px;
@icon-fb-2x-height: 48px;
@icon-fb-2x-total-width: 810px;
@icon-fb-2x-total-height: 572px;
@icon-fb-2x-image: '../img/iconostas@2x.png';
@icon-fb-2x: 606px 402px -606px -402px 48px 48px 810px 572px '../img/iconostas@2x.png' 'icon-fb@2x';
@icon-header-warning-2x-name: 'icon-header-warning@2x';
@icon-header-warning-2x-x: 632px;
@icon-header-warning-2x-y: 240px;
@icon-header-warning-2x-offset-x: -632px;
@icon-header-warning-2x-offset-y: -240px;
@icon-header-warning-2x-width: 44px;
@icon-header-warning-2x-height: 36px;
@icon-header-warning-2x-total-width: 810px;
@icon-header-warning-2x-total-height: 572px;
@icon-header-warning-2x-image: '../img/iconostas@2x.png';
@icon-header-warning-2x: 632px 240px -632px -240px 44px 36px 810px 572px '../img/iconostas@2x.png' 'icon-header-warning@2x';
@icon-instagram-2x-name: 'icon-instagram@2x';
@icon-instagram-2x-x: 432px;
@icon-instagram-2x-y: 402px;
@icon-instagram-2x-offset-x: -432px;
@icon-instagram-2x-offset-y: -402px;
@icon-instagram-2x-width: 48px;
@icon-instagram-2x-height: 48px;
@icon-instagram-2x-total-width: 810px;
@icon-instagram-2x-total-height: 572px;
@icon-instagram-2x-image: '../img/iconostas@2x.png';
@icon-instagram-2x: 432px 402px -432px -402px 48px 48px 810px 572px '../img/iconostas@2x.png' 'icon-instagram@2x';
@icon-lens-2x-name: 'icon-lens@2x';
@icon-lens-2x-x: 732px;
@icon-lens-2x-y: 240px;
@icon-lens-2x-offset-x: -732px;
@icon-lens-2x-offset-y: -240px;
@icon-lens-2x-width: 34px;
@icon-lens-2x-height: 34px;
@icon-lens-2x-total-width: 810px;
@icon-lens-2x-total-height: 572px;
@icon-lens-2x-image: '../img/iconostas@2x.png';
@icon-lens-2x: 732px 240px -732px -240px 34px 34px 810px 572px '../img/iconostas@2x.png' 'icon-lens@2x';
@icon-mail-2x-name: 'icon-mail@2x';
@icon-mail-2x-x: 548px;
@icon-mail-2x-y: 402px;
@icon-mail-2x-offset-x: -548px;
@icon-mail-2x-offset-y: -402px;
@icon-mail-2x-width: 48px;
@icon-mail-2x-height: 48px;
@icon-mail-2x-total-width: 810px;
@icon-mail-2x-total-height: 572px;
@icon-mail-2x-image: '../img/iconostas@2x.png';
@icon-mail-2x: 548px 402px -548px -402px 48px 48px 810px 572px '../img/iconostas@2x.png' 'icon-mail@2x';
@icon-mark-yellow-mini-2x-name: 'icon-mark-yellow-mini@2x';
@icon-mark-yellow-mini-2x-x: 276px;
@icon-mark-yellow-mini-2x-y: 462px;
@icon-mark-yellow-mini-2x-offset-x: -276px;
@icon-mark-yellow-mini-2x-offset-y: -462px;
@icon-mark-yellow-mini-2x-width: 30px;
@icon-mark-yellow-mini-2x-height: 32px;
@icon-mark-yellow-mini-2x-total-width: 810px;
@icon-mark-yellow-mini-2x-total-height: 572px;
@icon-mark-yellow-mini-2x-image: '../img/iconostas@2x.png';
@icon-mark-yellow-mini-2x: 276px 462px -276px -462px 30px 32px 810px 572px '../img/iconostas@2x.png' 'icon-mark-yellow-mini@2x';
@icon-mark-yellow-2x-name: 'icon-mark-yellow@2x';
@icon-mark-yellow-2x-x: 482px;
@icon-mark-yellow-2x-y: 240px;
@icon-mark-yellow-2x-offset-x: -482px;
@icon-mark-yellow-2x-offset-y: -240px;
@icon-mark-yellow-2x-width: 40px;
@icon-mark-yellow-2x-height: 40px;
@icon-mark-yellow-2x-total-width: 810px;
@icon-mark-yellow-2x-total-height: 572px;
@icon-mark-yellow-2x-image: '../img/iconostas@2x.png';
@icon-mark-yellow-2x: 482px 240px -482px -240px 40px 40px 810px 572px '../img/iconostas@2x.png' 'icon-mark-yellow@2x';
@icon-menu-accessories-mini-2x-name: 'icon-menu-accessories-mini@2x';
@icon-menu-accessories-mini-2x-x: 636px;
@icon-menu-accessories-mini-2x-y: 294px;
@icon-menu-accessories-mini-2x-offset-x: -636px;
@icon-menu-accessories-mini-2x-offset-y: -294px;
@icon-menu-accessories-mini-2x-width: 72px;
@icon-menu-accessories-mini-2x-height: 74px;
@icon-menu-accessories-mini-2x-total-width: 810px;
@icon-menu-accessories-mini-2x-total-height: 572px;
@icon-menu-accessories-mini-2x-image: '../img/iconostas@2x.png';
@icon-menu-accessories-mini-2x: 636px 294px -636px -294px 72px 74px 810px 572px '../img/iconostas@2x.png' 'icon-menu-accessories-mini@2x';
@icon-menu-accessories-2x-name: 'icon-menu-accessories@2x';
@icon-menu-accessories-2x-x: 118px;
@icon-menu-accessories-2x-y: 462px;
@icon-menu-accessories-2x-offset-x: -118px;
@icon-menu-accessories-2x-offset-y: -462px;
@icon-menu-accessories-2x-width: 108px;
@icon-menu-accessories-2x-height: 110px;
@icon-menu-accessories-2x-total-width: 810px;
@icon-menu-accessories-2x-total-height: 572px;
@icon-menu-accessories-2x-image: '../img/iconostas@2x.png';
@icon-menu-accessories-2x: 118px 462px -118px -462px 108px 110px 810px 572px '../img/iconostas@2x.png' 'icon-menu-accessories@2x';
@icon-menu-arrow-gray-2x-name: 'icon-menu-arrow-gray@2x';
@icon-menu-arrow-gray-2x-x: 316px;
@icon-menu-arrow-gray-2x-y: 462px;
@icon-menu-arrow-gray-2x-offset-x: -316px;
@icon-menu-arrow-gray-2x-offset-y: -462px;
@icon-menu-arrow-gray-2x-width: 24px;
@icon-menu-arrow-gray-2x-height: 22px;
@icon-menu-arrow-gray-2x-total-width: 810px;
@icon-menu-arrow-gray-2x-total-height: 572px;
@icon-menu-arrow-gray-2x-image: '../img/iconostas@2x.png';
@icon-menu-arrow-gray-2x: 316px 462px -316px -462px 24px 22px 810px 572px '../img/iconostas@2x.png' 'icon-menu-arrow-gray@2x';
@icon-menu-arrow-2x-name: 'icon-menu-arrow@2x';
@icon-menu-arrow-2x-x: 350px;
@icon-menu-arrow-2x-y: 462px;
@icon-menu-arrow-2x-offset-x: -350px;
@icon-menu-arrow-2x-offset-y: -462px;
@icon-menu-arrow-2x-width: 24px;
@icon-menu-arrow-2x-height: 22px;
@icon-menu-arrow-2x-total-width: 810px;
@icon-menu-arrow-2x-total-height: 572px;
@icon-menu-arrow-2x-image: '../img/iconostas@2x.png';
@icon-menu-arrow-2x: 350px 462px -350px -462px 24px 22px 810px 572px '../img/iconostas@2x.png' 'icon-menu-arrow@2x';
@icon-menu-gems-mini-2x-name: 'icon-menu-gems-mini@2x';
@icon-menu-gems-mini-2x-x: 472px;
@icon-menu-gems-mini-2x-y: 294px;
@icon-menu-gems-mini-2x-offset-x: -472px;
@icon-menu-gems-mini-2x-offset-y: -294px;
@icon-menu-gems-mini-2x-width: 72px;
@icon-menu-gems-mini-2x-height: 74px;
@icon-menu-gems-mini-2x-total-width: 810px;
@icon-menu-gems-mini-2x-total-height: 572px;
@icon-menu-gems-mini-2x-image: '../img/iconostas@2x.png';
@icon-menu-gems-mini-2x: 472px 294px -472px -294px 72px 74px 810px 572px '../img/iconostas@2x.png' 'icon-menu-gems-mini@2x';
@icon-menu-gems-2x-name: 'icon-menu-gems@2x';
@icon-menu-gems-2x-x: 0px;
@icon-menu-gems-2x-y: 462px;
@icon-menu-gems-2x-offset-x: 0px;
@icon-menu-gems-2x-offset-y: -462px;
@icon-menu-gems-2x-width: 108px;
@icon-menu-gems-2x-height: 110px;
@icon-menu-gems-2x-total-width: 810px;
@icon-menu-gems-2x-total-height: 572px;
@icon-menu-gems-2x-image: '../img/iconostas@2x.png';
@icon-menu-gems-2x: 0px 462px 0px -462px 108px 110px 810px 572px '../img/iconostas@2x.png' 'icon-menu-gems@2x';
@icon-menu-jewelry-mini-2x-name: 'icon-menu-jewelry-mini@2x';
@icon-menu-jewelry-mini-2x-x: 718px;
@icon-menu-jewelry-mini-2x-y: 120px;
@icon-menu-jewelry-mini-2x-offset-x: -718px;
@icon-menu-jewelry-mini-2x-offset-y: -120px;
@icon-menu-jewelry-mini-2x-width: 72px;
@icon-menu-jewelry-mini-2x-height: 74px;
@icon-menu-jewelry-mini-2x-total-width: 810px;
@icon-menu-jewelry-mini-2x-total-height: 572px;
@icon-menu-jewelry-mini-2x-image: '../img/iconostas@2x.png';
@icon-menu-jewelry-mini-2x: 718px 120px -718px -120px 72px 74px 810px 572px '../img/iconostas@2x.png' 'icon-menu-jewelry-mini@2x';
@icon-menu-jewelry-2x-name: 'icon-menu-jewelry@2x';
@icon-menu-jewelry-2x-x: 482px;
@icon-menu-jewelry-2x-y: 120px;
@icon-menu-jewelry-2x-offset-x: -482px;
@icon-menu-jewelry-2x-offset-y: -120px;
@icon-menu-jewelry-2x-width: 108px;
@icon-menu-jewelry-2x-height: 110px;
@icon-menu-jewelry-2x-total-width: 810px;
@icon-menu-jewelry-2x-total-height: 572px;
@icon-menu-jewelry-2x-image: '../img/iconostas@2x.png';
@icon-menu-jewelry-2x: 482px 120px -482px -120px 108px 110px 810px 572px '../img/iconostas@2x.png' 'icon-menu-jewelry@2x';
@icon-menu-watch-mini-2x-name: 'icon-menu-watch-mini@2x';
@icon-menu-watch-mini-2x-x: 554px;
@icon-menu-watch-mini-2x-y: 294px;
@icon-menu-watch-mini-2x-offset-x: -554px;
@icon-menu-watch-mini-2x-offset-y: -294px;
@icon-menu-watch-mini-2x-width: 72px;
@icon-menu-watch-mini-2x-height: 74px;
@icon-menu-watch-mini-2x-total-width: 810px;
@icon-menu-watch-mini-2x-total-height: 572px;
@icon-menu-watch-mini-2x-image: '../img/iconostas@2x.png';
@icon-menu-watch-mini-2x: 554px 294px -554px -294px 72px 74px 810px 572px '../img/iconostas@2x.png' 'icon-menu-watch-mini@2x';
@icon-menu-watch-2x-name: 'icon-menu-watch@2x';
@icon-menu-watch-2x-x: 600px;
@icon-menu-watch-2x-y: 120px;
@icon-menu-watch-2x-offset-x: -600px;
@icon-menu-watch-2x-offset-y: -120px;
@icon-menu-watch-2x-width: 108px;
@icon-menu-watch-2x-height: 110px;
@icon-menu-watch-2x-total-width: 810px;
@icon-menu-watch-2x-total-height: 572px;
@icon-menu-watch-2x-image: '../img/iconostas@2x.png';
@icon-menu-watch-2x: 600px 120px -600px -120px 108px 110px 810px 572px '../img/iconostas@2x.png' 'icon-menu-watch@2x';
@icon-phone-yellow-mini-2x-name: 'icon-phone-yellow-mini@2x';
@icon-phone-yellow-mini-2x-x: 236px;
@icon-phone-yellow-mini-2x-y: 462px;
@icon-phone-yellow-mini-2x-offset-x: -236px;
@icon-phone-yellow-mini-2x-offset-y: -462px;
@icon-phone-yellow-mini-2x-width: 30px;
@icon-phone-yellow-mini-2x-height: 32px;
@icon-phone-yellow-mini-2x-total-width: 810px;
@icon-phone-yellow-mini-2x-total-height: 572px;
@icon-phone-yellow-mini-2x-image: '../img/iconostas@2x.png';
@icon-phone-yellow-mini-2x: 236px 462px -236px -462px 30px 32px 810px 572px '../img/iconostas@2x.png' 'icon-phone-yellow-mini@2x';
@icon-phone-yellow-2x-name: 'icon-phone-yellow@2x';
@icon-phone-yellow-2x-x: 532px;
@icon-phone-yellow-2x-y: 240px;
@icon-phone-yellow-2x-offset-x: -532px;
@icon-phone-yellow-2x-offset-y: -240px;
@icon-phone-yellow-2x-width: 40px;
@icon-phone-yellow-2x-height: 40px;
@icon-phone-yellow-2x-total-width: 810px;
@icon-phone-yellow-2x-total-height: 572px;
@icon-phone-yellow-2x-image: '../img/iconostas@2x.png';
@icon-phone-yellow-2x: 532px 240px -532px -240px 40px 40px 810px 572px '../img/iconostas@2x.png' 'icon-phone-yellow@2x';
@icon-popup-close-dark-2x-name: 'icon-popup-close-dark@2x';
@icon-popup-close-dark-2x-x: 776px;
@icon-popup-close-dark-2x-y: 240px;
@icon-popup-close-dark-2x-offset-x: -776px;
@icon-popup-close-dark-2x-offset-y: -240px;
@icon-popup-close-dark-2x-width: 32px;
@icon-popup-close-dark-2x-height: 32px;
@icon-popup-close-dark-2x-total-width: 810px;
@icon-popup-close-dark-2x-total-height: 572px;
@icon-popup-close-dark-2x-image: '../img/iconostas@2x.png';
@icon-popup-close-dark-2x: 776px 240px -776px -240px 32px 32px 810px 572px '../img/iconostas@2x.png' 'icon-popup-close-dark@2x';
@icon-popup-close-2x-name: 'icon-popup-close@2x';
@icon-popup-close-2x-x: 664px;
@icon-popup-close-2x-y: 402px;
@icon-popup-close-2x-offset-x: -664px;
@icon-popup-close-2x-offset-y: -402px;
@icon-popup-close-2x-width: 48px;
@icon-popup-close-2x-height: 48px;
@icon-popup-close-2x-total-width: 810px;
@icon-popup-close-2x-total-height: 572px;
@icon-popup-close-2x-image: '../img/iconostas@2x.png';
@icon-popup-close-2x: 664px 402px -664px -402px 48px 48px 810px 572px '../img/iconostas@2x.png' 'icon-popup-close@2x';
@icon-special-offer-2x-name: 'icon-special-offer@2x';
@icon-special-offer-2x-x: 686px;
@icon-special-offer-2x-y: 240px;
@icon-special-offer-2x-offset-x: -686px;
@icon-special-offer-2x-offset-y: -240px;
@icon-special-offer-2x-width: 36px;
@icon-special-offer-2x-height: 34px;
@icon-special-offer-2x-total-width: 810px;
@icon-special-offer-2x-total-height: 572px;
@icon-special-offer-2x-image: '../img/iconostas@2x.png';
@icon-special-offer-2x: 686px 240px -686px -240px 36px 34px 810px 572px '../img/iconostas@2x.png' 'icon-special-offer@2x';
@icon-time-yellow-mini-2x-name: 'icon-time-yellow-mini@2x';
@icon-time-yellow-mini-2x-x: 780px;
@icon-time-yellow-mini-2x-y: 402px;
@icon-time-yellow-mini-2x-offset-x: -780px;
@icon-time-yellow-mini-2x-offset-y: -402px;
@icon-time-yellow-mini-2x-width: 30px;
@icon-time-yellow-mini-2x-height: 32px;
@icon-time-yellow-mini-2x-total-width: 810px;
@icon-time-yellow-mini-2x-total-height: 572px;
@icon-time-yellow-mini-2x-image: '../img/iconostas@2x.png';
@icon-time-yellow-mini-2x: 780px 402px -780px -402px 30px 32px 810px 572px '../img/iconostas@2x.png' 'icon-time-yellow-mini@2x';
@icon-time-yellow-2x-name: 'icon-time-yellow@2x';
@icon-time-yellow-2x-x: 582px;
@icon-time-yellow-2x-y: 240px;
@icon-time-yellow-2x-offset-x: -582px;
@icon-time-yellow-2x-offset-y: -240px;
@icon-time-yellow-2x-width: 40px;
@icon-time-yellow-2x-height: 40px;
@icon-time-yellow-2x-total-width: 810px;
@icon-time-yellow-2x-total-height: 572px;
@icon-time-yellow-2x-image: '../img/iconostas@2x.png';
@icon-time-yellow-2x: 582px 240px -582px -240px 40px 40px 810px 572px '../img/iconostas@2x.png' 'icon-time-yellow@2x';
@icon-vk-2x-name: 'icon-vk@2x';
@icon-vk-2x-x: 722px;
@icon-vk-2x-y: 402px;
@icon-vk-2x-offset-x: -722px;
@icon-vk-2x-offset-y: -402px;
@icon-vk-2x-width: 48px;
@icon-vk-2x-height: 48px;
@icon-vk-2x-total-width: 810px;
@icon-vk-2x-total-height: 572px;
@icon-vk-2x-image: '../img/iconostas@2x.png';
@icon-vk-2x: 722px 402px -722px -402px 48px 48px 810px 572px '../img/iconostas@2x.png' 'icon-vk@2x';
@icon-warning-mini-2x-name: 'icon-warning-mini@2x';
@icon-warning-mini-2x-x: 370px;
@icon-warning-mini-2x-y: 402px;
@icon-warning-mini-2x-offset-x: -370px;
@icon-warning-mini-2x-offset-y: -402px;
@icon-warning-mini-2x-width: 52px;
@icon-warning-mini-2x-height: 48px;
@icon-warning-mini-2x-total-width: 810px;
@icon-warning-mini-2x-total-height: 572px;
@icon-warning-mini-2x-image: '../img/iconostas@2x.png';
@icon-warning-mini-2x: 370px 402px -370px -402px 52px 48px 810px 572px '../img/iconostas@2x.png' 'icon-warning-mini@2x';
@icon-warning-2x-name: 'icon-warning@2x';
@icon-warning-2x-x: 718px;
@icon-warning-2x-y: 294px;
@icon-warning-2x-offset-x: -718px;
@icon-warning-2x-offset-y: -294px;
@icon-warning-2x-width: 72px;
@icon-warning-2x-height: 62px;
@icon-warning-2x-total-width: 810px;
@icon-warning-2x-total-height: 572px;
@icon-warning-2x-image: '../img/iconostas@2x.png';
@icon-warning-2x: 718px 294px -718px -294px 72px 62px 810px 572px '../img/iconostas@2x.png' 'icon-warning@2x';
@icon-youtube-2x-name: 'icon-youtube@2x';
@icon-youtube-2x-x: 490px;
@icon-youtube-2x-y: 402px;
@icon-youtube-2x-offset-x: -490px;
@icon-youtube-2x-offset-y: -402px;
@icon-youtube-2x-width: 48px;
@icon-youtube-2x-height: 48px;
@icon-youtube-2x-total-width: 810px;
@icon-youtube-2x-total-height: 572px;
@icon-youtube-2x-image: '../img/iconostas@2x.png';
@icon-youtube-2x: 490px 402px -490px -402px 48px 48px 810px 572px '../img/iconostas@2x.png' 'icon-youtube@2x';
@main-logo-responsive-2x-name: 'main-logo-responsive@2x';
@main-logo-responsive-2x-x: 0px;
@main-logo-responsive-2x-y: 402px;
@main-logo-responsive-2x-offset-x: 0px;
@main-logo-responsive-2x-offset-y: -402px;
@main-logo-responsive-2x-width: 360px;
@main-logo-responsive-2x-height: 50px;
@main-logo-responsive-2x-total-width: 810px;
@main-logo-responsive-2x-total-height: 572px;
@main-logo-responsive-2x-image: '../img/iconostas@2x.png';
@main-logo-responsive-2x: 0px 402px 0px -402px 360px 50px 810px 572px '../img/iconostas@2x.png' 'main-logo-responsive@2x';
@main-logo-2x-name: 'main-logo@2x';
@main-logo-2x-x: 0px;
@main-logo-2x-y: 0px;
@main-logo-2x-offset-x: 0px;
@main-logo-2x-offset-y: 0px;
@main-logo-2x-width: 810px;
@main-logo-2x-height: 110px;
@main-logo-2x-total-width: 810px;
@main-logo-2x-total-height: 572px;
@main-logo-2x-image: '../img/iconostas@2x.png';
@main-logo-2x: 0px 0px 0px 0px 810px 110px 810px 572px '../img/iconostas@2x.png' 'main-logo@2x';
@spritesheet-width: 405px;
@spritesheet-height: 286px;
@spritesheet-image: '../img/iconostas.png';
@spritesheet-sprites: @footer-logo-responsive @footer-logo @icon-arrow-next @icon-arrow-prev @icon-fb @icon-header-warning @icon-instagram @icon-lens @icon-mail @icon-mark-yellow-mini @icon-mark-yellow @icon-menu-accessories-mini @icon-menu-accessories @icon-menu-arrow-gray @icon-menu-arrow @icon-menu-gems-mini @icon-menu-gems @icon-menu-jewelry-mini @icon-menu-jewelry @icon-menu-watch-mini @icon-menu-watch @icon-phone-yellow-mini @icon-phone-yellow @icon-popup-close-dark @icon-popup-close @icon-special-offer @icon-time-yellow-mini @icon-time-yellow @icon-vk @icon-warning-mini @icon-warning @icon-youtube @main-logo-responsive @main-logo;
@spritesheet: 405px 286px '../img/iconostas.png' @spritesheet-sprites;
@retina-spritesheet-width: 810px;
@retina-spritesheet-height: 572px;
@retina-spritesheet-image: '../img/iconostas@2x.png';
@retina-spritesheet-sprites: @footer-logo-responsive-2x @footer-logo-2x @icon-arrow-next-2x @icon-arrow-prev-2x @icon-fb-2x @icon-header-warning-2x @icon-instagram-2x @icon-lens-2x @icon-mail-2x @icon-mark-yellow-mini-2x @icon-mark-yellow-2x @icon-menu-accessories-mini-2x @icon-menu-accessories-2x @icon-menu-arrow-gray-2x @icon-menu-arrow-2x @icon-menu-gems-mini-2x @icon-menu-gems-2x @icon-menu-jewelry-mini-2x @icon-menu-jewelry-2x @icon-menu-watch-mini-2x @icon-menu-watch-2x @icon-phone-yellow-mini-2x @icon-phone-yellow-2x @icon-popup-close-dark-2x @icon-popup-close-2x @icon-special-offer-2x @icon-time-yellow-mini-2x @icon-time-yellow-2x @icon-vk-2x @icon-warning-mini-2x @icon-warning-2x @icon-youtube-2x @main-logo-responsive-2x @main-logo-2x;
@retina-spritesheet: 810px 572px '../img/iconostas@2x.png' @retina-spritesheet-sprites;

/*
These "retina group" variables are mappings for the naming and pairing of normal and retina sprites.

The list formatted variables are intended for mixins like `retina-sprite` and `retina-sprites`.
*/
@footer-logo-responsive-group-name: 'footer-logo-responsive';
@footer-logo-responsive-group: 'footer-logo-responsive' @footer-logo-responsive @footer-logo-responsive-2x;
@footer-logo-group-name: 'footer-logo';
@footer-logo-group: 'footer-logo' @footer-logo @footer-logo-2x;
@icon-arrow-next-group-name: 'icon-arrow-next';
@icon-arrow-next-group: 'icon-arrow-next' @icon-arrow-next @icon-arrow-next-2x;
@icon-arrow-prev-group-name: 'icon-arrow-prev';
@icon-arrow-prev-group: 'icon-arrow-prev' @icon-arrow-prev @icon-arrow-prev-2x;
@icon-fb-group-name: 'icon-fb';
@icon-fb-group: 'icon-fb' @icon-fb @icon-fb-2x;
@icon-header-warning-group-name: 'icon-header-warning';
@icon-header-warning-group: 'icon-header-warning' @icon-header-warning @icon-header-warning-2x;
@icon-instagram-group-name: 'icon-instagram';
@icon-instagram-group: 'icon-instagram' @icon-instagram @icon-instagram-2x;
@icon-lens-group-name: 'icon-lens';
@icon-lens-group: 'icon-lens' @icon-lens @icon-lens-2x;
@icon-mail-group-name: 'icon-mail';
@icon-mail-group: 'icon-mail' @icon-mail @icon-mail-2x;
@icon-mark-yellow-mini-group-name: 'icon-mark-yellow-mini';
@icon-mark-yellow-mini-group: 'icon-mark-yellow-mini' @icon-mark-yellow-mini @icon-mark-yellow-mini-2x;
@icon-mark-yellow-group-name: 'icon-mark-yellow';
@icon-mark-yellow-group: 'icon-mark-yellow' @icon-mark-yellow @icon-mark-yellow-2x;
@icon-menu-accessories-mini-group-name: 'icon-menu-accessories-mini';
@icon-menu-accessories-mini-group: 'icon-menu-accessories-mini' @icon-menu-accessories-mini @icon-menu-accessories-mini-2x;
@icon-menu-accessories-group-name: 'icon-menu-accessories';
@icon-menu-accessories-group: 'icon-menu-accessories' @icon-menu-accessories @icon-menu-accessories-2x;
@icon-menu-arrow-gray-group-name: 'icon-menu-arrow-gray';
@icon-menu-arrow-gray-group: 'icon-menu-arrow-gray' @icon-menu-arrow-gray @icon-menu-arrow-gray-2x;
@icon-menu-arrow-group-name: 'icon-menu-arrow';
@icon-menu-arrow-group: 'icon-menu-arrow' @icon-menu-arrow @icon-menu-arrow-2x;
@icon-menu-gems-mini-group-name: 'icon-menu-gems-mini';
@icon-menu-gems-mini-group: 'icon-menu-gems-mini' @icon-menu-gems-mini @icon-menu-gems-mini-2x;
@icon-menu-gems-group-name: 'icon-menu-gems';
@icon-menu-gems-group: 'icon-menu-gems' @icon-menu-gems @icon-menu-gems-2x;
@icon-menu-jewelry-mini-group-name: 'icon-menu-jewelry-mini';
@icon-menu-jewelry-mini-group: 'icon-menu-jewelry-mini' @icon-menu-jewelry-mini @icon-menu-jewelry-mini-2x;
@icon-menu-jewelry-group-name: 'icon-menu-jewelry';
@icon-menu-jewelry-group: 'icon-menu-jewelry' @icon-menu-jewelry @icon-menu-jewelry-2x;
@icon-menu-watch-mini-group-name: 'icon-menu-watch-mini';
@icon-menu-watch-mini-group: 'icon-menu-watch-mini' @icon-menu-watch-mini @icon-menu-watch-mini-2x;
@icon-menu-watch-group-name: 'icon-menu-watch';
@icon-menu-watch-group: 'icon-menu-watch' @icon-menu-watch @icon-menu-watch-2x;
@icon-phone-yellow-mini-group-name: 'icon-phone-yellow-mini';
@icon-phone-yellow-mini-group: 'icon-phone-yellow-mini' @icon-phone-yellow-mini @icon-phone-yellow-mini-2x;
@icon-phone-yellow-group-name: 'icon-phone-yellow';
@icon-phone-yellow-group: 'icon-phone-yellow' @icon-phone-yellow @icon-phone-yellow-2x;
@icon-popup-close-dark-group-name: 'icon-popup-close-dark';
@icon-popup-close-dark-group: 'icon-popup-close-dark' @icon-popup-close-dark @icon-popup-close-dark-2x;
@icon-popup-close-group-name: 'icon-popup-close';
@icon-popup-close-group: 'icon-popup-close' @icon-popup-close @icon-popup-close-2x;
@icon-special-offer-group-name: 'icon-special-offer';
@icon-special-offer-group: 'icon-special-offer' @icon-special-offer @icon-special-offer-2x;
@icon-time-yellow-mini-group-name: 'icon-time-yellow-mini';
@icon-time-yellow-mini-group: 'icon-time-yellow-mini' @icon-time-yellow-mini @icon-time-yellow-mini-2x;
@icon-time-yellow-group-name: 'icon-time-yellow';
@icon-time-yellow-group: 'icon-time-yellow' @icon-time-yellow @icon-time-yellow-2x;
@icon-vk-group-name: 'icon-vk';
@icon-vk-group: 'icon-vk' @icon-vk @icon-vk-2x;
@icon-warning-mini-group-name: 'icon-warning-mini';
@icon-warning-mini-group: 'icon-warning-mini' @icon-warning-mini @icon-warning-mini-2x;
@icon-warning-group-name: 'icon-warning';
@icon-warning-group: 'icon-warning' @icon-warning @icon-warning-2x;
@icon-youtube-group-name: 'icon-youtube';
@icon-youtube-group: 'icon-youtube' @icon-youtube @icon-youtube-2x;
@main-logo-responsive-group-name: 'main-logo-responsive';
@main-logo-responsive-group: 'main-logo-responsive' @main-logo-responsive @main-logo-responsive-2x;
@main-logo-group-name: 'main-logo';
@main-logo-group: 'main-logo' @main-logo @main-logo-2x;
@retina-groups: @footer-logo-responsive-group @footer-logo-group @icon-arrow-next-group @icon-arrow-prev-group @icon-fb-group @icon-header-warning-group @icon-instagram-group @icon-lens-group @icon-mail-group @icon-mark-yellow-mini-group @icon-mark-yellow-group @icon-menu-accessories-mini-group @icon-menu-accessories-group @icon-menu-arrow-gray-group @icon-menu-arrow-group @icon-menu-gems-mini-group @icon-menu-gems-group @icon-menu-jewelry-mini-group @icon-menu-jewelry-group @icon-menu-watch-mini-group @icon-menu-watch-group @icon-phone-yellow-mini-group @icon-phone-yellow-group @icon-popup-close-dark-group @icon-popup-close-group @icon-special-offer-group @icon-time-yellow-mini-group @icon-time-yellow-group @icon-vk-group @icon-warning-mini-group @icon-warning-group @icon-youtube-group @main-logo-responsive-group @main-logo-group;

/*
The provided classes are intended to be used with the array-like variables

.icon-home {
  .sprite-width(@icon-home);
}
.icon-email {
  .sprite(@icon-email);
}

Example usage in HTML:

`display: block` sprite:
<div class="icon-home"></div>

To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:

// CSS
.icon {
  display: inline-block;
}

// HTML
<i class="icon icon-home"></i>
*/
.sprite-width(@sprite) {
  width: extract(@sprite, 5);
}

.sprite-height(@sprite) {
  height: extract(@sprite, 6);
}

.sprite-position(@sprite) {
  @sprite-offset-x: extract(@sprite, 3);
  @sprite-offset-y: extract(@sprite, 4);
  background-position: @sprite-offset-x @sprite-offset-y;
}

.sprite-image(@sprite) {
  @sprite-image: extract(@sprite, 9);
  @sprite-image-bare: ~`"@{sprite-image}".slice(1, -1)`;
  background-image: url(@sprite-image-bare);
}

.sprite(@sprite) {
  .sprite-image(@sprite);
  .sprite-position(@sprite);
  .sprite-width(@sprite);
  .sprite-height(@sprite);
}

/*
The `retina-sprite` class sets up rules and a media query for a sprite/retina sprite.
  It should be used with a "retina group" variable.

The media query is from CSS Tricks: https://css-tricks.com/snippets/css/retina-display-media-query/

@icon-home-group: 'icon-home' @icon-home @icon-home-2x;

.icon-home {
  .retina-sprite(@icon-home-group);
}
*/
.sprite-background-size(@sprite) {
  @sprite-total-width: extract(@sprite, 7);
  @sprite-total-height: extract(@sprite, 8);
  background-size: @sprite-total-width @sprite-total-height;
}

.retina-sprite(@retina-group) {
  @normal-sprite: extract(@retina-group, 2);
  @retina-sprite: extract(@retina-group, 3);
  .sprite(@normal-sprite);

  @media (-webkit-min-device-pixel-ratio: 2),
         (min-resolution: 192dpi) {
    .sprite-image(@retina-sprite);
    .sprite-background-size(@normal-sprite);
  }
}

/*
The `.sprites` mixin generates identical output to the CSS template
  but can be overridden inside of LESS

This must be run when you have at least 2 sprites.
  If run with a single sprite, then there will be reference errors.

.sprites(@spritesheet-sprites);
*/
.sprites(@sprites, @i: 1) when (@i <= length(@sprites)) {
  @sprite: extract(@sprites, @i);
  @sprite-name: e(extract(@sprite, 10));
  .@{sprite-name} {
    .sprite(@sprite);
  }
  .sprites(@sprites, @i + 1);
}

/*
The `.retina-sprites` mixin generates a CSS rule and media query for retina groups
  This yields the same output as CSS retina template but can be overridden in LESS

.retina-sprites(@retina-groups);
*/
.retina-sprites(@retina-groups, @i: 1) when (@i <= length(@retina-groups)) {
  @retina-group: extract(@retina-groups, @i);
  @sprite-name: e(extract(@retina-group, 1));
  .@{sprite-name} {
    .retina-sprite(@retina-group);
  }
  .retina-sprites(@retina-groups, @i + 1);
}
