.pagination {
	text-align: center;
	margin: 35px 0;
	&__item {
		display: inline-block;
		vertical-align: top;
		width: 40px;
		height: 40px;
		background-color: #efefeb;
		.transition(all .2s);
		.border-radius(50%);
		&_active {
			background-color: @white;
			.box-shadow(0 2px 4px 0 rgba(0, 0, 0, 0.15));
			.pagination__link {
				font-size: @18;
				color: rgba(173,20,87,.8);
			}
		}
		&:hover {
			background-color: @white;
			.box-shadow(0 2px 4px 0 rgba(0, 0, 0, 0.15));
			.pagination__link {
				font-size: @18;
				color: rgba(173,20,87,.8);
			}
		}
		&_inactive {
			cursor: default;
			background-color: #efefeb;
			.box-shadow(0 2px 4px 0 transparent);
			.pagination__link {
				cursor: default;
				font-size: @14;
				color: #193341;
			}
			&:hover {
				background-color: #efefeb;
				.box-shadow(0 2px 4px 0 transparent);
				.pagination__link {
					font-size: @14;
					color: #193341;
				}
			}
		}
	}
	&__link {
		display: block;
		text-align: center;
		.ptserif();
		.font(@14, #193341);
		text-decoration: none;
		line-height: 38px;
		.transition(color .2s);
	}
}