.popup {
	position: relative;
	border-radius: 2px;
	background-color: #efefeb;
	box-shadow: 0 10px 30px 0 rgba(0, 0, 0, 0.1), 0 2px 15px 0 rgba(24, 51, 65, 0.15);
	&_std {
		width: 560px;
		padding: 30px 50px 40px;
		.popup__close {
			position: absolute;
			right: 8px;
			top: 8px;
			.retina-sprite(@icon-popup-close-dark-group);
		}
	}
	&_product {
		width: calc(~"100vw - 48px");
		background-color: @white;
		.popup__close {
			position: absolute;
			right: 8px;
			top: 8px;
			.retina-sprite(@icon-popup-close-dark-group);
		}
	}
	&_contacts {
		background-color: @white;
		text-align: center;
		width: 480px;
		border-radius: 0;
	}
	&__close {
		&_info {
			text-decoration: none;
			display: inline-block;
			.ptserif();
			.font(@16, #575792);
			padding: 15px 15px 20px;
			span {
				display: inline-block;
				vertical-align: -4px;
				width: 20px;
				height: 20px;
				border: solid 1px #575792;
				.border-radius(50%);
				position: relative;
				margin-right: 10px - 4px;
				&:after,
				&:before {
					content:'';
					width: 10px;
					height: 1px;
					background-color: #575792;
					position: absolute;
					top: 50%;
					left: 50%;
					margin-left: -5px;
					margin-top: -1px;
				}
				&:after {
					.transform(rotate(45deg));
				}
				&:before {
					.transform(rotate(-45deg));
				}
			}
		}
	}
	&__content {}
	&__slider-wrap {
		overflow: hidden;
	}
	&__title {
		.playfair();
		.font(@24, #193341);
		line-height: 1.63;
	}

	.form__textarea {
		height: 50px;
		&::-webkit-input-placeholder {
			color: rgba(25,51,62,.6);
			opacity: 1 !important;
		};
			&::-moz-placeholder {
			color: rgba(25,51,62,.6) !important;
			opacity: 1 !important;
		};
			&:-ms-input-placeholder {
			color: rgba(25,51,62,.6);
			opacity: 1 !important;
		};
	}
}


@media screen and (max-width: 620px) {
	.popup {
		&_std {
			width: auto;
			padding: 30px 20px 40px;
		}
	}
}

@media screen and (max-width: 550px) {
	.popup {
		&_contacts {
			width: 300px;
		}
		&__close {
			&_info {
				font-size: @11;
				span {
					vertical-align: -3px;
					width: 16px;
					height: 16px;
					&:after,
					&:before {
						width: 8px;
						margin-left: -4px;
					}
				}
			}
		}
	}
}

@media screen and (max-width: 400px) {
	.popup {
		&_contacts {
			width: 272px;
		}
	}
}