	<!-- FIRST SECTION -->
	<section class="section section_frist">
		<div class="first-content">
			<div class="container">
				<div class="first-content__inner">
					<div class="first-content__col first-content__col_logo">
						<a href="javascript:void(0);" class="first-content__logo">
							<!-- <img src="img/main-logo.png" alt="" class="first-content__logo-img"> -->
							<i class="header-logo"></i>
							<i class="header-logo-responsive"></i>
						</a>
						<div class="first-content__logo-descr">
							и элитных украшений<br>на Цветном
						</div>
					</div>
					<div class="first-content__col first-content__col_slider">
						<!-- WATCH-SLIDER -->
						<div class="swiper-container watch-slider">
							<div class="swiper-wrapper">
								<div class="swiper-slide">
									<a href="javascript:void(0);" class="watch-slider__link">
										<div class="watch-slider__col">
											<img src="img/watch-slider-img-01.png" alt="" class="watch-slider__img">
										</div>
										<div class="watch-slider__col">
											<div class="watch-slider__descr">
												<img src="img/rolex-logo.png" alt="" class="watch-slider__logo">
												<ul class="watch-slider__list">
													<li class="watch-slider__list-item">Платина 950 пробы</li>
													<li class="watch-slider__list-item">Механика – автомат</li>
													<li class="watch-slider__list-item">Абсолютно новые</li>
													<li class="watch-slider__list-item">Полный комплект</li>
												</ul>
												<div class="watch-slider__old-price">$78000</div>
												<div class="watch-slider__price">$66 000</div>
											</div>
										</div>
									</a>
								</div>
								<div class="swiper-slide">
									<a href="javascript:void(0);" class="watch-slider__link">
										<div class="watch-slider__col">
											<img src="img/watch-slider-img-02.png" alt="" class="watch-slider__img">
										</div>
										<div class="watch-slider__col">
											<div class="watch-slider__descr">
												<img src="img/festina-logo.png" alt="" class="watch-slider__logo">
												<ul class="watch-slider__list">
													<li class="watch-slider__list-item">Платина 955 пробы</li>
													<li class="watch-slider__list-item">Механика – автомат</li>
													<li class="watch-slider__list-item">Абсолютно новые</li>
													<li class="watch-slider__list-item">Полный комплект</li>
												</ul>
												<div class="watch-slider__old-price">$45000</div>
												<div class="watch-slider__price">$35 000</div>
											</div>
										</div>
									</a>
								</div>
								<div class="swiper-slide">
									<a href="javascript:void(0);" class="watch-slider__link">
										<div class="watch-slider__col">
											<img src="img/watch-slider-img-03.png" alt="" class="watch-slider__img">
										</div>
										<div class="watch-slider__col">
											<div class="watch-slider__descr">
												<img src="img/invicta-logo.png" alt="" class="watch-slider__logo">
												<ul class="watch-slider__list">
													<li class="watch-slider__list-item">Платина 757 пробы</li>
													<li class="watch-slider__list-item">Механика – автомат</li>
													<li class="watch-slider__list-item">Абсолютно новые</li>
													<li class="watch-slider__list-item">Полный комплект</li>
												</ul>
												<div class="watch-slider__old-price">$25000</div>
												<div class="watch-slider__price">$19 700</div>
											</div>
										</div>
									</a>
								</div>
								<div class="swiper-slide">
									<div class="watch-slider__col">
										<img src="img/watch-slider-img-04.png" alt="" class="watch-slider__img">
									</div>
									<div class="watch-slider__col">
										<div class="watch-slider__descr">
											<img src="img/montblanc-logo.png" alt="" class="watch-slider__logo">
											<ul class="watch-slider__list">
												<li class="watch-slider__list-item">Платина 878 пробы</li>
												<li class="watch-slider__list-item">Механика – автомат</li>
												<li class="watch-slider__list-item">Абсолютно новые</li>
												<li class="watch-slider__list-item">Полный комплект</li>
											</ul>
											<div class="watch-slider__old-price">$167000</div>
											<div class="watch-slider__price">$88 960</div>
										</div>
									</div>
								</div>
							</div>
							<div class="swiper-pagination"></div>
						</div>
						<!-- WATCH-SLIDER END -->
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- FIRST SECTION END -->