<!-- FOOTER -->
<footer class="footer">
	<div class="container">
		<div class="footer__body">
			<div class="footer__col footer__col_contacts">
				<div class="footer__field footer__field_logo">
					<a href="javascript:void(0);" class="footer__logo">
						<!-- <img src="img/footer-logo.png" alt="" class="footer__logo-img"> -->
						<i class="footer-logo"></i>
						<img src="img/footer-logo-responsive.png" alt="" class="footer-logo-responsive">
					</a>
				</div>
				<div class="footer__field footer__field_phone">
					<a href="tel:749562374469" class="footer__phone">+7 (495) 623-74-469</a>
				</div>
				<div class="footer__field footer__field_phone">
					<a href="tel:79037930959" class="footer__phone">+7 (903) 793-09-59</a>
				</div>
				<div class="footer__field footer__field_phone">
					<a href="tel:74959975552" class="footer__phone">+7 (495) 997-55-52</a>
				</div>
				<div class="footer__field footer__field_callback">
					<a href="javascript:void(0);" class="footer__callback">Перезвоните мне</a>
				</div>
			</div>
			<div class="footer__col footer__col_navigation">
				<nav class="footer-nav">
					<div class="footer-nav__col">
						<ul class="footer-nav__list">
							<li class="footer-nav__item">
								<a href="javascript:void(0);" class="footer-nav__link">Часы</a>
							</li>
							<li class="footer-nav__item">
								<a href="javascript:void(0);" class="footer-nav__link">Украшения</a>
							</li>
							<li class="footer-nav__item">
								<a href="javascript:void(0);" class="footer-nav__link">Аксессуары</a>
							</li>
							<li class="footer-nav__item">
								<a href="javascript:void(0);" class="footer-nav__link">Драгоценные камни</a>
							</li>
						</ul>
					</div>
					<div class="footer-nav__col">
						<ul class="footer-nav__list">
							<li class="footer-nav__item">
								<a href="javascript:void(0);" class="footer-nav__link">Информация о ломбарде</a>
							</li>
							<li class="footer-nav__item">
								<a href="javascript:void(0);" class="footer-nav__link">Архив каталога</a>
							</li>
							<li class="footer-nav__item">
								<a href="javascript:void(0);" class="footer-nav__link">Юридическая информация</a>
							</li>
							<li class="footer-nav__item">
								<a href="javascript:void(0);" class="footer-nav__link">Новости нашего ломбарда</a>
							</li>
						</ul>
					</div>
				</nav>
			</div>
			<div class="footer__col footer__col_socials">
				<ul class="footer-social-menu">
					<li class="footer-social-menu__item">
						<a href="javascript:void(0);" class="footer-social-menu__link">
							<i class="icon icon-mail"></i>
						</a>
					</li>
					<li class="footer-social-menu__item">
						<a href="javascript:void(0);" class="footer-social-menu__link">
							<i class="icon icon-vk"></i>
						</a>
					</li>
					<li class="footer-social-menu__item">
						<a href="javascript:void(0);" class="footer-social-menu__link">
							<i class="icon icon-fb"></i>
						</a>
					</li>
					<li class="footer-social-menu__item">
						<a href="javascript:void(0);" class="footer-social-menu__link">
							<i class="icon icon-youtube"></i>
						</a>
					</li>
					<li class="footer-social-menu__item">
						<a href="javascript:void(0);" class="footer-social-menu__link">
							<i class="icon icon-instagram"></i>
						</a>
					</li>
				</ul>

				<div class="footer__subscribe">
					<div class="footer__subscribe-descr">
						Подпишитесь на нашу рассылку и будьте в курсе всех новинок в нашем ломбарде
					</div>
					<form class="form form_subscribe">
						<div class="form__field">
							<input type="text" class="form__input" placeholder="Введите вашу эл. почту">
						</div>
					</form>
				</div>
			</div>
		</div>
		<div class="footer__copyright">
			<span>2004-2016</span> © Ломбард часов и элитных ювелирных изделий на Цветном
		</div>
	</div>
</footer>
<!-- FOOTER END -->