	<!-- HEADER -->
	<header class="header header_message">
		<div class="header__additional-info">
			<i class="icon-header-warning"></i>
			Внимание! 31 декабря работаем до 5 часов. С 5 января в штатном режиме
		</div>
		<div class="container">
			<div class="header__col">
				<div class="header__title">
					<i class="icon icon-time-yellow"></i>
					<span class="header__title-text">Сегодня открыты до <span>20:00</span></span>
					<span class="header__hidden-title js-popup-link" data-href="#info">График работы</span>
				</div>
				<div class="header__link-wrap">
					<a href="javascript:void(0);" class="header__link js-header-body">График работы</a>
				</div>
			</div>
			<div class="header__col">
				<div class="header__title">
					<i class="icon icon-mark-yellow"></i>
					<span class="header__title-text">Москва, Печатников переулок 12 (м. Трубная)</span>
					<span class="header__hidden-title js-popup-link" data-href="#info">На карте</span>
				</div>
				<div class="header__link-wrap">
					<a href="javascript:void(0);" class="header__link js-header-body">На карте</a>
				</div>
			</div>
			<div class="header__col">
				<div class="header__title">
					<i class="icon icon-phone-yellow"></i>
					<span class="header__title-text">
						<a href="tel:+79037930959" class="header__phone">+7 (903) 793-09-59</a>
						<a href="tel:+74959975552" class="header__phone">+7 (495) 997-55-52</a>
						<a href="tel:+74959975552" class="header__phone">+7 (495) 997-55-52</a>
						<a href="javascript:void(0);" class="header__link">Viber</a>
						<a href="javascript:void(0);" class="header__link">Whatsap</a>
					</span>
					<span class="header__hidden-title js-popup-link" data-href="#info">Контакты</span>
				</div>
			</div>
		</div>
		<div class="header__body">
			<div class="container">
				<div class="header__col">
					<div class="header__info-row">
						<span>Пн – Пт</span>
						11:00 - 20:00
					</div>
					<div class="header__info-row">
						<span>Сб</span>
						11:00 - 17:00
					</div>
					<div class="header__info-row">
						<span>Вс</span>
						выходной
					</div>
				</div>
				<div class="header__col">
					<div id="header_map" class="header__map"></div>
				</div>
				<div class="header__col">
					<div class="header__link-wrap header__link-wrap_in-body">
						<a href="javascript:void(0);" class="header__link">Viber</a>
						<a href="javascript:void(0);" class="header__link">Whatsap</a>
					</div>
					<div class="header__callback">
						<div class="header__callback-title">Заказать обратный звонок</div>

						<form class="form">
							<div class="form__box">
								<div class="form__field">
									<input type="tel" class="form__input" placeholder="8 (965) 982 78 40">
								</div>
								<button type="submit" class="form__submit btn">Отправить</button>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</header>
	<!-- HEADER END -->