<!DOCTYPE html>
<html lang="ru">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
{% block title %}
	<title>Ломбард часов, продать часы на Цветном</title>
{% endblock %}
{% block links %}
{% include 'blocks/links.twig' %}
{% endblock %}
</head>
<body onload="initialize()">
{% block header %}
{% include 'blocks/header.twig' %}
{% endblock %}
{% block firstContent %}
{% include 'blocks/first-content.twig' %}
{% endblock %}
{% block menu %}{% include 'blocks/menu.twig' %}{% endblock %}
{% block content %}
{% endblock %}
{% block mainMap %}
{% include 'blocks/main-map.twig' %}
{% endblock %}
{% block footer %}
{% include 'blocks/footer.twig' %}
{% endblock %}


{% block popup %}
{% include 'blocks/popup.twig' %}
{% endblock %}
{% block scripts %}
{% include 'blocks/scripts.twig' %}
{% endblock %}
</body>
</html>