	<!-- main styles -->
	<link rel="stylesheet" href="css/main.min.css">

	<!-- swiper-slider -->
	<link rel="stylesheet" href="bower_components/swiper/dist/css/swiper.css">

	<!-- arctic-modal -->
	<link rel="stylesheet" href="bower_components/arcticmodalbw/arcticmodal/jquery.arcticmodal.css">

	<!-- lightgallery.js -->
	<link rel="stylesheet" href="bower_components/lightgallery.js/dist/css/lightgallery.min.css">