<div class="menu-wrapp">
	<div class="container">
		<!-- MENU -->
		<nav class="menu">
			<ul class="menu__list clearfix">
				<li class="menu__item">
					<a href="javascript:void(0);" class="menu__link js-category-show">
						<i class="icon icon-menu-watch"></i>
						<span class="menu__link-name">Часы</span>
					</a>
				</li>
				<li class="menu__item">
					<a href="javascript:void(0);" class="menu__link js-category-show">
						<i class="icon icon-menu-jewelry"></i>
						<span class="menu__link-name">Украшения</span>
					</a>
				</li>
				<li class="menu__item">
					<a href="javascript:void(0);" class="menu__link js-category-show">
						<i class="icon icon-menu-accessories"></i>
						<span class="menu__link-name">Аксессуары</span>
					</a>
				</li>
				<li class="menu__item">
					<a href="javascript:void(0);" class="menu__link js-category-show">
						<i class="icon icon-menu-gems"></i>
						<span class="menu__link-name">Драгоценные камни</span>
					</a>
				</li>
			</ul>

			<a href="javascript:void(0);" data-href="#sell" class="menu__button btn btn_menu js-popup-link">Продать или заложить</a>

			<ul class="menu__list menu__list_bottom">
				<li class="menu__item">
					<a href="javascript:void(0);" class="menu__link">
						<span class="menu__link-name">О ломбарде</span>
					</a>
				</li>
				<li class="menu__item">
					<a href="javascript:void(0);" class="menu__link js-services-show">
						<span class="menu__link-name">Услуги</span>
					</a>
				</li>
				<li class="menu__item">
					<a href="javascript:void(0);" class="menu__link">
						<span class="menu__link-name">Юр. информация</span>
					</a>
				</li>
			</ul>
		</nav>
		<!-- MENU END -->

		<!-- SUB-MENU -->
		<nav id="sub_menu_category" class="sub-menu">
			<div class="sub-menu__inner">
				<a href="javascript:void(0);" class="sub-menu__back sub-menu__back_category">
					<span class="sub-menu__icon-menu">
						<span></span>
					</span>
					<span class="sub-menu__name">Меню</span>
				</a>
				<div class="sub-menu__icon-box">
					<div class="sub-menu__icon-inner-wrap">
						<i class="icon icon-menu-gems"></i>
						<span class="sub-menu__icon-name">Драгоценные камни</span>
					</div>
				</div>
				<div class="sub-menu__button-wrap">
					<a href="javascript:void(0);" data-href="#sell" class="sub-menu__button btn btn_menu js-popup-link">Продать или заложить</a>
					<a href="javascript:void(0);" class="sub-menu__service-link">Услуги по продаже часов</a>
				</div>
			</div>
		</nav>
		<!-- SUB-MENU END -->

		<!-- SUB-MENU-SERVICES -->
		<nav id="sub_menu_services" class="sub-menu sub-menu_services">
			<div class="sub-menu__inner">
				<a href="javascript:void(0);" class="sub-menu__back sub-menu__back_services">
					<i class="icon icon-menu-arrow"></i>
				</a>
				<div class="sub-menu__services">
					<ul class="sub-menu__services-list">
						<li class="sub-menu__services-item">
							<a href="javascript:void(0);" class="sub-menu__services-link">Услуга 1</a>
						</li>
						<li class="sub-menu__services-item">
							<a href="javascript:void(0);" class="sub-menu__services-link">Услуга 2</a>
						</li>
						<li class="sub-menu__services-item">
							<a href="javascript:void(0);" class="sub-menu__services-link">Услуга 3</a>
						</li>
						<li class="sub-menu__services-item">
							<a href="javascript:void(0);" class="sub-menu__services-link">Услуга 1</a>
						</li>
						<li class="sub-menu__services-item">
							<a href="javascript:void(0);" class="sub-menu__services-link">Услуга 2</a>
						</li>
						<li class="sub-menu__services-item">
							<a href="javascript:void(0);" class="sub-menu__services-link">Услуга 3</a>
						</li>
					</ul>
				</div>
			</div>
		</nav>
		<!-- SUB-MENU-SERVICES END -->
	</div>
</div>