	<!-- sell -->
	<div class="hidden-element">
		<div class="popup popup_std" id="sell">
			<a href="javascript:void(0);" class="popup__close arcticmodal-close">
				<i class="icon-popup-close-dark"></i>
			</a>
			<p class="popup__title">Продать или заложить</p>
			<div class="popup__content">
				<form class="form">
					<div class="form__field form__field_with-label">
						<input type="text" class="form__input" required="">
						<label class="form__label">Имя</label>
					</div>
					<div class="form__field form__field_with-label">
						<input type="text" class="form__input" required="">
						<label class="form__label">Название модели</label>
					</div>

					<div class="form__uploads clearfix">
						<div class="form__field">
							<label for="upload_1">
								<input id="upload_1" type="file">
								<span class="form__upload-cover">
									<span>Добавить<br>фотографию</span>
								</span>
							</label>
						</div>
						<div class="form__field">
							<label for="upload_2">
								<input id="upload_2" type="file">
								<span class="form__upload-cover">
									<span>Добавить<br>фотографию</span>
								</span>
							</label>
						</div>
						<div class="form__field">
							<label for="upload_3">
								<input id="upload_3" type="file">
								<span class="form__upload-cover">
									<span>Добавить<br>фотографию</span>
								</span>
							</label>
						</div>
					</div>

					<div class="form__field form__field_with-label">
						<input type="email" class="form__input" required="">
						<label class="form__label">Эл. почта</label>
					</div>
					<div class="form__field form__field_with-label">
						<input type="text" class="form__input" required="">
						<label class="form__label">Tелефон</label>
					</div>
					<div class="form__field">
						<textarea class="form__textarea" placeholder="Добавить комментарий"></textarea>
					</div>
					<div class="form__field form__field_with-label">
						<button type="submit" class="btn btn_menu">Отправить</button>
					</div>
				</form>
			</div>
		</div>
	</div>
	<!-- sell end -->

	<!-- product -->
	<div class="hidden-element">
		<div class="popup popup_product" id="product">
			<a href="javascript:void(0);" class="popup__close arcticmodal-close">
				<i class="icon-popup-close-dark"></i>
			</a>
			<div class="popup__content">
				<div class="product-content clearfix">
					<div class="product-content__col product-content__col_slider">
						<!-- SLIDER -->
						<div class="swiper-container product-gallery">
							<div class="swiper-wrapper">
								<div class="swiper-slide product-gallery__item">
									<img src="http://lombard-chasov.ru/files/9417/thumb-panerai-luminor-crono-flyback-581b0d7fcd9f6.jpg" alt="" class="product-gallery__image">
								</div>
								<div class="swiper-slide product-gallery__item">
									<img src="http://lombard-chasov.ru/files/9418/thumb-panerai-luminor-crono-flyback-581b0d7fe8d91.jpg" alt="" class="product-gallery__image">
								</div>
								<div class="swiper-slide product-gallery__item">
									<img src="http://lombard-chasov.ru/files/9419/thumb-panerai-luminor-crono-flyback-581b0d800adbd.jpg" alt="" class="product-gallery__image">
								</div>
								<div class="swiper-slide product-gallery__item">
									<div class="product-gallery__video-wrap">
										<div class="product-gallery__video-inner">
											<iframe width="100%" height="100%" src="https://www.youtube.com/embed/x35s-1cDFOU" frameborder="0" allowfullscreen></iframe>
										</div>
									</div>
								</div>
								<div class="swiper-slide product-gallery__item product-gallery__item_related-models">
									<h2 class="product-gallery__title">Похожие модели часов</h2>
									<!-- PRODUCT-LIST -->
									<ul class="product-list product-list_in-popup">
										<li class="product-list__item">
											<a href="javascript:void(0);" data-href="#product" class="product-list__link js-popup-link">
												<div class="product-list__img-box">
													<img src="img/product-img.png" alt="" class="product-list__image">
												</div>
												<div class="product-list__name">Franck Muller</div>
												<div class="product-list__description">Conquistador Cortez Chronograph Automatic Steel</div>
												<div class="product-list__price">4 900 $</div>
											</a>
										</li>
										<li class="product-list__item">
											<a href="javascript:void(0);" data-href="#product" class="product-list__link js-popup-link">
												<div class="product-list__img-box">
													<img src="img/product-img.png" alt="" class="product-list__image">
												</div>
												<div class="product-list__name">Franck Muller</div>
												<div class="product-list__description">Conquistador Cortez Chronograph Automatic Steel</div>
												<div class="product-list__price">4 900 $</div>
											</a>
										</li>
										<li class="product-list__item">
											<a href="javascript:void(0);" data-href="#product" class="product-list__link js-popup-link">
												<div class="product-list__img-box">
													<img src="img/product-img.png" alt="" class="product-list__image">
												</div>
												<div class="product-list__name">Franck Muller</div>
												<div class="product-list__description">Conquistador Cortez Chronograph Automatic Steel</div>
												<div class="product-list__price">4 900 $</div>
											</a>
										</li>
									</ul>
									<!-- PRODUCT-LIST END -->
								</div>
							</div>
						</div>
						<!-- SLIDER END -->
						<!-- thumbs -->
						<ul class="product-thumbs">
							<li class='product-thumbs__item product-thumbs__item_active'>
								<img src="img/product-img-01.jpg" alt="" class="product-thumbs__image">
							</li>
							<li class='product-thumbs__item'>
								<img src="img/product-img-02.jpg" alt="" class="product-thumbs__image">
							</li>
							<li class='product-thumbs__item'>
								<img src="img/product-img-03.jpg" alt="" class="product-thumbs__image">
							</li>
							<li class='product-thumbs__item'>
								<img src="img/play.svg" alt="" class="product-page-thumbs__image">
							</li>
							<li class='product-thumbs__item product-thumbs__item_related-models'>
								<img src="img/icon-related-models.png" alt="" class="product-thumbs__image">
							</li>
						</ul>
						<!-- thumbs end -->
					</div>
					<div class="product-content__col product-content__col_information">
						<a href="javascript:void(0);" class="product-content__close arcticmodal-close">
							<div class="product-content__icon-box">
								<i class="icon icon-menu-arrow"></i>
							</div>
							Вернуться к каталогу
						</a>
						<div class="product-content__heading">
							<h1 class="product-content__name">Blu Terzett 42.0 mm</h1>
							<div class="product-content__reference">H13/230.50.9/L</div>
						</div>
						<div class="product-content__set">
							<div class="product-content__set-box">
								<div class="product-content__set-title">Состояние:</div>
								<div class="product-content__set-descr">идеальное</div>
							</div>
							<div class="product-content__set-box">
								<div class="product-content__set-title">Комплектность:</div>
								<div class="product-content__set-descr">только часы</div>
							</div>
						</div>
						<!-- product-information -->
						<ul class="product-information">
							<li class="product-information__row">
								<div class="product-information__inner">
									<div class="product-information__title">Корпус</div>
									<div class="product-information__descr">розовое золото 750 пробы</div>
								</div>
							</li>
							<li class="product-information__row">
								<div class="product-information__inner">
									<div class="product-information__title">Муж / Жен:</div>
									<div class="product-information__descr">Мужские</div>
								</div>
							</li>
							<li class="product-information__row">
								<div class="product-information__inner">
									<div class="product-information__title">Тип:</div>
									<div class="product-information__descr">с усложнениями</div>
								</div>
							</li>
							<li class="product-information__row">
								<div class="product-information__inner">
									<div class="product-information__title">Механизм:</div>
									<div class="product-information__descr">механика - автомат</div>
								</div>
							</li>
							<li class="product-information__row">
								<div class="product-information__inner">
									<div class="product-information__title">Функции:</div>
									<div class="product-information__descr">часы, минуты и дата</div>
								</div>
							</li>
							<li class="product-information__row">
								<div class="product-information__inner">
									<div class="product-information__title">Размер:</div>
									<div class="product-information__descr">42.0 мм</div>
								</div>
							</li>
							<li class="product-information__row">
								<div class="product-information__inner">
									<div class="product-information__title">Стекло:</div>
									<div class="product-information__descr">сапфировое</div>
								</div>
							</li>
							<li class="product-information__row">
								<div class="product-information__inner">
									<div class="product-information__title">Браслет:</div>
									<div class="product-information__descr">кожаный ремень, застежка из<br>розового золота</div>
								</div>
							</li>
							<li class="product-information__row">
								<div class="product-information__inner">
									<div class="product-information__title">Водонепроницаемость:</div>
									<div class="product-information__descr">50 м</div>
								</div>
							</li>
						</ul>
						<!-- product-information end -->
						<div class="product-content__footer">
							<div class="buy-block">
								<div class="buy-block__price">
									<div class="buy-block__box buy-block__box_price">
										6 500 $
									</div>
									<div class="buy-block__box buy-block__box_button">
										<a href="javascript:void(0);" class="buy-block__link">Купить</a>
									</div>
								</div>
								<div class="buy-block__form">
									<div class="buy-block__form-head">
										Купить за <span>6 500$</span>
									</div>
									<form class="form form_buy">
										<div class="form__field form__field_with-label">
											<input type="text" class="form__input form__input_app" required="">
											<label class="form__label">Оставьте свой телефон или эл.почту</label>
										</div>
										<div class="form__field">
											<button type="submit" class="btn">Отправить</button>
										</div>
									</form>
								</div>
							</div>
						</div>
					</div>

					<section class="section section_product-list section_in-product-popup">
						<h2 class="section__title">Похожие модели часов</h2>
						<div class="swiper-container products">
							<ul class="swiper-wrapper product-list product-list_slider">
								<li class="swiper-slide product-list__item">
									<a href="javascript:void(0);" data-href="#product" class="product-list__link js-popup-link">
										<div class="product-list__img-box">
											<img src="img/product-img-02.png" alt="" class="product-list__image">
										</div>
										<div class="product-list__name">Franck Muller</div>
										<div class="product-list__description">Conquistador Cortez Chronograph Automatic Steel</div>
										<div class="product-list__price">4 900 $</div>
									</a>
								</li>
								<li class="swiper-slide product-list__item">
									<a href="javascript:void(0);" data-href="#product" class="product-list__link js-popup-link">
										<div class="product-list__img-box">
											<img src="img/product-img-02.png" alt="" class="product-list__image">
										</div>
										<div class="product-list__name">Franck Muller</div>
										<div class="product-list__description">Conquistador Cortez Chronograph Automatic Steel</div>
										<div class="product-list__price">4 900 $</div>
									</a>
								</li>
								<li class="swiper-slide product-list__item">
									<a href="javascript:void(0);" data-href="#product" class="product-list__link js-popup-link">
										<div class="product-list__img-box">
											<img src="img/product-img-02.png" alt="" class="product-list__image">
										</div>
										<div class="product-list__name">Franck Muller</div>
										<div class="product-list__description">Conquistador Cortez Chronograph Automatic Steel</div>
										<div class="product-list__price">4 900 $</div>
									</a>
								</li>
								<li class="swiper-slide product-list__item product-list__item_show-box">
									<a href="javascript:void(0);" class="product-list__link">
										<div class="product-list__icon-box">
											<i class="icon icon-menu-jewelry"></i>
										</div>
										<div class="product-list__text">
											Посмотреть еще <span class="product-list__count">29</span> моделей
										</div>
									</a>
								</li>
							</ul>
						</div>
					</section>
				</div>
			</div>
		</div>
	</div>
	<!-- product end -->

	<!-- info -->
	<div class="hidden-element">
		<div class="popup popup_contacts" id="info">
			<a href="javascript:void(0);" class="popup__close popup__close_info arcticmodal-close">
				<span></span>
				Закрыть
			</a>
			<!-- <p class="popup__title">Продать или заложить</p> -->
			<div class="popup__content">
				<div class="contacts-popup">
					<div class="contacts-popup__secton">
						<div class="contacts-popup__section-title">График работы</div>
						<div class="contacts-popup__text">Сегодня открыты до <span class="contacts-popup__time">20:00</span></div>
						<div class="contacts-popup__text"><span>Пн – Пт</span> 11:00 - 20:00</div>
						<div class="contacts-popup__text"><span>Сб</span> 11:00 - 17:00</div>
						<div class="contacts-popup__text"><span>Вс</span> выходной</div>
					</div>
					<div class="contacts-popup__secton">
						<div class="contacts-popup__section-title">Контакты</div>
						<div class="contacts-popup__line">
							<a href="tel:+79037930959" class="contacts-popup__phone">+7 (903) 793-09-59</a>
						</div>
						<div class="contacts-popup__line">
							<a href="tel:+74959975552" class="contacts-popup__phone">+7 (495) 997-55-52</a>
						</div>
						<div class="contacts-popup__line">
							<a href="tel:+74959975552" class="contacts-popup__phone">+7 (495) 997-55-52</a>
						</div>
						<div class="contacts-popup__line">
							<a href="javascript:void(0);" class="contacts-popup__link">Viber</a>
						</div>
						<div class="contacts-popup__line">
							<a href="javascript:void(0);" class="contacts-popup__link">Whatsap</a>
						</div>
					</div>
					<div class="contacts-popup__secton contacts-popup__secton_form">
						<div class="contacts-popup__section-title">Заказать обратный звонок</div>
						<form class="form">
							<div class="form__field form__field_with-label">
								<input type="text" class="form__input" required="">
								<label class="form__label">Ваш номер телефона</label>
							</div>
						</form>
					</div>
					<div class="contacts-popup__secton contacts-popup__secton_map">
						<div class="contacts-popup__section-title">Адрес</div>
						<div id="popup_map" class="contacts-popup__map"></div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- info end -->
