<!-- SCRIPTS -->
	<script src="scripts/app.min.js"></script>

	<!-- googple-map -->
	<script src="https://maps.googleapis.com/maps/api/js?v=3.exp"></script>
	<script src="scripts/infobox.js"></script>
	<script>
		function initialize() {
			var mainLoc = new google.maps.LatLng(55.76805337, 37.62728884),
				headerLoc = new google.maps.LatLng(55.76755337, 37.62728884),
				$headerBody = $('.header__body'),
				$toggleLink = $(".js-header-body");

			var mapOptions = {
				zoom: 16,
				center: mainLoc,
				mapTypeControl: false,
				scrollwheel: false,
				zoomControl: true,
				streetViewControl: true,
				mapTypeId: google.maps.MapTypeId.ROADMAP
			};

			// header map
			var headerMap = new google.maps.Map(document.getElementById("header_map"), mapOptions);

			var marker2 = new google.maps.Marker({
				map: headerMap,
				draggable: true,
				position: new google.maps.LatLng(55.76735337, 37.62728884),
				visible: true
			});

			var boxText2 = document.createElement("div");
			boxText2.innerHTML = "<p class='main-map__text'>Москва, Печатников переулок 12<br>(м. Трубная)</p>";

			var options_2 = {
				content: boxText2,
				disableAutoPan: false,
				maxWidth: 0,
				pixelOffset: new google.maps.Size(-160, -100),
				zIndex: null,
				boxStyle: {
					background: "url('img/baloon.png') no-repeat",
					width: "320px",
					height: "102px"
				},
				closeBoxMargin: "0 0 0 0",
				closeBoxURL: "",
				infoBoxClearance: new google.maps.Size(1, 1),
				isHidden: false,
				pane: "floatPane",
				enableEventPropagation: false
			};

			google.maps.event.addDomListener(boxText2,'click',function(){
				window.open('https://www.google.com/maps/place/%D0%9B%D0%BE%D0%BC%D0%B1%D0%B0%D1%80%D0%B4+%D1%87%D0%B0%D1%81%D0%BE%D0%B2+%D0%BD%D0%B0+%D0%A6%D0%B2%D0%B5%D1%82%D0%BD%D0%BE%D0%BC/@55.7672568,37.6251216,17z/data=!4m15!1m9!4m8!1m3!2m2!1d37.6273532!2d55.7675223!1m3!2m2!1d37.62731!2d55.767257!3m4!1s0x46b54a68608d7845:0x977efd8d83673d65!8m2!3d55.767257!4d37.62731', '_blank');
			});

			var ib2 = new InfoBox(options_2);

			ib2.open(headerMap, marker2);

			$toggleLink.click(function() {
				google.maps.event.trigger(headerMap, 'resize');
				headerMap.setCenter(headerLoc);
			});
			// header map end

			// main map
			var mainMap = new google.maps.Map(document.getElementById("main_map"), mapOptions);

			var marker = new google.maps.Marker({
				map: mainMap,
				draggable: true,
				position: new google.maps.LatLng(55.76735337, 37.62728884),
				visible: true
			});

			var boxText = document.createElement("div");
			boxText.innerHTML = "<p class='main-map__text'>Москва, Печатников переулок 12<br>(м. Трубная)</p>";

			var options_1 = {
				content: boxText,
				disableAutoPan: false,
				maxWidth: 0,
				pixelOffset: new google.maps.Size(-160, -100),
				zIndex: null,
				boxStyle: {
					background: "url('img/baloon.png') no-repeat",
					width: "320px",
					height: "102px"
				},
				closeBoxMargin: "0 0 0 0",
				closeBoxURL: "",
				infoBoxClearance: new google.maps.Size(1, 1),
				isHidden: false,
				pane: "floatPane",
				enableEventPropagation: false
			};

			google.maps.event.addDomListener(boxText,'click',function(){
				window.open('https://www.google.com/maps/place/%D0%9B%D0%BE%D0%BC%D0%B1%D0%B0%D1%80%D0%B4+%D1%87%D0%B0%D1%81%D0%BE%D0%B2+%D0%BD%D0%B0+%D0%A6%D0%B2%D0%B5%D1%82%D0%BD%D0%BE%D0%BC/@55.7672568,37.6251216,17z/data=!4m15!1m9!4m8!1m3!2m2!1d37.6273532!2d55.7675223!1m3!2m2!1d37.62731!2d55.767257!3m4!1s0x46b54a68608d7845:0x977efd8d83673d65!8m2!3d55.767257!4d37.62731', '_blank');
			});

			var ib = new InfoBox(options_1);

			ib.open(mainMap, marker);
			// main map end

			// popup map
			var popupMap = new google.maps.Map(document.getElementById("popup_map"), mapOptions);

			var marker3 = new google.maps.Marker({
				map: mainMap,
				draggable: true,
				position: new google.maps.LatLng(55.76735337, 37.62728884),
				visible: true
			});

			var boxText3 = document.createElement("div");
			boxText3.innerHTML = "<p class='main-map__text'>Москва, Печатников переулок 12<br>(м. Трубная)</p>";

			var options_3 = {
				content: boxText3,
				disableAutoPan: false,
				maxWidth: 0,
				pixelOffset: new google.maps.Size(-160, -100),
				zIndex: null,
				boxStyle: {
					background: "url('img/baloon.png') no-repeat",
					width: "320px",
					height: "102px"
				},
				closeBoxMargin: "0 0 0 0",
				closeBoxURL: "",
				infoBoxClearance: new google.maps.Size(1, 1),
				isHidden: false,
				pane: "floatPane",
				enableEventPropagation: false
			};

			google.maps.event.addDomListener(boxText3,'click',function(){
				window.open('https://www.google.com/maps/place/%D0%9B%D0%BE%D0%BC%D0%B1%D0%B0%D1%80%D0%B4+%D1%87%D0%B0%D1%81%D0%BE%D0%B2+%D0%BD%D0%B0+%D0%A6%D0%B2%D0%B5%D1%82%D0%BD%D0%BE%D0%BC/@55.7672568,37.6251216,17z/data=!4m15!1m9!4m8!1m3!2m2!1d37.6273532!2d55.7675223!1m3!2m2!1d37.62731!2d55.767257!3m4!1s0x46b54a68608d7845:0x977efd8d83673d65!8m2!3d55.767257!4d37.62731', '_blank');
			});

			var ib = new InfoBox(options_3);

			ib.open(popupMap, marker3);
			// popup map end
		}
	</script>
