.about-us-content {
	max-width: 700px;
	&__title {
		.playfair();
		.font(@24, @black, 60px);
		line-height: 1.17;
	}
	&__info {
		margin-bottom: 40px;
		&:last-child {
			margin-bottom: 0;
		}
	}
	&__info-title {
		.playfair();
		.font(@24, #193341, 20px);
		line-height: 1;
	}
	&__info-descr {
		ol,
		ul {
			li {
				.ptserif();
				.font(@18, rgba(25,51,65,.8));
				line-height: 1.39;
				p {
					.ptserif();
					.font(@18, rgba(25,51,65,.8));
					line-height: 1.39;
				}
				a {
					.ptserif();
					.font(@18, rgba(25,51,65,.8));
					line-height: 1.39;
					text-decoration: none;
					&:hover {
						text-decoration: underline;
					}
				}
			}
		}
		ul {margin-top: 25px;}
		&_supervisors {
			margin-bottom: 35px;
			&:last-child {
				margin-bottom: 0;
			}
		}
	}
	&__text {
		.ptserif();
		.font(@18, rgba(25,51,65,.8));
		line-height: 1.39;
		a {
			.ptserif();
			.font(@18, rgba(25,51,65,.8));
			line-height: 1.39;
			text-decoration: none;
			&:hover {
				text-decoration: underline;
			}
		}
		&_sub-title {
			margin-bottom: 10px;
		}
	}
}