.advantages-wrap {
	padding-left: 40px;
	&__title {
		.playfair();
		.font(@36, #193341);
		margin: 30px 0 40px;
	}
}

@media screen and (max-width: 1024px) {
	.advantages-wrap {
		padding-left: 20px;
	}
}

@media screen and (max-width: 870px) {
	.advantages-wrap {
		padding-left: 20px;
	}
}