.buy-block {
	margin-top: 22px;
	position: relative;
	max-width: 300px;
	&__price {
		display: inline-flex;
		justify-content: flex-start;
		align-items: center;
		flex-direction: row;
		width: 100%;
		&:hover {
			.buy-block__box {
				background-color: rgba(255,255,255,.5);
			}
		}
	}
	&__form {
		position: absolute;
		top: 0;
		left: 0;
		z-index: 1;
		display: none;
		width: 100%;
		background-color: #efefeb;
		.btn {
			display: block;
			width: 100%;
		}
	}
	&__form-head {
		.border-radius(3px 3px 0 0);
		border: 1px solid #d9d9d1;
		border-bottom: 0;
		.ptserif();
		.font(@14, #575792);
		padding: 12px 15px;
	}
	&__box {
		background-color: #efefeb;
		display: inline-flex;
		justify-content: center;
		align-items: center;
		.transition(all .2s);
		width: 50%;
		height: 70px;
		&_price {
			.border-radius(3px 0 0 3px);
			border: solid 1px #d9d9d1;
			border-right: 0;
			.ptserif();
			.font(@24, @black);
			letter-spacing: 0px;
		}
		&_button {
			.border-radius(0 3px 3px 0);
			border: solid 1px #d9d9d1;
			cursor: pointer;
		}
	}
	&__link {
		text-decoration: none;
		.ptserif();
		.font(@18, #575792);
		display: flex;
		justify-content: center;
		align-items: center;
		width: 100%;
		height: 100%;
	}

	&_page {
		margin-top: 20px;
		.buy-block__price {
			display: flex;
			border-top: solid 1px #d9d9d1;
			padding-top: 18px;
			&:hover {
				.buy-block__box {
					background-color: #efefeb;
				}
			}
		}
		.buy-block__box {
			.border-radius(0);
			width: auto;
			align-items: flex-end;
			min-width: 0;
			border: 0;
			height: auto;
			&.buy-block__box_price {
				font-size: @36;
			}
		}
		.buy-block__link {
			align-items: flex-end;
			margin-left: 30px;
			height: 29px;
			&:hover {
				text-decoration: underline;
			}
		}
		.buy-block__form {
			width: 100%;
		}
	}
}


@media screen and (max-width: 500px) {
	.buy-block {
		&_page {
			.buy-block__box {
				&.buy-block__box_price {
					font-size: @24;
				}
			}
			.buy-block__link {
				font-size: @18;
			}
		}
	}
}