.contacts-content {
	padding: 65px 0 40px;
	&__col {
		float: left;
		&_info {
			width: calc(~"100% - 535px");
			padding-right: 35px;
		}
		&_gallery {
			width: 535px;
		}
	}
	&__field {
		margin-bottom: 40px;
		&:last-child {
			margin-bottom: 0;
		}
	}
	&__field-title {
		.playfair();
		.font(@21, #193341, 17px);
	}
	&__info {
		.ptserif();
		.font(@19, rgba(25,51,65,.8), 8px);
		line-height: 1.3;
	}
	&__phone {
		.ptserif();
		.font(@19, rgba(25,51,65,.8), 8px);
		line-height: 1.15;
		text-decoration: none;
		display: block;
	}
	&__email {
		.ptserif();
		.font(@19, rgba(25,51,65,.8), 8px);
		line-height: 1.15;
		text-decoration: none;
		&:hover {
			text-decoration: underline;
		}
	}
}


.contacts-gallery {
	width: 100%;
	&__item {
		display: block;
		width: calc(~"(100% - 10px * 3) / 4");
		margin: 0 10px 10px 0;
		height: 100px;
		float: left;
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center center;
		cursor: pointer;
		position: relative;
		.border-radius(3px);
		&:first-child {
			width: 100%;
			margin-right: 0;
			height: 350px;
		}
		&:nth-child(4n + 1) {
			margin-right: 0;
		}
		&:hover {
			.contacts-gallery__item-hover {
				opacity: 1;
			}
		}
	}
	&__item-hover {
		position: absolute;
		width: 100%;
		height: 100%;
		border: 3px solid #e4dd9b;
		opacity: 0;
		.border-radius(2px);
		.transition(all .2s ease);
	}
}


@media screen and (max-width: 900px) {
	.contacts-content {
		&__col {
			float: none;
			&_info {
				width: 100%;
				padding-right: 0;
				margin-bottom: 30px;
			}
			&_gallery {
				width: 100%;
			}
		}
		&__field {
			display: inline-block;
			vertical-align: top;
			margin-bottom: 40px;
			margin: 0 -4px 40px;
			padding-right: 20px;
			&:nth-child(odd) {
				width: 60%;
			}
			&:nth-child(even) {
				width: 40%;
			}
		}
	}
}

@media screen and (max-width: 640px) {
	.contacts-content {
		&__col {
			&_info {
				margin-bottom: 70px;
			}
		}
		&__field {
			display: block;
			margin-bottom: 40px;
			margin: 0 auto 40px;
			padding-right: 0;
			&:nth-child(odd) {
				width: 100%;
			}
			&:nth-child(even) {
				width: 100%;
			}
		}
	}

	.contacts-gallery {
		&__item {
			display: block;
			width: calc(~"(100% - 10px) / 2");
			height: 150px;
			&:nth-child(2n + 1) {
				margin-right: 0;
			}
		}
	}
}