.contacts-popup {
	text-align: left;
	&__secton {
		padding: 0 40px 0 30px;
		margin-bottom: 30px;
		&_map {
			padding: 0;
			margin-bottom: 0;
			.contacts-popup__section-title {
				padding-left: 30px;
			}
		}
		&_form {
			.contacts-popup__section-title {
				.ptserif();
				.font(@18, @black, 10px);
			}
			.form {}
			.form__field {}
			.form__field_with-label {}
			.form__input {
				background-color: @white;
			}
			.form__label {
				font-size: @18;
				font-style: italic;
			}
		}
	}
	&__section-title {
		.ptserif-italic();
		.font(@16, #919191, 10px);
	}
	&__line {
		display: block;
		margin-bottom: 10px;
		&:last-child {
			margin-bottom: 0;
		}
	}
	&__text {
		.ptserif();
		.font(@18, @black);
		margin-bottom: 10px;
		&:last-child {
			margin-bottom: 0;
		}
		span {
			font-style: italic;
			width: 70px;
			text-align: right;
			display: inline-block;
			margin-right: 7px - 4px;
			&.contacts-popup__time {
				width: auto;
				text-align: left;
				margin-right: auto;
			}
		}
	}
	&__phone {
		.ptserif();
		.font(@18, #193341);
		text-decoration: none;
		&:last-child {
			margin-bottom: 0;
		}
	}
	&__link {
		.ptserif-italic();
		.font(@16, #575792);
		text-decoration: none;
	}
	&__map {
		height: 255px;
	}
}


@media screen and (max-width: 550px) {
	.contacts-popup {
		&__secton {
			padding: 0 15px 0 15px;
			margin-bottom: 15px;
			&_map {
				padding: 0;
				margin-bottom: 0;
				.contacts-popup__section-title {
					padding-left: 15px;
				}
			}
			&_form {
				.contacts-popup__section-title {
					font-size: @12;
					margin-bottom: 5px;
				}
				.form__label {
					font-size: @14;
				}
			}
		}
		&__section-title {
			font-size: @9;
			margin-bottom: 5px;
		}
		&__line {
			margin-bottom: 5px;
		}
		&__text {
			font-size: @12;
			margin-bottom: 5px;
			span {
				width: 50px;
			}
		}
		&__phone {
			font-size: @14;
		}
		&__link {
			font-size: @12;
		}
	}
}