.filter-wrap {
	margin-bottom: 20px;
	&_padding {
		padding-top: 33px;
	}
}


.filter {
	&__head {
		position: relative;
		height: 50px;
	}
	&__head-inner-wrap {
		position: relative;
		z-index: 3;
		width: calc(~"100% - 100px");
	}
	&__title {
		float: left;
		margin: 7px 15px 0 0;
	}
	&__title-link {
		text-decoration: none;
		.playfair();
		.font(@24, #193341);
		line-height: 1.5;
	}
	&__heading-list {
		float: left;
		width: auto;
		margin-top: 15px;
	}
	&__heading-list-item {
		display: inline-block;
		vertical-align: middle;
		margin: 0 7px;
		&_selected {
			.filter__heading-list-link {
				background-color: @white;
				.border-radius(2px 0 0 2px);
				color: #295d7a;
			}
		}
		&_active {
			.filter__heading-list-link {
				background-color: @white;
			}
		}
		&:hover {
			.filter__heading-list-link {
				background-color: @white;
			}
		}
	}
	&__heading-list-link {
		display: inline-block;
		margin-right: -4px;
		.ptserif();
		.font(@16, rgba(25,51,65,.5));
		text-decoration: none;
		padding: 6px 8px;
		background-color: #efefeb;
		.border-radius(2px);
		.transition(background-color 0.2s);
		span {font-style: italic;}
	}
	&__sort-price {
		display: inline-block;
		vertical-align: top;
		.form__field {}
		.form__label {
			display: block;
			padding: 6px 8px;
			.ptserif();
			.font(@16, rgba(25,51,65,.5));
			cursor: pointer;
			span {font-style: italic;}
		}
		.form__input {
			display: none !important;
			visibility: hidden !important;
			opacity: 0 !important;
		}
	}
	&__selected-value {
		background-color: @white;
		position: relative;
		border-left: 1px solid #d4d4d2;
		.border-radius(0 2px 2px 0);
		.ptserif();
		.font(@16, #193341);
		padding: 6px 27px 6px 8px;
		display: inline-block;
		span {
			position: absolute;
			display: block;
			width: 14px;
			height: 14px;
			right: 8px;
			top: 50%;
			margin-top: -6px;
			cursor: pointer;
			&:after,
			&:before {
				content:'';
				position: absolute;
				width: 100%;
				height: 1px;
				top: 50%;
				left: 0;
				margin-top: -1px;
				background-color: rgba(25,51,65,.5);
			}
			&:after {
				.transform(rotate(45deg));
			}
			&:before {
				.transform(rotate(-45deg));
			}
		}
	}
	&__search-wrap {
		position: absolute;
		top: 0;
		left: 0;
		z-index: 2;
		width: 100%;
		text-align: right;
	}
	&__search-row {
		display: none;
		text-align: left;
		.form {}
		.form__field {
			position: relative;
			padding-left: 50px;
			width: calc(~'100% - 113px');
			background-color: @white;
			.border-radius(2px 0 0 2px);
			&:before {
				content:'';
				.retina-sprite(@icon-lens-group);
				position: absolute;
				left: 25px;
				top: 50%;
				margin-top: -8.5px;
			}
		}
		.form__input {
			background-color: @white;
			width: 100%;
			height: 50px;
			.ptserif();
			.font(@18, #193341);
			&::-webkit-input-placeholder {
				color: rgba(25,51,65,.5);
				opacity: 1 !important;
			};
				&::-moz-placeholder {
				color: rgba(25,51,65,.5) !important;
				opacity: 1 !important;
			};
				&:-ms-input-placeholder {
				color: rgba(25,51,65,.5);
				opacity: 1 !important;
			};
		}
	}
	&__search-clear {
		cursor: pointer;
		background-color: @white;
		padding: 18px 0 19px;
		width: 113px;
		text-align: center;
		.border-radius(0 2px 2px 0);
		float: right;
		.ptserif-italic();
		.font(@13, rgba(25,51,65,.5));
	}
	&__search-trigger {
		display: inline-block;
		margin-top: 21px;
		.ptserif();
		.font(@16, rgba(25,51,65,.5));
		cursor: pointer;
	}
	&__body {
		padding-top: 10px;
	}
	&__content-wrap {}
	&__content {
		display: none;
	}
	&__list {
		text-align: left;
		-webkit-column-count: 5;
		-moz-column-count: 5;
		column-count: 5;
	}
	&__body-row {}
	&__footer {
		text-align: center;
		border-top: 1px solid #d4d4d2;
		padding: 15px 5px;
		margin-top: 25px;
		.btn {width: 190px;}
	}
	&__close {
		display: inline-block;
		width: auto;
		.ptserif-italic();
		.font(@16, #325091);
		text-align: center;
		cursor: pointer;
		span {
			position: relative;
			display: inline-block;
			vertical-align: middle;
			width: 14px;
			height: 14px;
			margin-left: 5px - 4px;
			&:after,
			&:before {
				content:'';
				position: absolute;
				width: 100%;
				height: 1px;
				top: 50%;
				left: 0;
				margin-top: -1px;
				background-color: #325091;
			}
			&:after {
				.transform(rotate(45deg));
			}
			&:before {
				.transform(rotate(-45deg));
			}
		}
	}
	&__clear {
		text-decoration: none;
		opacity: 0.5;
		.ptserif-italic();
		.font(@14, #325091);
		display: inline-block;
		padding: 6px 15px;
		margin-left: 15px - 4px;
		&:hover {
			text-decoration: underline;
		}
	}

	.icon {
		display: inline-block;
		vertical-align: -3px;
		margin-right: 8px - 4px;
		&.icon-lens {
			.retina-sprite(@icon-lens-group);
		}
	}
}

.filter-nav {
	margin-top: 15px;
	float: left;
	&__list {}
	&__item {
		display: inline-block;
		vertical-align: top;
		margin: 0 7px;
		&_current {
			.filter-nav__link {
				background-color: @white;
			}
			&:hover {
				.filter-nav__link {
					background-color: @white;
				}
			}
		}
		&_with-value {
			.filter-nav__link {
				background-color: @white;
				border-right: 1px solid #dbdbd1;
				color: #295d7a;
			}
		}
		&:hover {
			.filter-nav__link {
				background-color: @white;
			}
		}
	}
	&__link {
		.ptserif();
		.font(@16, rgba(25,51,65,.5));
		text-decoration: none;
		display: inline-block;
		margin-right: -3px;
		padding: 6px 8px;
		background-color: #efefeb;
		.border-radius(2px);
		.transition(background-color 0.2s);
	}
	&__selected-value {
		padding: 6px 31px 6px 8px;
		.ptserif();
		.font(@16, #193341);
		background-color: @white;
		display: inline-block;
		vertical-align: top;
		margin-right: -4px;
		border-right: 1px solid #dbdbd1;
		position: relative;
		margin: 0 -4px 5px 0;
		&:last-child {
			margin-right: 0;
			border-right: 0;
			.border-radius(0 2px 2px 0);
		}
		span {
			position: absolute;
			display: block;
			width: 16px;
			height: 16px;
			right: 8px;
			top: 50%;
			margin-top: -8px;
			cursor: pointer;
			&:after,
			&:before {
				content:'';
				position: absolute;
				width: 100%;
				height: 1px;
				top: 50%;
				left: 0;
				margin-top: -1px;
				background-color: rgba(25,51,65,.5);
			}
			&:after {
				.transform(rotate(45deg));
			}
			&:before {
				.transform(rotate(-45deg));
			}
		}
	}
}

@media screen and (max-width: 1070px) {
	.filter {
		&__sort-price {
			margin-bottom: 8px;
		}
		&__body {
			float: left;
			width: 100%;
		}
	}
	.filter-nav {
		width: 100%;
		margin: 15px 0 7px;
		&__item {
			margin-bottom: 8px;
			&_with-value {
				.filter-nav__link {
					margin-bottom: 5px;
				}
			}
		}

	}
}

@media screen and (max-width: 950px) {
	.filter {
		&__list {
			text-align: left;
			-webkit-column-count: 4;
			-moz-column-count: 4;
			column-count: 4;
		}
	}
}

@media screen and (max-width: 768px) {
	.filter {
		&__list {
			text-align: left;
			-webkit-column-count: 3;
			-moz-column-count: 3;
			column-count: 3;
		}
	}
}

@media screen and (max-width: 660px) {
	.filter {
		&__list {
			text-align: left;
			-webkit-column-count: 2;
			-moz-column-count: 2;
			column-count: 2;
		}
	}
}

@media screen and (max-width: 500px) {
	.filter {
		&__list {
			text-align: left;
			-webkit-column-count: 1;
			-moz-column-count: 1;
			column-count: 1;
		}
	}
}


@media screen and (max-width: 355px) {
	.filter {
		&__footer {
			.btn {width: 100%;}
		}
		&__clear {
			padding: 6px 15px;
			margin: 15px 0 0;
			width: 100%;
		}
	}
}