.first-content {
	border-bottom: 1px solid #d9d9d1;
	padding-top: 10px;
	&__inner {}
	&__col {
		display: inline-block;
		vertical-align: top;
		width: 50%;
		margin-right: -4px;
		&_logo {
			padding-top: 20px;
		}
		&_slider {
			padding-left: 10px;
		}
	}
	&__logo {
		.header-logo {
			display: block;
			.retina-sprite(@main-logo-group);
			margin-bottom: 7px;
		}
		.header-logo-responsive {
			display: none;
			.retina-sprite(@main-logo-responsive-group);
			margin-bottom: 7px;
		}
	}
	&__logo-descr {
		.playfair();
		.font(@35, #193341);
		line-height: 1.17;
		letter-spacing: 0.5px;
	}
}

@media screen and (max-width: 990px) {
	.first-content {
		&__inner {
			padding-bottom: 116px;
		}
		&__col {
			display: block;
			width: 100%;
			margin-right: 0;
			&_logo {
				padding-top: 20px;
				text-align: center;
				margin-bottom: 50px;
			}
			&_slider {
				padding-left: 0;
			}
		}
		&__logo {
			.header-logo {
				display: inline-block;
			}
		}
	}
}

@media screen and (max-width: 680px) {
	.first-content {
		border-bottom: 1px solid #d9d9d1;
		padding-top: 10px;
		&__inner {
			padding-bottom: 116px;
		}
		&__col {
			display: block;
			width: 100%;
			margin-right: 0;
			&_logo {
				padding-top: 20px;
				text-align: center;
				margin-bottom: 25px;
			}
			&_slider {
				padding-left: 0;
			}
		}
		&__logo {
			.header-logo {
				display: none;
			}
			.header-logo-responsive {
				display: inline-block;
				margin-bottom: 4px;
			}
		}
		&__logo-descr {
			font-size: @13;
			line-height: 1.4;
			letter-spacing: 0.5px;
		}
	}
}