.footer-social-menu {
	margin-bottom: 36px;
	&__item {
		display: inline-block;
		vertical-align: top;
		margin-right: 30px - 4px;
		&:last-child {
			margin-right: -4px;
		}
	}
	&__link {
		text-decoration: none;
	}

	.icon {
		display: block;
		&.icon-mail {
			.retina-sprite(@icon-mail-group);
		}
		&.icon-vk {
			.retina-sprite(@icon-vk-group);
		}
		&.icon-fb {
			.retina-sprite(@icon-fb-group);
		}
		&.icon-youtube {
			.retina-sprite(@icon-youtube-group);
		}
		&.icon-instagram {
			.retina-sprite(@icon-instagram-group);
		}
	}
}

@media screen and (max-width: 1020px) {
	.footer-social-menu {
		margin-bottom: 40px;
	}
}

@media screen and (max-width: 600px) {
	.footer-social-menu {
		margin-bottom: 27px;
	}
}