.footer {
	background-color: #193341;
	padding-top: 64px;
	&__body {
		padding-bottom: 73px;
	}
	&__col {
		display: inline-block;
		vertical-align: top;
		margin-right: -4px;
		&_contacts {
			width: 30%;
		}
		&_navigation {
			width: 42%;
		}
		&_socials {
			width: 28%;
			padding-left: 45px;
		}
	}
	&__field {
		&_logo {
			margin-bottom: 34px;
		}
		&_phone {
			margin-bottom: 10px;
		}
		&_callback {
			margin-top: 24px;
		}
	}
	&__logo {
		display: inline-block;
		text-decoration: none;
		.footer-logo {
			display: block;
			.retina-sprite(@footer-logo-group);
		}
		.footer-logo-responsive {
			display: none;
			.retina-sprite(@footer-logo-responsive-group);
		}
	}
	&__phone {
		text-decoration: none;
		.ptserif();
		.font(@16, #efefeb);
	}
	&__callback {
		text-decoration: none;
		.ptserif-italic();
		.font(@16, #f0ebd8);
	}
	&__subscribe {}
	&__subscribe-descr {
		.ptserif();
		.font(@14, @white);
		line-height: 1.29;
		margin-bottom: 20px;
	}
	&__copyright {
		text-align: center;
		padding: 25px 0 50px;
		border-top: 1px solid rgba(216,216,216,.2);
		.ptserif();
		.font(@16, @white);
		line-height: 1.3;
		span {
			margin-right: 15px;
		}
	}
}


@media screen and (max-width: 1020px) {
	.footer {
		&__body {
			padding-bottom: 25px;
		}
		&__col {
			display: block;
			&_contacts {
				width: 100%;
				text-align: center;
				margin-bottom: 40px;
			}
			&_navigation {
				width: 415px;
				margin: 0 auto 20px;
			}
			&_socials {
				text-align: center;
				width: 100%;
				padding-left: 0;
			}
		}
		&__field {
			&_logo {
				margin-bottom: 34px;
			}
			&_phone {
				display: inline-block;
				vertical-align: top;
				margin: 0 20px - 4px 10px 0;
				&:nth-child(4) {
					margin-right: 0;
				}
			}
			&_callback {
				margin-top: 24px;
			}
		}
		&__logo {
			.footer-logo {
				display: none;
			}
			.footer-logo-responsive {
				display: block;
			}
		}
		&__subscribe {
			display: inline-block;
			width: auto;
		}
	}
}

@media screen and (max-width: 600px) {
	.footer {
		padding-top: 33px;
		&__body {
			padding: 0 30px 22px;
		}
		.container {
			padding: 0;
		}
		&__col {
			&_contacts {
				margin-bottom: 30px;
			}
			&_navigation {
				width: 100%;
				text-align: left;
				margin: 0 auto 9px;
			}
			&_socials {
				text-align: left;
			}
		}
		&__callback {
			font-size: @13;
		}
		&__field {
			&_logo {
				margin-bottom: 9px;
			}
			&_phone {
				display: inline-block;
				width: auto;
				margin: 0 20px - 4px 9px 0;
				&:last-child {
					margin-right: 0;
				}
			}
			&_callback {
				margin-top: 2px;
			}
		}
		&__phone {
			font-size: @13;
		}
		&__subscribe {
			display: block;
			width: 100%;
		}
		&__subscribe-descr {}
		&__subscribe-descr {
			font-size: @12;
			margin-bottom: 4px;
		}
		&__copyright {
			font-size: @12;
			padding: 20px 30px 30px;
		}
	}
}

@media screen and (max-width: 450px) {
	.footer {
		&__field {
			&_phone {
				display: block;
				width: 100%;
				margin: 0 0 10px 0;
			}
		}
	}
}