.footer-nav {
	&__col {
		display: inline-block;
		vertical-align: top;
		margin-right: -4px;
		width: calc(~"100% / 2");
	}
	&__list {}
	&__item {
		display: block;
		margin-bottom: 20px;
	}
	&__link {
		text-decoration: none;
		.ptserif();
		.font(@16, #efefeb);
	}
}

@media screen and (max-width: 600px) {
	.footer-nav {
		&__col {
			&:first-child {
				padding-right: 10px;
			}
			&:last-child {
				padding-left: 11px;
			}
		}
		&__item {
			margin-bottom: 12px;
		}
		&__link {
			font-size: @13;
		}
	}
}