.header {
	padding: 52px 0 28px;
	position: relative;
	background-color: @white;
	&_message {
		padding-top: 0;
	}
	&__additional-info {
		text-align: center;
		background-color: #f7f4e9;
		width: 100%;
		padding: 16px 10px;
		.ptserif();
		.font(@16, #193341, 22px);
		.icon-header-warning {
			.retina-sprite(@icon-header-warning-group);
			display: inline-block;
			vertical-align: middle;
			margin-right: 16px - 4px;
		}
	}
	&__col {
		display: inline-block;
		vertical-align: top;
		margin-right: -4px;
		padding-right: 20px;
		&:first-child {
			width: 27%;
		}
		&:nth-child(2) {
			width: 41%;
		}
		&:last-child {
			width: 32%;
			padding-right: 0;
			.header__link {
				margin-right: 12px - 4px;
			}
		}
	}
	&__title {
		position: relative;
		padding-left: 30px;
	}
	&__title-text {
		.ptserif();
		.font(@16, #193341);
		line-height: 1.3;
		span {
			font-style: italic;
		}
		.header__phone {
			&:nth-child(2) {
				margin-right: 0;
			}
		}
		.header__link {
			&:last-child {
				margin-right: 0;
			}
		}
	}
	&__hidden-title {
		display: none;
		.ptserif-italic();
		.font(@14, #575792);
		line-height: normal;
	}
	&__link-wrap {
		padding: 7px 0 0 30px;
		&_in-body {
			display: none;
		}
	}
	&__link {
		text-decoration: none;
		.ptserif-italic();
		.font(@14, #575792);
		line-height: normal;
	}
	&__phone {
		.ptserif();
		.font(@16, #193341);
		line-height: 1.3;
		text-decoration: none;
		margin-right: 13px - 4px;
		display: inline-block;
		span {font-style: normal;}
		&:last-child {
			margin-right: 0;
		}
	}
	&__body {
		background-color: @white;
		position: absolute;
		width: 100%;
		left: 0;
		z-index: 2;
		top: calc(~"100% - 20px");
		display: none;
		border-bottom: 1px solid #d9d9d1;
		padding: 0px 0 28px;
		box-shadow: 0px 3px 6px 0 rgba(174,174,174,0.5);
		overflow: hidden;
		.header__col {
			padding: 0 0 0 30px;
		}
		.header__link-wrap {
			padding: 0;
		}
	}
	&__info-row {
		.ptserif();
		.font(@16, @black, 10px);
		&:last-child {
			margin-bottom: 0;
		}
		span {
			opacity: 0.5;
			font-style: italic;
			display: inline-block;
			width: 63px;
			text-align: right;
			margin-right: 10px;
		}
	}
	&__map {
		width: 350px;
		height: 220px;
		background-color: #3f3f3f;
	}
	&__callback {
		padding-top: 24px;
		.btn {
			.box-shadow(none);
			min-width: 103px;
			padding: 5px 10px;
			line-height: normal;
			.border-radius(0);
			border-bottom: 1px solid rgba(0,0,0,.2);
		}
		.form__field {
			display: inline-block;
			vertical-align: top;
			margin-right: -4px;
			max-width: 147px;
			border-bottom: 1px solid rgba(0,0,0,.2);
		}
		.form__input {
			height: 29px;
			padding: 0 10px 0 0;
			font-style: italic;
			color: rgba(0,0,0,.8);
		}
	}
	&__callback-title {
		.ptserif();
		.font(@16, #193341, 12px);
		line-height: 1.3;
	}

	.icon {
		display: block;
		position: absolute;
		top: 0;
		left: 0;
		&.icon-time-yellow {
			.retina-sprite(@icon-time-yellow-group);
		}
		&.icon-mark-yellow {
			.retina-sprite(@icon-mark-yellow-group);
		}
		&.icon-phone-yellow {
			.retina-sprite(@icon-phone-yellow-group);
		}
	}
}

@media screen and (max-width: 1020px) {
	.header {
		&__title-text {
			font-size: @15;
		}
		&__phone {
			font-size: @15;
		}
	}
}

@media screen and (max-width: 990px) {
	.header {
		&__col {
			padding-right: 0;
			text-align: center;
			&:first-child {
				width: 33.3333%;
			}
			&:nth-child(2) {
				width: 33.3333%;
			}
			&:last-child {
				width: 33.3333%;
				padding-right: 0;
			}
		}
		&__title {
			display: inline-block;
			text-align: center;
			width: auto;
			// padding-left: 23px;
		}
		&__title-text {
			display: none;
		}
		&__phone {
			display: none;
		}
		&__link-wrap {
			display: none;
		}
		&__body {
			display: none;
		}
		&__hidden-title {
			display: block;
			font-size: @16;
		}
	}
}

@media screen and (max-width: 550px) {
	.header {
		&__col {
			// text-align: left;
			&:first-child {
				width: 37%;
			}
			&:nth-child(2) {
				width: 30.5%;
			}
			&:last-child {
				width: 30.5%;
				padding-right: 0;
			}
		}
		&__title {
			padding: 3px 0 0 20px;
		}
		&__hidden-title {
			// text-align: left;
			font-size: @11;
		}
		.icon {
			&.icon-time-yellow {
				.retina-sprite(@icon-time-yellow-mini-group);
			}
			&.icon-mark-yellow {
				.retina-sprite(@icon-mark-yellow-mini-group);
			}
			&.icon-phone-yellow {
				.retina-sprite(@icon-phone-yellow-mini-group);
			}
		}
	}
}