.info-box {
	padding: 65px 0 100px;
	h1 {
		.playfair();
		.font(@36, #193341);
		margin: 30px 0;
	}
	h2 {
		.playfair();
		.font(@24, #193341);
		margin: 20px 0;
	}
	h3 {
		.playfair();
		.font(@20, #193341);
		margin: 10px 0;
	}
	h4 {}
	h5 {}
	h6 {}

	p {
		.ptserif();
		.font(@16, #193341);
		line-height: 1.4;
		margin-bottom: 15px;
	}
	i, em {}
	strong, b {}
	a {}
	table {
		text-align: left;
		min-width: 700px;
		thead {
			tr {
				th {
					.ptserif-italic();
					.font(@16, rgba(25,51,65,.6));
					padding: 15px 0;
				}
			}
		}
		tbody {
			tr {
				td {
					.ptserif();
					.font(@16, #193341);
					line-height: 1.3;
					padding: 12px 0;
					&:first-child {
						min-width: 300px;
					}
					&:nth-child(2) {
						min-width: 140px;
					}
				}
			}
		}
	}
	img {
		max-width: 100%;
		vertical-align: middle;
		margin-bottom: 30px;
		&.info-box__author-img {
			margin-bottom: 12px;
		}
	}

	blockquote {
		padding: 30px 0;
		max-width: 875px;
		margin: 60px auto;
		position: relative;
		&:after,
		&:before {
			content:'';
			position: absolute;
			left: 50%;
			width: 200px;
			height: 1px;
			background-color: rgba(25,51,65,.3);
			margin-left: -100px;
		}
		&:before {
			top: 0;
		}
		&:after {
			bottom: 0;
		}
		* {
			text-align: center;
			.playfair();
			.font(@24, #193341);
			font-style: italic;
			line-height: 1.58;
		}
	}

	ul, ol {
		li {
			.ptserif();
			.font(@16, #193341);
			line-height: 1.4
		}
	}
	ol {
		list-style-type: decimal;
		padding-left: 20px;
		ol {margin: 8px 0;}
	}
	ul {
		list-style-type: disc;
		padding-left: 20px;
		ul {margin: 8px 0;}
	}

	&__inner-content {
		width: 700px;
	}
	&__table-scroll {
		overflow-x: auto;
	}
	&__col-wrap {
		&_col-2 {
			.info-box__col {
				width: calc(~"100% / 2");
				margin-right: -4px;
			}
		}
		&_col-3 {
			.info-box__col {
				width: calc(~"100% / 3");
				margin-right: -4px;
			}
		}
	}
	&__col {
		display: inline-block;
		vertical-align: top;
		padding-right: 45px;
	}
	&__mini-block {
		float: right;
		width: 230px;
		margin-left: 60px;
		img {margin-bottom: 15px;}
		p {
			color: rgba(25,51,65,.6);
			font-size: @14;
			line-height: 1.43;
		}
	}
	&__comment {
		display: flex;
		justify-content: center;
		align-items: center;
		margin: 50px 0;
	}
	&__author {
		text-align: center;
		max-width: 120px;
		min-width: 120px;
		align-self: flex-start;
	}
	&__author-img {
		margin-bottom: 12px;
	}
	&__author-name {
		.ptserif();
		.font(@16, #193341, 3px);
	}
	&__author-post {
		.ptserif();
		.font(@13, #193341);
	}
	&__author-text {
		max-width: 600px;
		margin-left: 70px;
		.playfair();
		.font(@16, #193341);
		font-style: italic;
		line-height: 1.75;
	}
}

@media screen and (max-width: 768px) {
	.info-box {
		&__inner-content {
			width: 100%;
		}
		> img {
			width: 100%;
		}
		&__col-wrap {
			&_col-2 {
				.info-box__col {
					width: 100%;
					margin-right: 0;
				}
			}
			&_col-3 {
				.info-box__col {
					width: 100%;
					margin-right: 0;
				}
			}
		}
		&__col {
			display: block;
			padding: 0;
			margin-bottom: 45px;
		}
		&__mini-block {
			float: none;
			width: 230px;
			margin: 0 0 25px 0;
			img {margin-bottom: 15px;}
			p {
				color: rgba(25,51,65,.6);
				font-size: @14;
				line-height: 1.43;
			}
		}
	}
}

@media screen and (max-width: 660px) {
	.info-box {
		&__comment {
			flex-direction: column;
		}
		&__author {
			align-self: center;
		}
		&__author-text {
			margin: 25px 0 0 0;
		}
	}
}