.infoBox {
	> div {
		padding: 20px 10px;
		cursor: pointer;
	}
}

.main-map {
	width: 100%;
	display: block;
	height: 200px;
	border-top: 1px solid #c4c9c9;
	&__text {
		text-align: center;
		.ptserif();
		.font(@16, #efefeb);
		line-height: 1.3;
	}
}