.menu-wrapp {
	.container {
		position: relative;
	}
}

.menu {
	width: 400px;
	height: 390px;
	border-radius: 1px;
	background-color: #f8f5e9;
	box-shadow: 0 10px 15px 0 rgba(0, 0, 0, 0.1), 0 2px 2px 0 rgba(24, 51, 65, 0.15);
	position: absolute;
	z-index: 5;
	left: 20px;
	top: -152px;
	padding: 35px 30px 25px;
	&__list {
		&_bottom {
			text-align: center;
			.menu__item {
				display: inline-block;
				float: none;
				width: auto;
				margin: 0 -4px 0 0;
			}
			.menu__link {
				padding: 0 18px;
				&:hover {
					text-decoration: underline;
				}
			}
			.menu__link-name {
				font-size: @14;
				opacity: 0.8;
			}
		}
	}
	&__item {
		margin-bottom: 26px;
		width: 50%;
		float: left;
	}
	&__link {
		display: block;
		text-align: center;
		color: #193341;
		text-decoration: none;
	}
	&__link-name {
		.ptserif();
		.font(@18, #193341);
		line-height: 1.11;
	}
	&__button {
		margin-bottom: 16px;
	}
	.btn {}

	.icon {
		display: block;
		margin: 0 auto 10px;
		&.icon-menu-watch {
			.retina-sprite(@icon-menu-watch-group);
		}
		&.icon-menu-jewelry {
			.retina-sprite(@icon-menu-jewelry-group);
		}
		&.icon-menu-accessories {
			.retina-sprite(@icon-menu-accessories-group);
		}
		&.icon-menu-gems {
			.retina-sprite(@icon-menu-gems-group);
		}
	}
}

.sub-menu {
	display: none;
	border-radius: 1px;
	background-color: #f8f5e9;
	box-shadow: 0 10px 15px 0 rgba(0, 0, 0, 0.1), 0 2px 2px 0 rgba(24, 51, 65, 0.15);
	position: absolute;
	z-index: 5;
	height: 140px;
	left: 20px;
	top: -116px;
	width: 400px;
	&__inner {
		height: 100%;
	}
	&__back {
		height: 100%;
		width: 70px;
		text-align: center;
		display: block;
		float: left;
		position: relative;
		border-right: 1px solid #e4e2d9;
		text-decoration: none;
	}
	&__icon-menu {
		display: inline-block;
		width: 16px;
		position: relative;
		margin: 54px 0 15px;
		&:after,
		&:before {
			display: block;
			content:'';
			width: 100%;
			height: 2px;
			background-color: #c3b89a;
			.border-radius(5px);
		}
		span {
			width: 100%;
			height: 2px;
			display: block;
			background-color: #c3b89a;
			margin: 4px 0;
			.border-radius(5px);
		}
	}
	&__name {
		display: block;
		width: 100%;
		opacity: 0.8;
		.ptserif();
		.font(@14, #193341);
		line-height: 1.14;
	}
	&__icon-box {
		width: 130px;
		text-align: center;
		float: left;
		height: 100%;
		display: table;
	}
	&__icon-inner-wrap {
		display: table-cell;
		vertical-align: middle;
	}
	&__icon-name {
		.ptserif();
		.font(@14, #193341);
		line-height: 1.15;
		display: block;
		margin-top: 5px;
	}
	&__button-wrap {
		text-align: center;
		float: left;
		margin-top: 28px;
	}
	&__service-link {
		.ptserif();
		.font(@14, #193341);
		line-height: 1.11;
		text-decoration: none;
		opacity: 0.8;
		&:hover {
			text-decoration: underline;
		}
	}
	&__services {
		padding: 20px 30px;
		height: 100%;
	}
	&__services-list {}
	&__services-item {
		width: 50%;
		display: inline-block;
		margin: 0 -4px 15px auto;
		&:nth-last-child(-n+2) {
			margin-bottom: 0;
		}
	}
	&__services-link {
		.ptserif();
		.font(@14, #193341);
		opacity: 0.8;
		line-height: 1.11;
		text-decoration: none;
		&:hover {
			text-decoration: underline;
		}
	}
	.icon {
		display: inline-block;
		&.icon-menu-arrow {
			position: absolute;
			top: 50%;
			left: 50%;
			margin-top: -5.5px;
			margin-left: -6px;
			.retina-sprite(@icon-menu-arrow-group);
		}
		&.icon-menu-watch {
			.retina-sprite(@icon-menu-watch-group);
		}
		&.icon-menu-jewelry {
			.retina-sprite(@icon-menu-jewelry-group);
		}
		&.icon-menu-accessories {
			.retina-sprite(@icon-menu-accessories-group);
		}
		&.icon-menu-gems {
			.retina-sprite(@icon-menu-gems-group);
		}
	}
	.btn {
		min-width: 180px;
		margin-bottom: 15px;
		font-size: @14;
		padding: 11px 10px;
	}
}

@media screen and (max-width: 990px) {
	.menu {
		width: 600px;
		height: auto;
		top: -116px;
		left: 50%;
		margin-left: -300px;
		&__list {
			&_bottom {
				.menu__item {
					display: inline-block;
					float: none;
					width: auto;
					margin: 0 -4px 0 0;
				}
				.menu__link {
					padding: 0 18px;
					&:hover {
						text-decoration: underline;
					}
				}
				.menu__link-name {
					font-size: @14;
					opacity: 0.8;
				}
			}
		}
		&__item {
			width: 135px;
		}
	}
	.sub-menu {
		margin-left: -200px;
		left: 50%;
	}
}

@media screen and (max-width: 660px) {
	.menu,
	.sub-menu {
		.icon {
			&.icon-menu-watch {
				.retina-sprite(@icon-menu-watch-mini-group);
			}
			&.icon-menu-jewelry {
				.retina-sprite(@icon-menu-jewelry-mini-group);
			}
			&.icon-menu-accessories {
				.retina-sprite(@icon-menu-accessories-mini-group);
			}
			&.icon-menu-gems {
				.retina-sprite(@icon-menu-gems-mini-group);
			}
		}
	}

	.menu {
		width: 290px;
		margin-left: -145px;
		padding: 20px 15px;
		&__item {
			margin-bottom: 14px;
			&:first-child {width: 16%;}
			&:nth-child(2) {width: 28%;}
			&:nth-child(3) {width: 28%;}
			&:nth-child(4) {width: 28%;}
		}
		&__list {
			&_bottom {
				.menu__item {
					display: inline-block;
					float: none;
					width: auto;
					margin: 0 -4px 0 0;
				}
				.menu__link-name {
					font-size: @9;
				}
			}
		}
		.icon {
			margin-bottom: 7px;
		}
		&__link-name {
			font-size: @10;
			line-height: normal;
		}
		.btn {
			font-size: @14;
			line-height: 1.5;
			margin-bottom: 5px;
		}
	}

	.sub-menu {
		width: 290px;
		height: 100px;
		margin-left: -145px;
		&__icon-name {
			font-size: @10;
			line-height: normal;
		}
		.btn {
			font-size: @12;
			line-height: normal;
			margin-bottom: 9px;
			min-width: 150px;
			padding: 10px;
		}
		&__back {
			width: 45px;
		}
		&__icon-menu {
			margin: 37px 0 11px;
		}
		&__name {
			font-size: @10;
		}
		&__button-wrap {
			margin-top: 19px;
		}
		&__icon-box {
			width: 85px;
		}
		&__service-link {
			font-size: @10;
			line-height: normal;
		}
	}
}