.news-list {
	max-width: 700px;
	&__item {
		display: block;
		margin-bottom: 50px;
		&:last-child {
			margin-bottom: 0;
		}
		&:hover {
			.news-list__item-title {
				color: #057ab9;
			}
			.news-list__item-text {
				color: rgba(51,106,135,.8);
			}
		}
	}
	&__link {
		display: block;
		text-decoration: none;
	}
	&__item-title {
		.playfair();
		.font(@24, #193341, 20px);
		line-height: 1;
		.transition(all .2s);
	}
	&__item-descr {}
	&__item-text {
		.ptserif();
		.font(@18, rgba(25,51,65,.8));
		line-height: 1.39;
		.transition(all .2s);
	}
}