.page-404 {
	width: 100vw;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #efefeb;
}

.box-404 {
	width: 600px;
	border-radius: 1px;
	background-color: #f8f5e9;
	background-image: url('@{img}404-watch.png');
	background-repeat: no-repeat;
	background-size: auto;
	background-position: 56px top;
	// padding: 0 50px 45px;
	.box-shadow(0 10px 15px 0 rgba(0, 0, 0, 0.1), 0 2px 2px 0 rgba(24, 51, 65, 0.15));
	&__body {
		text-align: right;
		margin-bottom: 73px;
	}
	&__col {
		text-align: center;
		width: 50%;
		display: inline-block;
		padding: 90px 64px 0 0;
	}
	&__title {
		.playfair();
		.font(@24, #193341, 11px);
		line-height: 1.4;
	}
	&__sub-title {
		opacity: 0.8;
		.ptserif();
		.font(@14, #193341, 24px);
	}
	&__footer {
		padding: 0 10px;
	}
	&__list {
		text-align: center;
		margin-bottom: 45px;
	}
	&__list-item {
		display: inline-block;
		width: auto;
	}
	&__list-link {
		opacity: 0.8;
		.ptserif();
		.font(@14, #193341, 21px);
		text-decoration: none;
		padding: 2px 14px;
		&:hover {
			text-decoration: underline;
		}
	}

	.btn_menu {
		max-width: 200px;
		font-size: @14;
		padding: 6px 10px;
		display: inline-block;
	}
	.icon-menu-arrow {
		display: inline-block;
		vertical-align: -1px;
		.retina-sprite(@icon-menu-arrow-group);
	}
}



@media screen and (max-width: 640px) {
	.box-404 {
		width: 450px;
		background-size: 28%;
		background-position: 35px top;
		&__body {
			margin-bottom: 45px;
		}
		&__col {
			width: 58%;
			padding: 20px 40px 0 0;
		}
		&__title {
			font-size: @20;
		}
		&__list {
			margin-bottom: 20px;
		}
		&__list-link {
			font-size: @12;
		}
	}
}

@media screen and (max-width: 480px) {
	.box-404 {
		width: 280px;
		background-size: 55%;
		background-position: center top;
		&__body {
			margin-bottom: 25px;
		}
		&__col {
			width: 100%;
			padding: 230px 0 0 0;
		}
		&__list {
			margin-bottom: 35px;
		}
		&__list-item {
			display: block;
			margin-bottom: 15px;
		}
		&__list-link {
			font-size: @14;
		}
	}
}