.price-form {
	padding-top: 15px;
	&__title {
		display: inline-block;
		vertical-align: top;
		margin-right: -4px;
		.ptserif();
		.font(@16, rgba(25,51,65,.5));
		padding: 6px 8px;
		background-color: @white;
		.border-radius(2px 0 0 2px);
		border-right: 1px solid #dbdbd1;
	}
	&__name {
		display: inline-block;
		vertical-align: top;
		margin-right: -4px;
		padding: 6px 8px;
		.ptserif();
		.font(@16, rgba(25,51,65,.5));
	}
	&__price-wrap {
		display: inline-block;
		vertical-align: top;
		margin-right: -4px;
		background-color: @white;
		&:last-child {
			border-left: 1px solid #dbdbd1;
			.price-form__name {
				padding-left: 13px;
			}
		}
	}
	&__clear {
		position: relative;
		cursor: pointer;
		background-color: @white;
		width: 28px;
		height: 28px;
		display: inline-block;
		vertical-align: top;
		// margin-right: -4px;
		.transition(all 0.2s ease);
		// opacity: 0;
		&:after,
		&:before {
			content:'';
			position: absolute;
			width: 16px;
			height: 1px;
			top: 50%;
			right: 50%;
			margin-right: -8px;
			margin-top: -1px;
			background-color: rgba(25,51,65,.5);
		}
		&:after {
			.transform(rotate(45deg));
		}
		&:before {
			.transform(rotate(-45deg));
		}
	}

	.form {}
	.form__field {
		display: inline-block;
		vertical-align: top;
		margin-right: -4px;
		max-width: 55px;
	}
	.form__input {
		height: 28px;
		.ptserif();
		.font(@16, #193341);
	}
}

@media screen and (max-width: 500px) {
	.price-form {
		&__title {
			font-size: @13;
			padding: 7px 8px 8px;
		}
		&__name {
			font-size: @13;
			padding: 7px 8px 8px;
		}
	}
}