.product-list {
	&_slider {
		.product-list__item {
			max-width: 200px;
			&:nth-child(4n) {
				margin-right: 10px;
			}
		}
	}
	&_default {}
	&__item {
		width: calc(~'(100% - 10px * 3) / 4');
		max-width: 260px;
		margin: 0 10px 20px 0;
		float: left;
		&:nth-child(4n) {
			margin-right: 0;
		}
		text-align: center;
		background-color: @white;
		.transition(all .25s ease-in);
		&:hover {
			.box-shadow(0 5px 20px 0 rgba(24, 51, 65, 0.15), 0 2px 5px 0 rgba(24, 51, 65, 0.15));
		}
		&_show-box {
			display: table;
			height: 340px;
			.product-list__link {
				display: table-cell;
				padding: 0;
				vertical-align: middle;
				// min-height: 340px;
			}
		}
		&_special-offer {
			position: relative;
			.product-list__label {
				width: 80px;
				height: 80px;
				position: absolute;
				top: 0;
				left: 0;
				&:before {
					content:'';
					position: absolute;
					top: 0;
					left: 0;
					width: 0;
					height: 0;
					border-style: solid;
					border-width: 80px 80px 0 0;
					border-color: #e3d18e transparent transparent transparent;
				}
			}
			.icon-special-offer {
				display: block;
				position: absolute;
				top: 15px;
				left:15px;
				.retina-sprite(@icon-special-offer-group);
			}
		}
	}
	&__link {
		text-decoration: none;
		display: block;
		padding: 30px 0 20px;
		height: 100%;
	}
	&__img-box {
		margin-bottom: 19px;
	}
	&__image {
		height: 180px;
	}
	&__name {
		.ptserif();
		.font(@18, @black);
		margin: 0 15px 8px;
	}
	&__description {
		.ptserif();
		.font(@14, rgba(0,0,0,.7));
		line-height: 1.29;
		margin: 0 25px 11px;
		height: 36px;
		overflow-y: hidden;
	}
	&__old-price {
		display: inline-block;
		vertical-align: middle;
		.ptserif();
		.font(@14, #999999);
		text-decoration: line-through;
		margin: 0 5px;
	}
	&__price {
		display: inline-block;
		vertical-align: middle;
		.ptserif();
		.font(@16, #999999);
		margin: 0 5px;
	}
	&__icon-box {
		width: 108px;
		height: 108px;
		margin: 0 auto 25px;
		.border-radius(50%);
		border: solid 1px rgba(151,151,151,.2);
	}
	&__text {
		.ptserif();
		.font(@18, @black);
		margin: 0 30px;
		line-height: 1.3;
	}
	&__count {}

	&_in-popup {
		width: 100%;
		display: block;
		.product-list__item {
			float: none;
			display: inline-block;
			margin: 0 5px 20px;
			max-width: none;
			min-width: 193px;
		}
	}

	.icon {
		display: block;
		margin: 26.5px auto 0;
		&.icon-menu-watch {
			.retina-sprite(@icon-menu-watch-group);
		}
		&.icon-menu-jewelry {
			.retina-sprite(@icon-menu-jewelry-group);
		}
		&.icon-menu-accessories {
			.retina-sprite(@icon-menu-accessories-group);
		}
		&.icon-menu-gems {
			.retina-sprite(@icon-menu-gems-group);
		}
	}
}


@media screen and (max-width: 870px) {
	.product-list {
		&_default {
			display: none;
		}
		&__link {
			padding-top: 19px;
		}
		&__img-box {
			margin-bottom: 12px;
		}
		&__image {
			height: 150px;
		}
		&__name {
			font-size: @12;
			margin-bottom: 8px;
		}
		&__description {
			font-size: @12;
			height: 32px;
			margin-bottom: 9px;
		}
		&__price {
			font-size: @14;
		}
		&__item {
			&_show-box {
				height: 279px;
				&.swiper-slide {
					height: 279px;
				}
				.product-list__link {}
				.product-list__text {
					font-size: @14;
					margin: 0 15px;
				}
			}
		}
	}
}

@media screen and (max-width: 768px) {
	.product-list {
		&_listing {
			.product-list__item {
				width: calc(~'(100% - 10px * 2) / 3');
				&:nth-child(4n) {
					margin-right: 10px;
				}
				&:nth-child(3n) {
					margin-right: 0;
				}
			}
		}
	}
}

@media screen and (max-width: 600px) {
	.product-list {
		&_listing {
			.product-list__item {
				width: calc(~'(100% - 10px) / 2');
				max-width: none;
				&:nth-child(4n) {
					margin-right: 10px;
				}
				&:nth-child(3n) {
					margin-right: 10px;
				}
				&:nth-child(even) {
					margin-right: 0;
				}
				&_show-box {
					height: 309px;
				}
			}
			.product-list__image {
				height: auto;
			}
		}
	}
}

@media screen and (max-width: 410px) {
	.product-list {
		&_listing {
			.product-list__item {
				width: calc(~'(100% - 10px) / 2');
				max-width: none;
				height: 264px;
				&.product-list__item_show-box {
					height: 264px;
				}
				&.product-list__item_special-offer {
					.product-list__label {
						width: 50px;
						height: 50px;
						&:before {
							border-width: 50px 50px 0 0;
						}
					}
					.icon-special-offer {
						top: 5px;
						left: 5px;
					}
				}
			}
			.product-list__image {
				height: 135px;
			}
		}
	}
}