.product-content {
	background-color: @white;
	display: flex;
	&_page {
		background-color: #efefeb;
		.product-content__col {
			&.product-content__col_slider {
				padding-top: 0;
				max-width: 61%;
			}
			&.product-content__col_information {
				max-width: 39%;
				padding: 0 0 25px 77px;
			}
		}
		.product-content__name {
			font-size: @36;
			margin-bottom: 0;
		}
		.product-content__set {
			margin: 33px 0 20px;
		}
		.product-information {
			.product-information__row {
				margin-bottom: 18px;
			}
			.product-information__title {
				margin-bottom: 2px;
			}
			.product-information__descr {
				font-size: @18;
				line-height: 1.35;
			}
		}
	}
	&__col {
		flex: 1;
		&_slider {
			max-width: 65%;
			padding-top: 70px;
		}
		&_information {
			max-width: 35%;
			background-color: #efefeb;
			padding: 0 50px 25px;
		}
	}
	&__close {
		display: block;
		width: calc(~"100% + 100px");
		padding: 29px 50px 29px;
		margin: 0 -50px;
		.ptserif();
		.font(@14, rgba(0,0,0,.5));
		text-decoration: none;
		letter-spacing: 0px;
		.transition(all .2s);
		&:hover {
			color: #193341;
			.product-content__icon-box {
				.icon-menu-arrow-gray {opacity: 0;}
				.icon-menu-arrow {opacity: 1;}
			}
		}
	}
	&__icon-box {
		display: inline-block;
		vertical-align: -1px;
		margin-right: 4px - 4px;
		position: relative;
		.retina-sprite(@icon-menu-arrow-gray-group);
		.icon {
			position: absolute;
			left: 0;
			top: 0;
			display: block;
			.transition(all .2s);
			&.icon-menu-arrow {
				opacity: 0;
				.retina-sprite(@icon-menu-arrow-group);
			}
		}
	}
	&__heading {}
	&__name {
		.playfair();
		.font(@28, @black, 13px);
		letter-spacing: 0px;
		// line-height: 1.5;
	}
	&__reference {
		.ptserif();
		.font(@16, rgba(0,0,0,.8));
		letter-spacing: 0px;
		// line-height: 1.2;
	}
	&__set {
		padding: 13px 0 15px;
		margin: 23px 0;
		border-width: 1px 0;
		border-color: #d9d9d1;
		border-style: solid;
	}
	&__set-box {
		display: inline-block;
		margin-right: -4px;
		vertical-align: top;
		&:first-child {
			width: 40%;
		}
		&:last-child {
			width: 60%;
		}
	}
	&__set-title {
		.ptserif-italic();
		.font(@14, rgba(0,0,0,.6), 5px);
		letter-spacing: 0px;
		// line-height: 1.4;
	}
	&__set-descr {
		.ptserif();
		.font(@18, @black);
		letter-spacing: 0px;
		// line-height: 1.5;
	}
	&__footer {}
	&__slider-wrap {
		max-width: 650px;
		// margin: 0 auto;
	}
}

.product-information {
	&__row {
		margin-bottom: 15px;
		&:last-child {
			margin-bottom: 0;
		}
	}
	&__inner {}
	&__title {
		.ptserif-italic();
		.font(@14, rgba(0,0,0,.6), 3px);
		letter-spacing: 0px;
		// line-height: 1.4;
	}
	&__descr {
		.ptserif();
		.font(@16, @black);
		letter-spacing: 0px;
		line-height: 1.34;
	}
}

@media screen and (max-width: 1100px) {
	.product-content {
		&__col {
			&_information {
				padding: 0 20px 25px;
			}
		}
		&__close {
			display: block;
			width: calc(~"100% + 40px");
			padding: 29px 20px 29px;
			margin: 0 -20px;
		}
		&_page {
			.product-content__col {
				&.product-content__col_information {
					padding: 0 0 25px 35px;
				}
			}
		}
	}
}

@media screen and (max-width: 1000px) {
	.product-content {
		flex-direction: column;
		&__col {
			&_slider {
				width: 100%;
				max-width: none;
			}
			&_information {
				width: 100%;
				max-width: none;
			}
		}
		&_page {
			.product-content__col {
				&.product-content__col_slider {
					width: 100%;
					max-width: none;
				}
				&.product-content__col_information {
					padding: 0 0 25px 0;
					width: 100%;
					max-width: none;
				}
			}
		}
		&__slider-wrap {
			max-width: none;
			// margin: 0 auto;
		}
	}
}

@media screen and (max-width: 500px) {
	.product-content {
		&_page {
			.product-content__heading {
				padding-top: 20px;
			}
			.product-content__name {
				font-size: @20;
				text-align: center;
			}
		}
		&__set-box {
			display: block;
			margin-right: 0;
			&:first-child {
				width: 100%;
				margin-bottom: 30px;
			}
			&:last-child {
				width: 100%;
			}
		}
	}
}