.section {
	&_first {}
	&_trade-in {
		background-color: #efefeb;
		padding: 40px 0;
	}
	&_advantages {
		background-color: #efefeb;
		padding: 60px 0 35px;
	}
	&_product-list {
		background-color: #efefeb;
	}
	&_multiline {
		padding-bottom: 30px;
	}
	&_singleline {
		padding: 15px 0 15px;
	}
	&__title {
		.playfair();
		.font(@24, #193341, 15px);
		line-height: 1.5;
	}
	&__filter {
		.ptserif();
		.font(@16, rgba(25,51,65,.5));
		text-decoration: none;
		margin-left: 13px;
		z-index: 3;
		position: relative;
	}
	&__footer {
		text-align: center;
		padding: 20px 0;
	}
	&_warning {
		background-color: #efefeb;
		padding: 55px 0 90px;
	}
	&_infobox {
		background-color: #efefeb;
	}
	&_product-page {
		background-color: #efefeb;
		padding: 68px 0 20px;
	}
	&_in-product-page {
		padding-bottom: 63px;
	}
	&_in-product-popup {
		display: none;
		padding-left: 20px;
	}
	&_about-us {
		background-color: #efefeb;
		padding: 65px 0 85px;
	}
	&_news-list {
		background-color: #efefeb;
		padding: 65px 0 150px;
	}
	&_adaptive-list {
		background-color: #efefeb;
	}
	&_contacts {
		background-color: #efefeb;
	}
}

@media screen and (max-width: 870px) {
	.section {
		&_product-list {
			.container {
				padding-right: 0;
			}
			.filter-wrap {
				padding-right: 20px;
			}
			.section__footer {
				padding-right: 20px;
			}
		}
	}
}

@media screen and (max-width: 680px) {
	.section {
		&_in-product-popup {
			display: block;
		}
	}
}

@media screen and (max-width: 500px) {
	.section {
		&__title {
			font-size: @20;
			margin-bottom: 18px;
		}
	}
}

