.services {
	margin: 50px 0;
	&__item {
		text-align: center;
		display: inline-block;
		vertical-align: top;
		position: relative;
		margin-right: -4px;
		width: calc(~"100% / 3");
		background-color: #efefeb;
		&_hover {
			position: absolute;
			z-index: 2;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background-color: @white;
			.border-radius(3px);
			.box-shadow(0 5px 20px 0 rgba(24, 51, 65, 0.15), 0 2px 5px 0 rgba(24, 51, 65, 0.15));
		}
	}
	&__link {
		padding: 40px;
		text-decoration: none;
		display: block;
	}
	&__name {
		.playfair();
		.font(@24, #193341);
	}
	&__descr {
		.ptserif();
		.font(@16, #193341);
		line-height: 1.4;
		max-height: 136px;
		overflow-y: hidden;
		margin-bottom: 30px;
	}
	&__price {
		padding-top: 15px;
		.ptserif();
		.font(@18, #193341);
		position: relative;
		&:before {
			content:'';
			width: 120px;
			height: 1px;
			position: absolute;
			opacity: 0.2;
			background-color: #193341;
			top: 0;
			left: 50%;
			margin-left: -60px;
		}
	}
}

@media screen and (max-width: 990px) {
	.services {
		&__link {
			padding: 20px 15px;
		}
	}
}

@media screen and (max-width: 768px) {
	.services {
		&__item {
			display: block;
			margin-right: 0;
			width: 100%;
		}
	}
}