.trade-in-content {
	text-align: right;
	&__inner {
		display: inline-block;
		width: 50%;
	}
	&__col {
		text-align: left;
		display: inline-block;
		width: 50%;
		margin-right: -4px;
		vertical-align: top;
		padding-right: 35px;
	}
	&__title {
		.playfair();
		.font(@24, #193341, 11px);
		line-height: 1.5;
	}
	&__descr {
		.ptserif();
		.font(@16, #193341);
		line-height: 1.4;
		max-height: 157px;
		overflow-y: hidden;
	}
}


@media screen and (max-width: 990px) {
	.trade-in-content {
		margin-bottom: 115px;
		&__inner {
			display: none;
		}
	}
}

@media screen and (max-width: 660px) {
	.trade-in-content {
		margin-bottom: 10px;
	}
}