.warning-block {
	padding: 0 35px;
	&__inner {
		background-color: #f8f5e9;
		border: solid 1px #cecab5;
		padding: 29px 60px 37px 139px;
		position: relative;
		&:before {
			content:'';
			.retina-sprite(@icon-warning-group);
			position: absolute;
			left: 51px;
			top: 50%;
			margin-top: -15.5px;
		}
	}
	&__info {
		.ptserif();
		.font(@18, #193341);
		line-height: 1.35;
	}
}

@media screen and (max-width: 660px) {
	.warning-block {
		padding: 0;
		&__inner {
			padding: 15px 20px 15px 60px;
			&:before {
				left: 17px;
				top: 18px;
				margin-top: auto;
				.retina-sprite(@icon-warning-mini-group);
			}
		}
		&__info {
			font-size: @16;
		}
	}
}

@media screen and (max-width: 450px) {
	.warning-block {
		&__info {
			font-size: @12;
		}
	}
}