<!DOCTYPE html>
<html lang="ru">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
{% block title %}
	<title>Ломбард часов, продать часы на Цветном</title>
{% endblock %}
{% block links %}
{% include 'blocks/links.twig' %}
{% endblock %}
</head>
<body>
{% block content %}
	<div class="page-404">
		<div class="box-404">
			<div class="box-404__body">
				<div class="box-404__col">
					<h1 class="box-404__title">Данной страницы<br>не существует</h1>
					<h4 class="box-404__sub-title">Ошибка 404</h4>
					<a href="javascript:void(0);" class="btn btn_menu">
						<i class="icon-menu-arrow"></i>
						Вернуться назад
					</a>
				</div>
			</div>
			<div class="box-404__footer">
				<ul class="box-404__list">
					<li class="box-404__list-item">
						<a href="javascript:void(0);" class="box-404__list-link">Часы</a>
					</li>
					<li class="box-404__list-item">
						<a href="javascript:void(0);" class="box-404__list-link">Ювелирные изделия</a>
					</li>
					<li class="box-404__list-item">
						<a href="javascript:void(0);" class="box-404__list-link">Аксессуары</a>
					</li>
					<li class="box-404__list-item">
						<a href="javascript:void(0);" class="box-404__list-link">О ломбарде</a>
					</li>
				</ul>
			</div>
		</div>
	</div>
{% endblock %}
{% block scripts %}
{% include 'blocks/scripts.twig' %}
{% endblock %}
</body>
</html>