{% extends 'blocks/layout.twig' %}

{% block content %}
	<section class="section section_about-us">
		<div class="container">
			<div class="about-us-content">
				<h1 class="about-us-content__title">
					ООО «ЧАСОВОЙ ЛОМБАРД на Сретенке» является одним из ведущих ломбардов, осуществляющих операции по предоставлению займов под залог швейцарских часов и элитных ювелирных изделий
				</h1>

				<div class="about-us-content__info">
					<h2 class="about-us-content__info-title">Информация о Ломбарде:</h2>
					<div class="about-us-content__info-descr">
						<p class="about-us-content__text">Общество с ограниченной ответственностью «ЧАСОВОЙ ЛОМБАРД на Сретенке»</p>
					</div>
				</div>

				<div class="about-us-content__info">
					<h2 class="about-us-content__info-title">Сокращенное наименование на русском языке:</h2>
					<div class="about-us-content__info-descr">
						<p class="about-us-content__text about-us-content__text_sub-title">ООО «ЧАСОВОЙ ЛОМБАРД на Сретенке»</p>
						<p class="about-us-content__text">В Едином государственном реестре юридических лиц ломбард зарегистрирован 27 сентября 2011 года за номером 1117746758931 (ОГРН).</p>
					</div>
				</div>

				<div class="about-us-content__info">
					<h2 class="about-us-content__info-title">Режим работы:</h2>
					<div class="about-us-content__info-descr">
						<p class="about-us-content__text">с 11.00 до 20.00 по рабочим дням,</p>
						<p class="about-us-content__text">с 11.00 до 17.00 по субботам,</p>
						<p class="about-us-content__text">воскресенье – выходной день</p>
					</div>
				</div>

				<div class="about-us-content__info">
					<h2 class="about-us-content__info-title">Юридический, фактический и почтовый адреса:</h2>
					<div class="about-us-content__info-descr">
						<p class="about-us-content__text">107045, г. Москва, Печатников переулок, дом 12</p>
					</div>
				</div>

				<div class="about-us-content__info">
					<h2 class="about-us-content__info-title">ИНН / КПП:</h2>
					<div class="about-us-content__info-descr">
						<p class="about-us-content__text">7724805732 / 770201001</p>
					</div>
				</div>

				<div class="about-us-content__info">
					<h2 class="about-us-content__info-title">ОГРН:</h2>
					<div class="about-us-content__info-descr">
						<p class="about-us-content__text">1117746758931</p>
					</div>
				</div>

				<div class="about-us-content__info">
					<h2 class="about-us-content__info-title">ОКВЭД</h2>
					<div class="about-us-content__info-descr">
						<p class="about-us-content__text">65.22.6</p>
					</div>
				</div>

				<div class="about-us-content__info">
					<h2 class="about-us-content__info-title">ОКПО:</h2>
					<div class="about-us-content__info-descr">
						<p class="about-us-content__text">30271541</p>
					</div>
				</div>

				<div class="about-us-content__info">
					<h2 class="about-us-content__info-title">ОКТМО:</h2>
					<div class="about-us-content__info-descr">
						<p class="about-us-content__text about-us-content__text_sub-title">45379000</p>
						<p class="about-us-content__text">р/с 40701810022000041750 в АКБ «Абсолютбанк» (ПАО), к/с 30101810500000000976 в ГУ Банка России по ЦФО г. Москва, БИК 044525976</p>
					</div>
				</div>

				<div class="about-us-content__info">
					<h2 class="about-us-content__info-title">Участниками ломбарда являются два физических лица, владеющие по 50% долей каждый:</h2>
					<div class="about-us-content__info-descr">
						<p class="about-us-content__text">Захарова Наталья Сергеевна</p>
						<p class="about-us-content__text">Красовский Владимир Владимирович</p>
					</div>
				</div>

				<div class="about-us-content__info">
					<h2 class="about-us-content__info-title">Информация об услугах, оказываемых ломбардом:</h2>
					<div class="about-us-content__info-descr">
						<p class="about-us-content__text about-us-content__text_sub-title">ООО «ЧАСОВОЙ ЛОМБАРД на Сретенке» оказывает следующие услуги:</p>
						<ul>
							<li>- предоставление краткосрочных займов гражданам;</li>
							<li>- прием в залог и на хранение движимых вещей (движимого имущества), предназначенных для личного потребления;</li>
							<li>- хранение и складирование, предоставление услуг по хранению ценностей;</li>
							<li>- оказание консультационных и информационных услуг населению;</li>
							<li>- оценка передаваемого в залог или сдаваемого на хранение имущества в соответствии с действующим законодательством или условиями договора;</li>
							<li>- предоставление посреднических услуг по страхованию передаваемого в залог или сдаваемого на хранение имущества;</li>
							<li>- реализация передаваемого в залог или сдаваемого на хранение имущества в соответствии с действующим законодательством или условиями договора;</li>
						</ul>
					</div>
				</div>

				<div class="about-us-content__info">
					<h2 class="about-us-content__info-title">Единоличный исполнительный орган:</h2>
					<div class="about-us-content__info-descr">
						<p class="about-us-content__text">Генеральный директор: Калинин Александр Иванович</p>
					</div>
				</div>

				<div class="about-us-content__info">
					<h2 class="about-us-content__info-title">Лицензии и свидетельства:</h2>
					<div class="about-us-content__info-descr">
						<p class="about-us-content__text">Свидетельство пробирной палаты № 3252 от 01 марта 2013 года.</p>
					</div>
				</div>

				<div class="about-us-content__info">
					<h2 class="about-us-content__info-title">Надзорные органы:</h2>
					<div class="about-us-content__info-descr about-us-content__info-descr_supervisors">
						<p class="about-us-content__text">Центральный банк Российской Федерации (Банк России)</p>
						<p class="about-us-content__text">адрес: 107016, Москва, ул. Неглинная, 12</p>
						<p class="about-us-content__text">тел.: <a href="tel:+74957719100">+7 (495) 771 9100</a></p>
						<p class="about-us-content__text">факс: <a href="tel:+74956216465">+7 (495) 621 6465</a></p>
						<p class="about-us-content__text">сайт: <a href="javascript:void(0);">www.cbr.ru</a></p>
					</div>

					<div class="about-us-content__info-descr about-us-content__info-descr_supervisors">
						<p class="about-us-content__text">Межрайонная инспекция федеральной налоговой службы № 2 по г. Москве</p>
						<p class="about-us-content__text">адрес: 129110, г. Москва, ул. Большая Переяславская, Дом 16</p>
						<p class="about-us-content__text">тел.: <a href="tel:+78002222222">+7 (800) 222 2222</a></p>
						<p class="about-us-content__text">факс: <a href="tel:+74954000218">+7 (495) 400 0218</a></p>
						<p class="about-us-content__text">сайт: <a href="javascript:void(0);">www.nalog.ru</a></p>
					</div>
				</div>

				<div class="about-us-content__info">
					<h2 class="about-us-content__info-title">Документы:</h2>
					<div class="about-us-content__info-descr">
						<ol>
							<li><a href="javascript:void(0);">1. Свидетельство о постановке на учет в налоговом органе</a></li>
							<li><a href="javascript:void(0);">2. Свидетельство о постановке на специальный учет</a></li>
							<li><a href="javascript:void(0);">3. Удостоверение участника «Лиги Ломбардов»</a></li>
							<li><a href="javascript:void(0);">4. Сертификат о заключении договора страхования</a></li>
							<li><a href="javascript:void(0);">5. Информационный плакат Банка России</a></li>
							<li><a href="javascript:void(0);">6. Информационный плакат Банка России</a></li>
							<li><a href="javascript:void(0);">7. Общие условия договора потребительского займа [PDF]</a></li>
							<li><a href="javascript:void(0);">8. Индивидуальные условия договора потребительского займа (согласовываются ломбардом и заемщиком) [PDF]</a></li>
						</ol>
					</div>
				</div>
			</div>
		</div>
	</section>
{% endblock %}