{% extends 'blocks/layout.twig' %}

{% block content %}
	<section class="section section_infobox">
		<div class="info-box">
			<div class="container">
				<div class="info-box__inner-content">
					<h1>Заголовок H1</h1>
					<p>Предысловие 18 мая 2016 года состоялась онлайн-встреча с экспертом по юзабилити, основателем USABILITYLAB, экс-советником министра связи Дмитрием Сатиным на тему «Психология пользователей: восприятие, мотивация, социальные факторы».</p>

					<h2>Подзаголовок H2</h2>
					<p>18 мая 2016 года состоялась онлайн-встреча с экспертом по юзабилити, основателем USABILITYLAB, экс-советником министра связи Дмитрием Сатиным на тему «Психология пользователей: восприятие, мотивация, социальные факторы». Свою лекцию Дмитрий посвятил ряду психологических концепций, которые могут помочь при работе над юзабилити сайта. Рассмотрим некоторые из них.</p>

					<h2>Таблицы</h2>
					<div class="info-box__table-scroll">
						<table>
							<thead>
								<tr>
									<th>Наименование</th>
									<th>Количество</th>
									<th>Цена</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td>Саморезы 8x60mm</td>
									<td>1000 шт</td>
									<td>2000 ₽</td>
								</tr>
								<tr>
									<td>Гвозди 8x80mm</td>
									<td>2000 шт</td>
									<td>2000 ₽</td>
								</tr>
								<tr>
									<td>Кирпич</td>
									<td>200000 шт</td>
									<td>1 450 000 ₽</td>
								</tr>
								<tr>
									<td>Молоток для гвоздей</td>
									<td>30 шт</td>
									<td>649 ₽</td>
								</tr>
								<tr>
									<td>Пеноблоки</td>
									<td>200 шт</td>
									<td>40 000 ₽</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
			<!-- WIDE-SLIDER -->
			<div class="swiper-container wide-slider">
				<div class="swiper-wrapper">
					<div class="swiper-slide wide-slider__slide">
						<div class="wide-slider__bg" style="background-image:url(img/wide-slider-img.jpg);"></div>
						<div class="container">
							<div class="wide-slider__descr">Описание изображения</div>
						</div>
					</div>
					<div class="swiper-slide wide-slider__slide">
						<div class="wide-slider__bg" style="background-image:url(img/wide-slider-img.jpg);"></div>
						<div class="container">
							<div class="wide-slider__descr">Описание изображения</div>
						</div>
					</div>
					<div class="swiper-slide wide-slider__slide">
						<div class="wide-slider__bg" style="background-image:url(img/wide-slider-img.jpg);"></div>
						<div class="container">
							<div class="wide-slider__descr">Описание изображения</div>
						</div>
					</div>
					<div class="swiper-slide wide-slider__slide">
						<div class="wide-slider__bg" style="background-image:url(img/wide-slider-img.jpg);"></div>
						<div class="container">
							<div class="wide-slider__descr">Описание изображения</div>
						</div>
					</div>
				</div>
				<!-- Add Pagination -->
				<div class="swiper-pagination"></div>
				<!-- Add Arrows -->
				<div class="wide-slider__arrows wide-slider__arrows_next">
					<i class="icon icon-arrow-next"></i>
				</div>
				<div class="wide-slider__arrows wide-slider__arrows_prev">
					<i class="icon icon-arrow-prev"></i>
				</div>
			</div>
			<!-- WIDE-SLIDER END -->
			<div class="container">
				<div class="info-box__inner-content">
					<h2>Блок текста с картинкой</h2>
					<img src="img/article-img.png" alt="">
					<p>18 мая 2016 года состоялась онлайн-встреча с экспертом по юзабилити, основателем USABILITYLAB, экс-советником министра связи Дмитрием Сатиным на тему «Психология пользователей: восприятие, мотивация, социальные факторы». Свою лекцию Дмитрий посвятил ряду психологических концепций, которые могут помочь при работе над юзабилити сайта. Рассмотрим некоторые из них.</p>
				</div>
				<h2>Колонки</h2>

				<!-- COLUMNS -->
				<div class="info-box__col-wrap info-box__col-wrap_col-3">
					<div class="info-box__col">
						<img src="img/info-icon-01.png" alt="" style="mix-blend-mode: multiply;opacity:0.5;">
						<h3>Заголовок столбца</h3>
						<p>18 мая 2016 года состоялась онлайн-встреча с экспертом по юзабилити, основателем USABILITYLAB, экс-советником министра связи Дмитрием Сатиным на тему «Психология пользователей: восприятие, мотивация, социальные факторы».</p>
					</div>
					<div class="info-box__col">
						<img src="img/info-icon-02.png" alt="" style="mix-blend-mode: multiply;opacity:0.5;">
						<h3>Заголовок столбца</h3>
						<p>18 мая 2016 года состоялась онлайн-встреча с экспертом по юзабилити, основателем USABILITYLAB, экс-советником министра связи Дмитрием Сатиным на тему «Психология пользователей: восприятие, мотивация, социальные факторы».</p>
					</div>
					<div class="info-box__col">
						<img src="img/info-icon-03.png" alt="" style="mix-blend-mode: multiply;opacity:0.5;">
						<h3>Заголовок столбца</h3>
						<p>18 мая 2016 года состоялась онлайн-встреча с экспертом по юзабилити, основателем USABILITYLAB, экс-советником министра связи Дмитрием Сатиным на тему «Психология пользователей: восприятие, мотивация, социальные факторы».</p>
					</div>
				</div>
				<!-- COLUMNS END -->

				<h2>Списки и текстовый блок с картинкой справа</h2>

				<ul>
					<li>18 мая 2016 года состоялась онлайн-встреча с экспертом по юзабилити, основателем USABILITYLAB, экс-советником министра связи Дмитрием Сатиным на тему «Психология пользователей: восприятие, мотивация, социальные факторы».</li>
					<li>Свою лекцию Дмитрий посвятил ряду психологических концепций, которые могут помочь при работе над юзабилити сайта. Рассмотрим некоторые из них.</li>
					<li>18 мая 2016 года состоялась онлайн-встреча с экспертом по юзабилити, основателем USABILITYLAB, экс-советником министра связи Дмитрием Сатиным на тему «Психология пользователей: восприятие, мотивация, социальные факторы».</li>
					<li>18 мая 2016 года состоялась онлайн-встреча с экспертом по юзабилити, основателем USABILITYLAB, экс-советником министра связи Дмитрием Сатиным на тему «Психология пользователей: восприятие, мотивация, социальные факторы».
						<ul>
							<li>Свою лекцию Дмитрий посвятил ряду психологических концепций, которые могут помочь при работе над юзабилити сайта. Рассмотрим некоторые из них.</li>
							<li>Свою лекцию Дмитрий посвятил ряду психологических концепций, которые могут помочь при работе над юзабилити сайта. Рассмотрим некоторые из них.</li>
							<li>Свою лекцию Дмитрий посвятил ряду психологических концепций, которые могут помочь при работе над юзабилити сайта. Рассмотрим некоторые из них.</li>
						</ul>
					</li>
				</ul>

				<h2>Списки и текстовый блок с картинкой справа</h2>

				<div class="info-box__mini-block">
					<img src="img/mini-block-img.png" alt="">
					<p>Блок с дополнительной информацией может содержать полезную информацию, относящуюся к основному тексту</p>
				</div>
				<ol>
					<li>18 мая 2016 года состоялась онлайн-встреча с экспертом по юзабилити, основателем USABILITYLAB, экс-советником министра связи Дмитрием Сатиным на тему «Психология пользователей: восприятие, мотивация, социальные факторы».</li>
					<li>Свою лекцию Дмитрий посвятил ряду психологических концепций, которые могут помочь при работе над юзабилити сайта. Рассмотрим некоторые из них.</li>
					<li>18 мая 2016 года состоялась онлайн-встреча с экспертом по юзабилити, основателем USABILITYLAB, экс-советником министра связи Дмитрием Сатиным на тему «Психология пользователей: восприятие, мотивация, социальные факторы».</li>
					<li>Свою лекцию Дмитрий посвятил ряду психологических концепций, которые могут помочь при работе над юзабилити сайта. Рассмотрим некоторые из них.
						<ol>
							<li>Свою лекцию Дмитрий посвятил ряду психологических концепций, которые могут помочь при работе над юзабилити сайта. Рассмотрим некоторые из них.</li>
							<li>Свою лекцию Дмитрий посвятил ряду психологических концепций, которые могут помочь при работе над юзабилити сайта. Рассмотрим некоторые из них.</li>
							<li>Свою лекцию Дмитрий посвятил ряду психологических концепций, которые могут помочь при работе над юзабилити сайта. Рассмотрим некоторые из них.</li>
						</ol>
					</li>
				</ol>

				<form class="form form_buy form_app">
					<div class="form__field form__field_with-label">
						<input id="for_buy" type="text" class="form__input" required="">
						<label class="form__label">Оставьте свой телефон или эл.почту</label>
					</div>
					<div class="form__field">
						<button type="submit" class="btn">Оставить заявку</button>
					</div>
				</form>

				<blockquote>
					<p>A like button, like option, or recommend button is a feature in communication software such as social networking services, Internet forums, news websites and blogs where the user can express that they like, enjoy or support certain content.</p>
				</blockquote>

				<div class="services">
					<div class="services__item">
						<a href="javascript:void(0);" class="services__link">
							<h2 class="services__name">Услуга</h2>
							<div class="services__descr">
								18 мая 2016 года состоялась онлайн-встреча с экспертом по юзабилити, основателем USABILITYLAB, экс-советником министра связи Дмитрием Сатиным на тему «Психология пользователей: восприятие, мотивация, социальные факторы».
							</div>
							<div class="services__price">100 000₽</div>
						</a>
					</div>
					<div class="services__item">
						<a href="javascript:void(0);" class="services__link">
							<h2 class="services__name">Услуга</h2>
							<div class="services__descr">
								18 мая 2016 года состоялась онлайн-встреча с экспертом по юзабилити, основателем USABILITYLAB, экс-советником министра связи Дмитрием Сатиным на тему «Психология пользователей: восприятие, мотивация, социальные факторы».
							</div>
							<div class="services__price">100 000₽</div>
						</a>
					</div>
					<div class="services__item">
						<a href="javascript:void(0);" class="services__link">
							<h2 class="services__name">Услуга</h2>
							<div class="services__descr">
								18 мая 2016 года состоялась онлайн-встреча с экспертом по юзабилити, основателем USABILITYLAB, экс-советником министра связи Дмитрием Сатиным на тему «Психология пользователей: восприятие, мотивация, социальные факторы».
							</div>
							<div class="services__price">100 000₽</div>
						</a>
					</div>
				</div>

				<div class="info-box__comment">
					<div class="info-box__author">
						<img src="img/author-img.png" alt="" class="info-box__author-img">
						<div class="info-box__author-name">John Baker</div>
						<div class="info-box__author-post">Deginer</div>
					</div>
					<div class="info-box__author-text">
						The like button was first announced as a FriendFeed feature on October 30, 2007 and was popularized within its community. Later on the feature was integrated to Facebook before eventually FriendFeed was acquired by Facebook August 10, 2009
					</div>
				</div>
			</div>
		</div>
	</section>
{% endblock %}