{% extends 'blocks/layout.twig' %}

{% block content %}
	<!-- TRADE-IN SECTION -->
	<section class="section section_trade-in">
		<div class="trade-in-content">
			<div class="container">
				<div class="trade-in-content__inner">
					<div class="trade-in-content__col">
						<h2 class="trade-in-content__title">Trade In</h2>
						<div class="trade-in-content__descr">
							Наш ломбард предлагает услугу обмена ваших часов на часы из нашего ассортимента. В зависимости от цены модели разница компенсируется одной из сторон.
						</div>
					</div>
					<div class="trade-in-content__col">
						<h2 class="trade-in-content__title">Получить залог</h2>
						<div class="trade-in-content__descr">
							Сдав в Ломбард имеющиеся у Вас элитные часы или брендовые ювелирные украшения, вы получите необходимую сумму, а позже при желании сможете выкупить свои изделия.
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- TRADE-IN SECTION END -->

	<!-- CONTACTS-CONTENT -->
	<section class="section section_contacts">
		<div class="container">
			<div class="contacts-content clearfix">
				<div class="contacts-content__col contacts-content__col_info">
					<div class="contacts-content__field">
						<h4 class="contacts-content__field-title">Нас легко найти по адресу:</h4>
						<div class="contacts-content__info">
							Москва,<br>
							Печатников переулок, дом 12<br>
							(ст. м. Трубная)
						</div>
					</div>
					<div class="contacts-content__field">
						<h4 class="contacts-content__field-title">Режим работы:</h4>
						<div class="contacts-content__info">Пн - Пт: 11:00 - 20:00 </div>
						<div class="contacts-content__info">Сб: 11:00 - 17:00 </div>
						<div class="contacts-content__info">Вс: выходной</div>
					</div>
					<div class="contacts-content__field">
						<h4 class="contacts-content__field-title">Звоните нам:</h4>
						<a href="tel:+74959975552" class="contacts-content__phone">+7 (495) 997-55-52</a>
						<a href="tel:+74956237446" class="contacts-content__phone">+7 (495) 623-74-46</a>
						<a href="tel:+79037930959" class="contacts-content__phone">+7 (903) 793-09-59</a>
						<div class="contacts-content__info">(WhatsApp, Viber)</div>
					</div>
					<div class="contacts-content__field">
						<h4 class="contacts-content__field-title">Наш email:</h4>
						<a href="mailto:lombardchasov@yandex.ru" class="contacts-content__email">lombardchasov@yandex.ru</a>
					</div>
				</div>
				<div class="contacts-content__col contacts-content__col_gallery">
					<ul id="contcats_gallery" class="contacts-gallery">
						<li class="contacts-gallery__item" data-src="img/contacts-gallery-inage-01.jpg" style="background-image:url(img/contacts-gallery-inage-01.jpg);">
							<div class="contacts-gallery__item-hover"></div>
						</li>
						<li class="contacts-gallery__item" data-src="img/contacts-gallery-inage-02.jpg" style="background-image:url(img/contacts-gallery-inage-02.jpg);">
							<div class="contacts-gallery__item-hover"></div>
						</li>
						<li class="contacts-gallery__item" data-src="img/contacts-gallery-inage-03.jpg" style="background-image:url(img/contacts-gallery-inage-03.jpg);">
							<div class="contacts-gallery__item-hover"></div>
						</li>
						<li class="contacts-gallery__item" data-src="img/contacts-gallery-inage-04.jpg" style="background-image:url(img/contacts-gallery-inage-04.jpg);">
							<div class="contacts-gallery__item-hover"></div>
						</li>
						<li class="contacts-gallery__item" data-src="img/contacts-gallery-inage-05.jpg" style="background-image:url(img/contacts-gallery-inage-05.jpg);">
							<div class="contacts-gallery__item-hover"></div>
						</li>
						<li class="contacts-gallery__item" data-src="img/contacts-gallery-inage-06.jpg" style="background-image:url(img/contacts-gallery-inage-06.jpg);">
							<div class="contacts-gallery__item-hover"></div>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</section>
	<!-- CONTACTS-CONTENT END -->

	<!-- WARNING-BLOCK -->
	<section class="section section_warning">
		<div class="container">
			<div class="warning-block">
				<div class="warning-block__inner">
					<div class="warning-block__info">Ломбард Часов не имеет отношения к официальным продавцам и производителям часовых брендов. Все часы, б/у и новые, которые есть в нашем магазине, принадлежали частным лицам и были проданы нам или не выкуплены по договору займа.</div>
				</div>
			</div>
		</div>
	</section>
	<!-- WARNING-BLOCK END  -->
{% endblock %}