{% extends 'blocks/layout.twig' %}

{% block content %}
	<!-- TRADE-IN SECTION -->
	<section class="section section_trade-in">
		<div class="trade-in-content">
			<div class="container">
				<div class="trade-in-content__inner">
					<div class="trade-in-content__col">
						<h2 class="trade-in-content__title">Trade In</h2>
						<div class="trade-in-content__descr">
							Наш ломбард предлагает услугу обмена ваших часов на часы из нашего ассортимента. В зависимости от цены модели разница компенсируется одной из сторон.
						</div>
					</div>
					<div class="trade-in-content__col">
						<h2 class="trade-in-content__title">Получить залог</h2>
						<div class="trade-in-content__descr">
							Сдав в Ломбард имеющиеся у Вас элитные часы или брендовые ювелирные украшения, вы получите необходимую сумму, а позже при желании сможете выкупить свои изделия.
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- TRADE-IN SECTION END -->

	<!-- PRODUCTS -->
	<section class="section section_product-list section_multiline">
		<div class="container">
			<!-- FILTER-WRAP -->
			<div class="filter-wrap filter-wrap_padding">
				<div class="filter">
					<div class="filter__head clearfix">
						<div class="filter__head-inner-wrap clearfix">
							<h2 class="filter__title">
								<a href="javascript:void(0);" class="filter__title-link">Часы</a>
							</h2>
							<div class="filter-nav">
								<ul class="filter-nav__list">
									<li class="filter-nav__item filter-nav__item_with-value">
										<a href="#tab_1" class="filter-nav__link">Бренд</a>
										<span class="filter-nav__selected-value">
											Roger Dubuis
											<span title="Удалить"></span>
										</span>
										<span class="filter-nav__selected-value">
											Blancpain
											<span title="Удалить"></span>
										</span>
									</li>
									<li class="filter-nav__item">
										<a href="#tab_2" class="filter-nav__link">Цена</a>
									</li>
									<li class="filter-nav__item">
										<a href="#tab_3" class="filter-nav__link">Корпус</a>
									</li>
									<li class="filter-nav__item">
										<a href="#tab_4" class="filter-nav__link">Ремешок</a>
									</li>
									<li class="filter-nav__item">
										<a href="#tab_5" class="filter-nav__link">Механизм</a>
									</li>
									<div class="filter__sort-price">
										<div class="form__field">
											<label class="form__label">
												<input type="checkbox" class="form__input">
												Сортировать по <span>цене</span>
											</label>
										</div>
									</div>
								</ul>
							</div>
						</div>
						<div class="filter__search-wrap">
							<div class="filter__search-row">
								<form class="form clearfix">
									<div class="filter__search-clear">Очистить</div>
									<div class="form__field">
										<input type="text" class="form__input js-search" placeholder="Поиск">
									</div>
								</form>
							</div>
							<div class="filter__search-trigger">
								<i class="icon icon-lens"></i>
								Поиск
							</div>
						</div>
					</div>
					<div class="filter__body">
						<div id="tab_1" class="filter__content">
							<ul class="filter__list">
								<li class="filter__body-row">
									<label class="form__checkbox-label">
										<input type="checkbox" name="brands" value="brand_name" class="form__input">
										<span class="form__checkbox-name">
											A.Lange & Sohne
											<span class="form__checkbox-count">2</span>
										</span>
									</label>
								</li>
								<li class="filter__body-row">
									<label class="form__checkbox-label">
										<input type="checkbox" name="brands" value="brand_name" class="form__input">
										<span class="form__checkbox-name">
											Arnold & Son
											<span class="form__checkbox-count">10</span>
										</span>
									</label>
								</li>
								<li class="filter__body-row">
									<label class="form__checkbox-label">
										<input type="checkbox" name="brands" value="brand_name" class="form__input">
										<span class="form__checkbox-name">Audemars Piguet</span>
									</label>
								</li>
								<li class="filter__body-row">
									<label class="form__checkbox-label">
										<input type="checkbox" name="brands" value="brand_name" class="form__input">
										<span class="form__checkbox-name">Backes & Strauss</span>
									</label>
								</li>
								<li class="filter__body-row">
									<label class="form__checkbox-label">
										<input type="checkbox" name="brands" value="brand_name" class="form__input">
										<span class="form__checkbox-name">Bell & Ross</span>
									</label>
								</li>
								<li class="filter__body-row">
									<label class="form__checkbox-label">
										<input type="checkbox" name="brands" value="brand_name" class="form__input">
										<span class="form__checkbox-name">Blancpain</span>
									</label>
								</li>
								<li class="filter__body-row">
									<label class="form__checkbox-label">
										<input type="checkbox" name="brands" value="brand_name" class="form__input">
										<span class="form__checkbox-name">
											Bovet
											<span class="form__checkbox-count">4</span>
										</span>
									</label>
								</li>
								<li class="filter__body-row">
									<label class="form__checkbox-label">
										<input type="checkbox" name="brands" value="brand_name" class="form__input">
										<span class="form__checkbox-name">
											Breguet
											<span class="form__checkbox-count">8</span>
										</span>
									</label>
								</li>
								<li class="filter__body-row">
									<label class="form__checkbox-label">
										<input type="checkbox" name="brands" value="brand_name" class="form__input">
										<span class="form__checkbox-name">Breitling</span>
									</label>
								</li>
								<li class="filter__body-row">
									<label class="form__checkbox-label">
										<input type="checkbox" name="brands" value="brand_name" class="form__input">
										<span class="form__checkbox-name">Bucherer</span>
									</label>
								</li>
								<li class="filter__body-row">
									<label class="form__checkbox-label">
										<input type="checkbox" name="brands" value="brand_name" class="form__input">
										<span class="form__checkbox-name">Bvlgari</span>
									</label>
								</li>
								<li class="filter__body-row">
									<label class="form__checkbox-label">
										<input type="checkbox" name="brands" value="brand_name" class="form__input">
										<span class="form__checkbox-name">Carl F. Bucherer</span>
									</label>
								</li>
								<li class="filter__body-row">
									<label class="form__checkbox-label">
										<input type="checkbox" name="brands" value="brand_name" class="form__input">
										<span class="form__checkbox-name">Cartier</span>
									</label>
								</li>
								<li class="filter__body-row">
									<label class="form__checkbox-label">
										<input type="checkbox" name="brands" value="brand_name" class="form__input">
										<span class="form__checkbox-name">Chanel</span>
									</label>
								</li>
								<li class="filter__body-row">
									<label class="form__checkbox-label">
										<input type="checkbox" name="brands" value="brand_name" class="form__input">
										<span class="form__checkbox-name">Chaumet</span>
									</label>
								</li>
								<li class="filter__body-row">
									<label class="form__checkbox-label">
										<input type="checkbox" name="brands" value="brand_name" class="form__input">
										<span class="form__checkbox-name">Roger Dubuis</span>
									</label>
								</li>
								<li class="filter__body-row">
									<label class="form__checkbox-label">
										<input type="checkbox" name="brands" value="brand_name" class="form__input">
										<span class="form__checkbox-name">Chimento</span>
									</label>
								</li>
								<li class="filter__body-row">
									<label class="form__checkbox-label">
										<input type="checkbox" name="brands" value="brand_name" class="form__input">
										<span class="form__checkbox-name">Chopard</span>
									</label>
								</li>
								<li class="filter__body-row">
									<label class="form__checkbox-label">
										<input type="checkbox" name="brands" value="brand_name" class="form__input">
										<span class="form__checkbox-name">Corum</span>
									</label>
								</li>
								<li class="filter__body-row">
									<label class="form__checkbox-label">
										<input type="checkbox" name="brands" value="brand_name" class="form__input">
										<span class="form__checkbox-name">Cuervo y Sobrinos</span>
									</label>
								</li>
								<li class="filter__body-row">
									<label class="form__checkbox-label">
										<input type="checkbox" name="brands" value="brand_name" class="form__input">
										<span class="form__checkbox-name">Cvstos</span>
									</label>
								</li>
								<li class="filter__body-row">
									<label class="form__checkbox-label">
										<input type="checkbox" name="brands" value="brand_name" class="form__input">
										<span class="form__checkbox-name">Franck Muller</span>
									</label>
								</li>
								<li class="filter__body-row">
									<label class="form__checkbox-label">
										<input type="checkbox" name="brands" value="brand_name" class="form__input">
										<span class="form__checkbox-name">Omega</span>
									</label>
								</li>
								<li class="filter__body-row">
									<label class="form__checkbox-label">
										<input type="checkbox" name="brands" value="brand_name" class="form__input">
										<span class="form__checkbox-name">Blancpain</span>
									</label>
								</li>
								<li class="filter__body-row">
									<label class="form__checkbox-label">
										<input type="checkbox" name="brands" value="brand_name" class="form__input">
										<span class="form__checkbox-name">Chimento</span>
									</label>
								</li>
								<li class="filter__body-row">
									<label class="form__checkbox-label">
										<input type="checkbox" name="brands" value="brand_name" class="form__input">
										<span class="form__checkbox-name">Chopard</span>
									</label>
								</li>
								<li class="filter__body-row">
									<label class="form__checkbox-label">
										<input type="checkbox" name="brands" value="brand_name" class="form__input">
										<span class="form__checkbox-name">Chronoswiss</span>
									</label>
								</li>
								<li class="filter__body-row">
									<label class="form__checkbox-label">
										<input type="checkbox" name="brands" value="brand_name" class="form__input">
										<span class="form__checkbox-name">Chaumet</span>
									</label>
								</li>
							</ul>
							<div class="filter__footer">
								<button type="submit" id="apply_filter" class="btn">Применить фильтр</button>
								<a href="javascript:void(0);" class="filter__clear">Очистить</a>
							</div>
						</div>
						<div id="tab_2" class="filter__content">
							<!-- price-form -->
							<div class="price-form">
								<form class="form">
									<div class="price-form__title">
										Цена
									</div>
									<div class="price-form__price-wrap">
										<div class="price-form__name">от</div>
										<div class="form__field">
											<input type="text" class="form__input js-focus">
										</div>
										<div class="price-form__clear price-form__clear_first"></div>
									</div>
									<div class="price-form__price-wrap">
										<div class="price-form__name">до</div>
										<div class="form__field">
											<input type="text" class="form__input">
										</div>
										<div class="price-form__clear"></div>
									</div>
								</form>
							</div>
							<!-- price-form end -->
							<div class="filter__footer">
								<button type="submit" id="apply_filter" class="btn">Применить фильтр</button>
								<a href="javascript:void(0);" class="filter__clear">Очистить</a>
							</div>
						</div>
						<div id="tab_3" class="filter__content">
							<ul class="filter__list">
								<li class="filter__body-row">
									<label class="form__checkbox-label">
										<input type="checkbox" name="brands" value="brand_name" class="form__input">
										<span class="form__checkbox-name">Корпус 1</span>
									</label>
								</li>
								<li class="filter__body-row">
									<label class="form__checkbox-label">
										<input type="checkbox" name="brands" value="brand_name" class="form__input">
										<span class="form__checkbox-name">Корпус 2</span>
									</label>
								</li>
								<li class="filter__body-row">
									<label class="form__checkbox-label">
										<input type="checkbox" name="brands" value="brand_name" class="form__input">
										<span class="form__checkbox-name">Корпус 3</span>
									</label>
								</li>
								<li class="filter__body-row">
									<label class="form__checkbox-label">
										<input type="checkbox" name="brands" value="brand_name" class="form__input">
										<span class="form__checkbox-name">Корпус 4</span>
									</label>
								</li>
								<li class="filter__body-row">
									<label class="form__checkbox-label">
										<input type="checkbox" name="brands" value="brand_name" class="form__input">
										<span class="form__checkbox-name">Корпус 5</span>
									</label>
								</li>
								<li class="filter__body-row">
									<label class="form__checkbox-label">
										<input type="checkbox" name="brands" value="brand_name" class="form__input">
										<span class="form__checkbox-name">Корпус 6</span>
									</label>
								</li>
								<li class="filter__body-row">
									<label class="form__checkbox-label">
										<input type="checkbox" name="brands" value="brand_name" class="form__input">
										<span class="form__checkbox-name">Корпус 1</span>
									</label>
								</li>
								<li class="filter__body-row">
									<label class="form__checkbox-label">
										<input type="checkbox" name="brands" value="brand_name" class="form__input">
										<span class="form__checkbox-name">Корпус 2</span>
									</label>
								</li>
								<li class="filter__body-row">
									<label class="form__checkbox-label">
										<input type="checkbox" name="brands" value="brand_name" class="form__input">
										<span class="form__checkbox-name">Корпус 3</span>
									</label>
								</li>
								<li class="filter__body-row">
									<label class="form__checkbox-label">
										<input type="checkbox" name="brands" value="brand_name" class="form__input">
										<span class="form__checkbox-name">Корпус 4</span>
									</label>
								</li>
								<li class="filter__body-row">
									<label class="form__checkbox-label">
										<input type="checkbox" name="brands" value="brand_name" class="form__input">
										<span class="form__checkbox-name">
											Корпус 5
											<span class="form__checkbox-count">23</span>
										</span>
									</label>
								</li>
								<li class="filter__body-row">
									<label class="form__checkbox-label">
										<input type="checkbox" name="brands" value="brand_name" class="form__input">
										<span class="form__checkbox-name">Корпус 6</span>
									</label>
								</li>
								<li class="filter__body-row">
									<label class="form__checkbox-label">
										<input type="checkbox" name="brands" value="brand_name" class="form__input">
										<span class="form__checkbox-name">
											Корпус 1
											<span class="form__checkbox-count">65</span>
										</span>
									</label>
								</li>
								<li class="filter__body-row">
									<label class="form__checkbox-label">
										<input type="checkbox" name="brands" value="brand_name" class="form__input">
										<span class="form__checkbox-name">
											Корпус 2
											<span class="form__checkbox-count">9</span>
										</span>
									</label>
								</li>
								<li class="filter__body-row">
									<label class="form__checkbox-label">
										<input type="checkbox" name="brands" value="brand_name" class="form__input">
										<span class="form__checkbox-name">Корпус 3</span>
									</label>
								</li>
								<li class="filter__body-row">
									<label class="form__checkbox-label">
										<input type="checkbox" name="brands" value="brand_name" class="form__input">
										<span class="form__checkbox-name">Корпус 4</span>
									</label>
								</li>
								<li class="filter__body-row">
									<label class="form__checkbox-label">
										<input type="checkbox" name="brands" value="brand_name" class="form__input">
										<span class="form__checkbox-name">Корпус 5</span>
									</label>
								</li>
								<li class="filter__body-row">
									<label class="form__checkbox-label">
										<input type="checkbox" name="brands" value="brand_name" class="form__input">
										<span class="form__checkbox-name">Корпус 6</span>
									</label>
								</li>
								<li class="filter__body-row">
									<label class="form__checkbox-label">
										<input type="checkbox" name="brands" value="brand_name" class="form__input">
										<span class="form__checkbox-name">Корпус 1</span>
									</label>
								</li>
								<li class="filter__body-row">
									<label class="form__checkbox-label">
										<input type="checkbox" name="brands" value="brand_name" class="form__input">
										<span class="form__checkbox-name">
											Корпус 2
											<span class="form__checkbox-count">5</span>
										</span>
									</label>
								</li>
								<li class="filter__body-row">
									<label class="form__checkbox-label">
										<input type="checkbox" name="brands" value="brand_name" class="form__input">
										<span class="form__checkbox-name">
											Корпус 3
											<span class="form__checkbox-count">87</span>
										</span>
									</label>
								</li>
								<li class="filter__body-row">
									<label class="form__checkbox-label">
										<input type="checkbox" name="brands" value="brand_name" class="form__input">
										<span class="form__checkbox-name">Корпус 4</span>
									</label>
								</li>
								<li class="filter__body-row">
									<label class="form__checkbox-label">
										<input type="checkbox" name="brands" value="brand_name" class="form__input">
										<span class="form__checkbox-name">Корпус 5</span>
									</label>
								</li>
								<li class="filter__body-row">
									<label class="form__checkbox-label">
										<input type="checkbox" name="brands" value="brand_name" class="form__input">
										<span class="form__checkbox-name">Корпус 6</span>
									</label>
								</li>
								<li class="filter__body-row">
									<label class="form__checkbox-label">
										<input type="checkbox" name="brands" value="brand_name" class="form__input">
										<span class="form__checkbox-name">Корпус 1</span>
									</label>
								</li>
								<li class="filter__body-row">
									<label class="form__checkbox-label">
										<input type="checkbox" name="brands" value="brand_name" class="form__input">
										<span class="form__checkbox-name">Корпус 2</span>
									</label>
								</li>
								<li class="filter__body-row">
									<label class="form__checkbox-label">
										<input type="checkbox" name="brands" value="brand_name" class="form__input">
										<span class="form__checkbox-name">Корпус 3</span>
									</label>
								</li>
								<li class="filter__body-row">
									<label class="form__checkbox-label">
										<input type="checkbox" name="brands" value="brand_name" class="form__input">
										<span class="form__checkbox-name">Корпус 4</span>
									</label>
								</li>
							</ul>
							<div class="filter__footer">
								<button type="submit" id="apply_filter" class="btn">Применить фильтр</button>
								<a href="javascript:void(0);" class="filter__clear">Очистить</a>
							</div>
						</div>
						<div id="tab_4" class="filter__content">
							<ul class="filter__list">
								<li class="filter__body-row">
									<label class="form__checkbox-label">
										<input type="checkbox" name="brands" value="brand_name" class="form__input">
										<span class="form__checkbox-name">Ремешок 1</span>
									</label>
								</li>
								<li class="filter__body-row">
									<label class="form__checkbox-label">
										<input type="checkbox" name="brands" value="brand_name" class="form__input">
										<span class="form__checkbox-name">Ремешок 2</span>
									</label>
								</li>
								<li class="filter__body-row">
									<label class="form__checkbox-label">
										<input type="checkbox" name="brands" value="brand_name" class="form__input">
										<span class="form__checkbox-name">Ремешок 3</span>
									</label>
								</li>
								<li class="filter__body-row">
									<label class="form__checkbox-label">
										<input type="checkbox" name="brands" value="brand_name" class="form__input">
										<span class="form__checkbox-name">Ремешок 4</span>
									</label>
								</li>
								<li class="filter__body-row">
									<label class="form__checkbox-label">
										<input type="checkbox" name="brands" value="brand_name" class="form__input">
										<span class="form__checkbox-name">Ремешок 5</span>
									</label>
								</li>
								<li class="filter__body-row">
									<label class="form__checkbox-label">
										<input type="checkbox" name="brands" value="brand_name" class="form__input">
										<span class="form__checkbox-name">Ремешок 6</span>
									</label>
								</li>
								<li class="filter__body-row">
									<label class="form__checkbox-label">
										<input type="checkbox" name="brands" value="brand_name" class="form__input">
										<span class="form__checkbox-name">Ремешок 1</span>
									</label>
								</li>
								<li class="filter__body-row">
									<label class="form__checkbox-label">
										<input type="checkbox" name="brands" value="brand_name" class="form__input">
										<span class="form__checkbox-name">Ремешок 2</span>
									</label>
								</li>
								<li class="filter__body-row">
									<label class="form__checkbox-label">
										<input type="checkbox" name="brands" value="brand_name" class="form__input">
										<span class="form__checkbox-name">Ремешок 3</span>
									</label>
								</li>
								<li class="filter__body-row">
									<label class="form__checkbox-label">
										<input type="checkbox" name="brands" value="brand_name" class="form__input">
										<span class="form__checkbox-name">Ремешок 4</span>
									</label>
								</li>
								<li class="filter__body-row">
									<label class="form__checkbox-label">
										<input type="checkbox" name="brands" value="brand_name" class="form__input">
										<span class="form__checkbox-name">
											Ремешок 5
											<span class="form__checkbox-count">23</span>
										</span>
									</label>
								</li>
								<li class="filter__body-row">
									<label class="form__checkbox-label">
										<input type="checkbox" name="brands" value="brand_name" class="form__input">
										<span class="form__checkbox-name">Ремешок 6</span>
									</label>
								</li>
								<li class="filter__body-row">
									<label class="form__checkbox-label">
										<input type="checkbox" name="brands" value="brand_name" class="form__input">
										<span class="form__checkbox-name">
											Ремешок 1
											<span class="form__checkbox-count">65</span>
										</span>
									</label>
								</li>
								<li class="filter__body-row">
									<label class="form__checkbox-label">
										<input type="checkbox" name="brands" value="brand_name" class="form__input">
										<span class="form__checkbox-name">
											Ремешок 2
											<span class="form__checkbox-count">9</span>
										</span>
									</label>
								</li>
								<li class="filter__body-row">
									<label class="form__checkbox-label">
										<input type="checkbox" name="brands" value="brand_name" class="form__input">
										<span class="form__checkbox-name">Ремешок 3</span>
									</label>
								</li>
								<li class="filter__body-row">
									<label class="form__checkbox-label">
										<input type="checkbox" name="brands" value="brand_name" class="form__input">
										<span class="form__checkbox-name">Ремешок 4</span>
									</label>
								</li>
								<li class="filter__body-row">
									<label class="form__checkbox-label">
										<input type="checkbox" name="brands" value="brand_name" class="form__input">
										<span class="form__checkbox-name">Ремешок 5</span>
									</label>
								</li>
								<li class="filter__body-row">
									<label class="form__checkbox-label">
										<input type="checkbox" name="brands" value="brand_name" class="form__input">
										<span class="form__checkbox-name">Ремешок 6</span>
									</label>
								</li>
								<li class="filter__body-row">
									<label class="form__checkbox-label">
										<input type="checkbox" name="brands" value="brand_name" class="form__input">
										<span class="form__checkbox-name">Ремешок 1</span>
									</label>
								</li>
								<li class="filter__body-row">
									<label class="form__checkbox-label">
										<input type="checkbox" name="brands" value="brand_name" class="form__input">
										<span class="form__checkbox-name">
											Ремешок 2
											<span class="form__checkbox-count">5</span>
										</span>
									</label>
								</li>
								<li class="filter__body-row">
									<label class="form__checkbox-label">
										<input type="checkbox" name="brands" value="brand_name" class="form__input">
										<span class="form__checkbox-name">
											Ремешок 3
											<span class="form__checkbox-count">87</span>
										</span>
									</label>
								</li>
								<li class="filter__body-row">
									<label class="form__checkbox-label">
										<input type="checkbox" name="brands" value="brand_name" class="form__input">
										<span class="form__checkbox-name">Ремешок 4</span>
									</label>
								</li>
								<li class="filter__body-row">
									<label class="form__checkbox-label">
										<input type="checkbox" name="brands" value="brand_name" class="form__input">
										<span class="form__checkbox-name">Ремешок 5</span>
									</label>
								</li>
								<li class="filter__body-row">
									<label class="form__checkbox-label">
										<input type="checkbox" name="brands" value="brand_name" class="form__input">
										<span class="form__checkbox-name">Ремешок 6</span>
									</label>
								</li>
								<li class="filter__body-row">
									<label class="form__checkbox-label">
										<input type="checkbox" name="brands" value="brand_name" class="form__input">
										<span class="form__checkbox-name">Ремешок 1</span>
									</label>
								</li>
								<li class="filter__body-row">
									<label class="form__checkbox-label">
										<input type="checkbox" name="brands" value="brand_name" class="form__input">
										<span class="form__checkbox-name">Ремешок 2</span>
									</label>
								</li>
								<li class="filter__body-row">
									<label class="form__checkbox-label">
										<input type="checkbox" name="brands" value="brand_name" class="form__input">
										<span class="form__checkbox-name">Ремешок 3</span>
									</label>
								</li>
								<li class="filter__body-row">
									<label class="form__checkbox-label">
										<input type="checkbox" name="brands" value="brand_name" class="form__input">
										<span class="form__checkbox-name">Ремешок 4</span>
									</label>
								</li>
							</ul>
							<div class="filter__footer">
								<button type="submit" id="apply_filter" class="btn">Применить фильтр</button>
								<a href="javascript:void(0);" class="filter__clear">Очистить</a>
							</div>
						</div>
						<div id="tab_5" class="filter__content">
							<ul class="filter__list">
								<li class="filter__body-row">
									<label class="form__checkbox-label">
										<input type="checkbox" name="brands" value="brand_name" class="form__input">
										<span class="form__checkbox-name">Механизм 1</span>
									</label>
								</li>
								<li class="filter__body-row">
									<label class="form__checkbox-label">
										<input type="checkbox" name="brands" value="brand_name" class="form__input">
										<span class="form__checkbox-name">Механизм 2</span>
									</label>
								</li>
								<li class="filter__body-row">
									<label class="form__checkbox-label">
										<input type="checkbox" name="brands" value="brand_name" class="form__input">
										<span class="form__checkbox-name">Механизм 3</span>
									</label>
								</li>
								<li class="filter__body-row">
									<label class="form__checkbox-label">
										<input type="checkbox" name="brands" value="brand_name" class="form__input">
										<span class="form__checkbox-name">Механизм 4</span>
									</label>
								</li>
								<li class="filter__body-row">
									<label class="form__checkbox-label">
										<input type="checkbox" name="brands" value="brand_name" class="form__input">
										<span class="form__checkbox-name">Механизм 5</span>
									</label>
								</li>
								<li class="filter__body-row">
									<label class="form__checkbox-label">
										<input type="checkbox" name="brands" value="brand_name" class="form__input">
										<span class="form__checkbox-name">Механизм 6</span>
									</label>
								</li>
								<li class="filter__body-row">
									<label class="form__checkbox-label">
										<input type="checkbox" name="brands" value="brand_name" class="form__input">
										<span class="form__checkbox-name">Механизм 1</span>
									</label>
								</li>
								<li class="filter__body-row">
									<label class="form__checkbox-label">
										<input type="checkbox" name="brands" value="brand_name" class="form__input">
										<span class="form__checkbox-name">Механизм 2</span>
									</label>
								</li>
								<li class="filter__body-row">
									<label class="form__checkbox-label">
										<input type="checkbox" name="brands" value="brand_name" class="form__input">
										<span class="form__checkbox-name">Механизм 3</span>
									</label>
								</li>
								<li class="filter__body-row">
									<label class="form__checkbox-label">
										<input type="checkbox" name="brands" value="brand_name" class="form__input">
										<span class="form__checkbox-name">Механизм 4</span>
									</label>
								</li>
								<li class="filter__body-row">
									<label class="form__checkbox-label">
										<input type="checkbox" name="brands" value="brand_name" class="form__input">
										<span class="form__checkbox-name">
											Механизм 5
											<span class="form__checkbox-count">23</span>
										</span>
									</label>
								</li>
								<li class="filter__body-row">
									<label class="form__checkbox-label">
										<input type="checkbox" name="brands" value="brand_name" class="form__input">
										<span class="form__checkbox-name">Механизм 6</span>
									</label>
								</li>
								<li class="filter__body-row">
									<label class="form__checkbox-label">
										<input type="checkbox" name="brands" value="brand_name" class="form__input">
										<span class="form__checkbox-name">
											Механизм 1
											<span class="form__checkbox-count">65</span>
										</span>
									</label>
								</li>
								<li class="filter__body-row">
									<label class="form__checkbox-label">
										<input type="checkbox" name="brands" value="brand_name" class="form__input">
										<span class="form__checkbox-name">
											Механизм 2
											<span class="form__checkbox-count">9</span>
										</span>
									</label>
								</li>
								<li class="filter__body-row">
									<label class="form__checkbox-label">
										<input type="checkbox" name="brands" value="brand_name" class="form__input">
										<span class="form__checkbox-name">Механизм 3</span>
									</label>
								</li>
								<li class="filter__body-row">
									<label class="form__checkbox-label">
										<input type="checkbox" name="brands" value="brand_name" class="form__input">
										<span class="form__checkbox-name">Механизм 4</span>
									</label>
								</li>
								<li class="filter__body-row">
									<label class="form__checkbox-label">
										<input type="checkbox" name="brands" value="brand_name" class="form__input">
										<span class="form__checkbox-name">Механизм 5</span>
									</label>
								</li>
								<li class="filter__body-row">
									<label class="form__checkbox-label">
										<input type="checkbox" name="brands" value="brand_name" class="form__input">
										<span class="form__checkbox-name">Механизм 6</span>
									</label>
								</li>
								<li class="filter__body-row">
									<label class="form__checkbox-label">
										<input type="checkbox" name="brands" value="brand_name" class="form__input">
										<span class="form__checkbox-name">Механизм 1</span>
									</label>
								</li>
								<li class="filter__body-row">
									<label class="form__checkbox-label">
										<input type="checkbox" name="brands" value="brand_name" class="form__input">
										<span class="form__checkbox-name">
											Механизм 2
											<span class="form__checkbox-count">5</span>
										</span>
									</label>
								</li>
								<li class="filter__body-row">
									<label class="form__checkbox-label">
										<input type="checkbox" name="brands" value="brand_name" class="form__input">
										<span class="form__checkbox-name">
											Механизм 3
											<span class="form__checkbox-count">87</span>
										</span>
									</label>
								</li>
								<li class="filter__body-row">
									<label class="form__checkbox-label">
										<input type="checkbox" name="brands" value="brand_name" class="form__input">
										<span class="form__checkbox-name">Механизм 4</span>
									</label>
								</li>
								<li class="filter__body-row">
									<label class="form__checkbox-label">
										<input type="checkbox" name="brands" value="brand_name" class="form__input">
										<span class="form__checkbox-name">Механизм 5</span>
									</label>
								</li>
								<li class="filter__body-row">
									<label class="form__checkbox-label">
										<input type="checkbox" name="brands" value="brand_name" class="form__input">
										<span class="form__checkbox-name">Механизм 6</span>
									</label>
								</li>
								<li class="filter__body-row">
									<label class="form__checkbox-label">
										<input type="checkbox" name="brands" value="brand_name" class="form__input">
										<span class="form__checkbox-name">Механизм 1</span>
									</label>
								</li>
								<li class="filter__body-row">
									<label class="form__checkbox-label">
										<input type="checkbox" name="brands" value="brand_name" class="form__input">
										<span class="form__checkbox-name">Механизм 2</span>
									</label>
								</li>
								<li class="filter__body-row">
									<label class="form__checkbox-label">
										<input type="checkbox" name="brands" value="brand_name" class="form__input">
										<span class="form__checkbox-name">Механизм 3</span>
									</label>
								</li>
								<li class="filter__body-row">
									<label class="form__checkbox-label">
										<input type="checkbox" name="brands" value="brand_name" class="form__input">
										<span class="form__checkbox-name">Механизм 4</span>
									</label>
								</li>
							</ul>
							<div class="filter__footer">
								<button type="submit" id="apply_filter" class="btn">Применить фильтр</button>
								<a href="javascript:void(0);" class="filter__clear">Очистить</a>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- FILTER-WRAP END -->
			<!-- PRODUCT-LIST -->
			<ul class="product-list product-list_default clearfix">
				<li class="product-list__item product-list__item_special-offer">
					<a href="javascript:void(0);" data-href="#product" class="product-list__link js-popup-link">
						<div class="product-list__label">
							<i class="icon-special-offer"></i>
						</div>
						<div class="product-list__img-box">
							<img src="img/product-img.png" alt="" class="product-list__image">
						</div>
						<div class="product-list__name">Breguet Classique Le Reveil du Tsar</div>
						<div class="product-list__description">Conquistador Cortez Chronograph Automatic Steel</div>
						<div class="product-list__old-price">18 440 $</div>
						<div class="product-list__price">4 900 $</div>
					</a>
				</li>
				<li class="product-list__item product-list__item_special-offer">
					<a href="javascript:void(0);" data-href="#product" class="product-list__link js-popup-link">
						<div class="product-list__label">
							<i class="icon-special-offer"></i>
						</div>
						<div class="product-list__img-box">
							<img src="img/product-img.png" alt="" class="product-list__image">
						</div>
						<div class="product-list__name">Breguet Classique Le Reveil du Tsar</div>
						<div class="product-list__description">Conquistador Cortez Chronograph Automatic Steel</div>
						<div class="product-list__old-price">18 440 $</div>
						<div class="product-list__price">4 900 $</div>
					</a>
				</li>
				<li class="product-list__item">
					<a href="javascript:void(0);" data-href="#product" class="product-list__link js-popup-link">
						<div class="product-list__img-box">
							<img src="img/product-img.png" alt="" class="product-list__image">
						</div>
						<div class="product-list__name">Breguet Classique Le Reveil du Tsar</div>
						<div class="product-list__description">Conquistador Cortez Chronograph Automatic Steel</div>
						<div class="product-list__price">4 900 $</div>
					</a>
				</li>
				<li class="product-list__item">
					<a href="javascript:void(0);" data-href="#product" class="product-list__link js-popup-link">
						<div class="product-list__img-box">
							<img src="img/product-img.png" alt="" class="product-list__image">
						</div>
						<div class="product-list__name">Breguet Classique Le Reveil du Tsar</div>
						<div class="product-list__description">Conquistador Cortez Chronograph Automatic Steel</div>
						<div class="product-list__price">4 900 $</div>
					</a>
				</li>
				<li class="product-list__item">
					<a href="javascript:void(0);" data-href="#product" class="product-list__link js-popup-link">
						<div class="product-list__img-box">
							<img src="img/product-img.png" alt="" class="product-list__image">
						</div>
						<div class="product-list__name">Franck Muller</div>
						<div class="product-list__description">Conquistador Cortez Chronograph Automatic Steel</div>
						<div class="product-list__old-price">18 440 $</div>
						<div class="product-list__price">4 900 $</div>
					</a>
				</li>
				<li class="product-list__item">
					<a href="javascript:void(0);" data-href="#product" class="product-list__link js-popup-link">
						<div class="product-list__img-box">
							<img src="img/product-img.png" alt="" class="product-list__image">
						</div>
						<div class="product-list__name">Breguet Classique Le Reveil du Tsar</div>
						<div class="product-list__description">Conquistador Cortez Chronograph Automatic Steel</div>
						<div class="product-list__price">4 900 $</div>
					</a>
				</li>
				<li class="product-list__item">
					<a href="javascript:void(0);" data-href="#product" class="product-list__link js-popup-link">
						<div class="product-list__img-box">
							<img src="img/product-img.png" alt="" class="product-list__image">
						</div>
						<div class="product-list__name">Franck Muller</div>
						<div class="product-list__description">Conquistador Cortez Chronograph Automatic Steel</div>
						<div class="product-list__price">4 900 $</div>
					</a>
				</li>
				<li class="product-list__item product-list__item_show-box">
					<a href="javascript:void(0);" class="product-list__link">
						<div class="product-list__icon-box">
							<i class="icon icon-menu-watch"></i>
						</div>
						<div class="product-list__text">
							Посмотреть еще <span class="product-list__count">211</span> моделей
						</div>
					</a>
				</li>
			</ul>
			<!-- PRODUCT-LIST END -->

			<!-- PRODUCT-LIST-SLIDER -->
			<div class="swiper-container products">
				<ul class="swiper-wrapper product-list product-list_slider">
					<li class="swiper-slide product-list__item">
						<a href="javascript:void(0);" data-href="#product" class="product-list__link js-popup-link">
							<div class="product-list__img-box">
								<img src="img/product-img.png" alt="" class="product-list__image">
							</div>
							<div class="product-list__name">Franck Muller</div>
							<div class="product-list__description">Conquistador Cortez Chronograph Automatic Steel</div>
							<div class="product-list__price">4 900 $</div>
						</a>
					</li>
					<li class="swiper-slide product-list__item">
						<a href="javascript:void(0);" data-href="#product" class="product-list__link js-popup-link">
							<div class="product-list__img-box">
								<img src="img/product-img.png" alt="" class="product-list__image">
							</div>
							<div class="product-list__name">Franck Muller</div>
							<div class="product-list__description">Conquistador Cortez Chronograph Automatic Steel</div>
							<div class="product-list__price">4 900 $</div>
						</a>
					</li>
					<li class="swiper-slide product-list__item">
						<a href="javascript:void(0);" data-href="#product" class="product-list__link js-popup-link">
							<div class="product-list__img-box">
								<img src="img/product-img.png" alt="" class="product-list__image">
							</div>
							<div class="product-list__name">Franck Muller</div>
							<div class="product-list__description">Conquistador Cortez Chronograph Automatic Steel</div>
							<div class="product-list__price">4 900 $</div>
						</a>
					</li>
					<li class="swiper-slide product-list__item product-list__item_show-box">
						<a href="javascript:void(0);" class="product-list__link">
							<div class="product-list__icon-box">
								<i class="icon icon-menu-watch"></i>
							</div>
							<div class="product-list__text">
								Посмотреть еще <span class="product-list__count">415</span> моделей
							</div>
						</a>
					</li>
				</ul>
			</div>
			<!-- PRODUCT-LIST-SLIDER END -->

			<!-- show-more -->
			<div class="section__footer">
				<a href="javascript:void(0);" class="btn btn_show-more">Загрузить еще</a>
			</div>
			<!-- show-more end -->
		</div>
	</section>
	<!-- PRODUCTS END -->

	<!-- PRODUCTS -->
	<section class="section section_product-list section_singleline">
		<div class="container">
			<!-- FILTER-WRAP -->
			<div class="filter-wrap">
				<div class="filter">
					<div class="filter__head clearfix">
						<div class="filter__head-inner-wrap clearfix">
							<h2 class="filter__title">
								<a href="javascript:void(0);" class="filter__title-link">Украшения</a>
							</h2>
						</div>
						<div class="filter__search-wrap">
							<div class="filter__search-row">
								<form class="form clearfix">
									<div class="filter__search-clear">Очистить</div>
									<div class="form__field">
										<input type="text" class="form__input js-search" placeholder="Поиск">
									</div>
								</form>
							</div>
							<div class="filter__search-trigger">
								<i class="icon icon-lens"></i>
								Поиск
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- FILTER-WRAP END -->
			<!-- PRODUCT-LIST -->
			<ul class="product-list product-list_default clearfix">
				<li class="product-list__item">
					<a href="javascript:void(0);" data-href="#product" class="product-list__link js-popup-link">
						<div class="product-list__img-box">
							<img src="img/product-img-02.png" alt="" class="product-list__image">
						</div>
						<div class="product-list__name">Cartier Pendant</div>
						<div class="product-list__description">JackPot Limited</div>
						<div class="product-list__old-price">18 440 $</div>
						<div class="product-list__price">8 500 $</div>
					</a>
				</li>
				<li class="product-list__item">
					<a href="javascript:void(0);" data-href="#product" class="product-list__link js-popup-link">
						<div class="product-list__img-box">
							<img src="img/product-img-02.png" alt="" class="product-list__image">
						</div>
						<div class="product-list__name">Cartier Pendant</div>
						<div class="product-list__description">JackPot Limited</div>
						<div class="product-list__price">8 500 $</div>
					</a>
				</li>
				<li class="product-list__item">
					<a href="javascript:void(0);" data-href="#product" class="product-list__link js-popup-link">
						<div class="product-list__img-box">
							<img src="img/product-img-02.png" alt="" class="product-list__image">
						</div>
						<div class="product-list__name">Cartier Pendant</div>
						<div class="product-list__description">JackPot Limited</div>
						<div class="product-list__old-price">18 440 $</div>
						<div class="product-list__price">8 500 $</div>
					</a>
				</li>
				<li class="product-list__item">
					<a href="javascript:void(0);" data-href="#product" class="product-list__link js-popup-link">
						<div class="product-list__img-box">
							<img src="img/product-img-02.png" alt="" class="product-list__image">
						</div>
						<div class="product-list__name">Cartier Pendant</div>
						<div class="product-list__description">JackPot Limited</div>
						<div class="product-list__price">8 500 $</div>
					</a>
				</li>
				<li class="product-list__item">
					<a href="javascript:void(0);" data-href="#product" class="product-list__link js-popup-link">
						<div class="product-list__img-box">
							<img src="img/product-img-02.png" alt="" class="product-list__image">
						</div>
						<div class="product-list__name">Cartier Pendant</div>
						<div class="product-list__description">JackPot Limited</div>
						<div class="product-list__price">8 500 $</div>
					</a>
				</li>
				<li class="product-list__item">
					<a href="javascript:void(0);" data-href="#product" class="product-list__link js-popup-link">
						<div class="product-list__img-box">
							<img src="img/product-img-02.png" alt="" class="product-list__image">
						</div>
						<div class="product-list__name">Cartier Pendant</div>
						<div class="product-list__description">JackPot Limited</div>
						<div class="product-list__price">8 500 $</div>
					</a>
				</li>
				<li class="product-list__item">
					<a href="javascript:void(0);" data-href="#product" class="product-list__link js-popup-link">
						<div class="product-list__img-box">
							<img src="img/product-img-02.png" alt="" class="product-list__image">
						</div>
						<div class="product-list__name">Cartier Pendant</div>
						<div class="product-list__description">JackPot Limited</div>
						<div class="product-list__price">8 500 $</div>
					</a>
				</li>
				<li class="product-list__item product-list__item_show-box">
					<a href="javascript:void(0);" class="product-list__link">
						<div class="product-list__icon-box">
							<i class="icon icon-menu-jewelry"></i>
						</div>
						<div class="product-list__text">
							Посмотреть еще <span class="product-list__count">29</span> моделей
						</div>
					</a>
				</li>
			</ul>
			<!-- PRODUCT-LIST END -->

			<!-- PRODUCT-LIST-SLIDER -->
			<div class="swiper-container products">
				<ul class="swiper-wrapper product-list product-list_slider">
					<li class="swiper-slide product-list__item">
						<a href="javascript:void(0);" data-href="#product" class="product-list__link js-popup-link">
							<div class="product-list__img-box">
								<img src="img/product-img-02.png" alt="" class="product-list__image">
							</div>
							<div class="product-list__name">Franck Muller</div>
							<div class="product-list__description">Conquistador Cortez Chronograph Automatic Steel</div>
							<div class="product-list__price">4 900 $</div>
						</a>
					</li>
					<li class="swiper-slide product-list__item">
						<a href="javascript:void(0);" data-href="#product" class="product-list__link js-popup-link">
							<div class="product-list__img-box">
								<img src="img/product-img-02.png" alt="" class="product-list__image">
							</div>
							<div class="product-list__name">Franck Muller</div>
							<div class="product-list__description">Conquistador Cortez Chronograph Automatic Steel</div>
							<div class="product-list__price">4 900 $</div>
						</a>
					</li>
					<li class="swiper-slide product-list__item">
						<a href="javascript:void(0);" data-href="#product" class="product-list__link js-popup-link">
							<div class="product-list__img-box">
								<img src="img/product-img-02.png" alt="" class="product-list__image">
							</div>
							<div class="product-list__name">Franck Muller</div>
							<div class="product-list__description">Conquistador Cortez Chronograph Automatic Steel</div>
							<div class="product-list__price">4 900 $</div>
						</a>
					</li>
					<li class="swiper-slide product-list__item product-list__item_show-box">
						<a href="javascript:void(0);" class="product-list__link">
							<div class="product-list__icon-box">
								<i class="icon icon-menu-jewelry"></i>
							</div>
							<div class="product-list__text">
								Посмотреть еще <span class="product-list__count">29</span> моделей
							</div>
						</a>
					</li>
				</ul>
			</div>
			<!-- PRODUCT-LIST-SLIDER END -->

			<!-- PAGINATION -->
			<ul class="pagination">
				<li class="pagination__item">
					<a href="javascript:void(0);" class="pagination__link">1</a>
				</li>
				<li class="pagination__item pagination__item_inactive">
					<a href="javascript:void(0);" class="pagination__link">...</a>
				</li>
				<li class="pagination__item pagination__item_active">
					<a href="javascript:void(0);" class="pagination__link">21</a>
				</li>
				<li class="pagination__item">
					<a href="javascript:void(0);" class="pagination__link">22</a>
				</li>
				<li class="pagination__item">
					<a href="javascript:void(0);" class="pagination__link">23</a>
				</li>
				<li class="pagination__item">
					<a href="javascript:void(0);" class="pagination__link">24</a>
				</li>
			</ul>
			<!-- PAGINATION END -->
		</div>
	</section>
	<!-- PRODUCTS END -->

	<!-- PRODUCTS -->
	<section class="section section_product-list section_singleline">
		<div class="container">
			<!-- FILTER-WRAP -->
			<div class="filter-wrap">
				<div class="filter">
					<div class="filter__head clearfix">
						<div class="filter__head-inner-wrap clearfix">
							<h2 class="filter__title">
								<a href="javascript:void(0);" class="filter__title-link">Аксессуары</a>
							</h2>
						</div>
						<div class="filter__search-wrap">
							<div class="filter__search-row">
								<form class="form clearfix">
									<div class="filter__search-clear">Очистить</div>
									<div class="form__field">
										<input type="text" class="form__input js-search" placeholder="Поиск">
									</div>
								</form>
							</div>
							<div class="filter__search-trigger">
								<i class="icon icon-lens"></i>
								Поиск
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- FILTER-WRAP END -->
			<!-- PRODUCT-LIST -->
			<ul class="product-list product-list_default clearfix">
				<li class="product-list__item">
					<a href="javascript:void(0);" data-href="#product" class="product-list__link js-popup-link">
						<div class="product-list__img-box">
							<img src="img/product-img-03.png" alt="" class="product-list__image">
						</div>
						<div class="product-list__name">Cartier Pendant</div>
						<div class="product-list__description">JackPot Limited</div>
						<div class="product-list__price">8 500 $</div>
					</a>
				</li>
				<li class="product-list__item">
					<a href="javascript:void(0);" data-href="#product" class="product-list__link js-popup-link">
						<div class="product-list__img-box">
							<img src="img/product-img-03.png" alt="" class="product-list__image">
						</div>
						<div class="product-list__name">Cartier Pendant</div>
						<div class="product-list__description">JackPot Limited</div>
						<div class="product-list__old-price">18 440 $</div>
						<div class="product-list__price">8 500 $</div>
					</a>
				</li>
				<li class="product-list__item">
					<a href="javascript:void(0);" data-href="#product" class="product-list__link js-popup-link">
						<div class="product-list__img-box">
							<img src="img/product-img-03.png" alt="" class="product-list__image">
						</div>
						<div class="product-list__name">Cartier Pendant</div>
						<div class="product-list__description">JackPot Limited</div>
						<div class="product-list__price">8 500 $</div>
					</a>
				</li>
				<li class="product-list__item">
					<a href="javascript:void(0);" data-href="#product" class="product-list__link js-popup-link">
						<div class="product-list__img-box">
							<img src="img/product-img-03.png" alt="" class="product-list__image">
						</div>
						<div class="product-list__name">Cartier Pendant</div>
						<div class="product-list__description">JackPot Limited</div>
						<div class="product-list__price">8 500 $</div>
					</a>
				</li>
				<li class="product-list__item">
					<a href="javascript:void(0);" data-href="#product" class="product-list__link js-popup-link">
						<div class="product-list__img-box">
							<img src="img/product-img-03.png" alt="" class="product-list__image">
						</div>
						<div class="product-list__name">Cartier Pendant</div>
						<div class="product-list__description">JackPot Limited</div>
						<div class="product-list__old-price">18 440 $</div>
						<div class="product-list__price">8 500 $</div>
					</a>
				</li>
				<li class="product-list__item">
					<a href="javascript:void(0);" data-href="#product" class="product-list__link js-popup-link">
						<div class="product-list__img-box">
							<img src="img/product-img-03.png" alt="" class="product-list__image">
						</div>
						<div class="product-list__name">Cartier Pendant</div>
						<div class="product-list__description">JackPot Limited</div>
						<div class="product-list__price">8 500 $</div>
					</a>
				</li>
				<li class="product-list__item">
					<a href="javascript:void(0);" data-href="#product" class="product-list__link js-popup-link">
						<div class="product-list__img-box">
							<img src="img/product-img-03.png" alt="" class="product-list__image">
						</div>
						<div class="product-list__name">Cartier Pendant</div>
						<div class="product-list__description">JackPot Limited</div>
						<div class="product-list__price">8 500 $</div>
					</a>
				</li>
				<li class="product-list__item product-list__item_show-box">
					<a href="javascript:void(0);" class="product-list__link">
						<div class="product-list__icon-box">
							<i class="icon icon-menu-accessories"></i>
						</div>
						<div class="product-list__text">
							Посмотреть еще <span class="product-list__count">94</span> моделей
						</div>
					</a>
				</li>
			</ul>
			<!-- PRODUCT-LIST END -->

			<!-- PRODUCT-LIST-SLIDER -->
			<div class="swiper-container products">
				<ul class="swiper-wrapper product-list product-list_slider">
					<li class="swiper-slide product-list__item">
						<a href="javascript:void(0);" data-href="#product" class="product-list__link js-popup-link">
							<div class="product-list__img-box">
								<img src="img/product-img-03.png" alt="" class="product-list__image">
							</div>
							<div class="product-list__name">Franck Muller</div>
							<div class="product-list__description">Conquistador Cortez Chronograph Automatic Steel</div>
							<div class="product-list__price">4 900 $</div>
						</a>
					</li>
					<li class="swiper-slide product-list__item">
						<a href="javascript:void(0);" data-href="#product" class="product-list__link js-popup-link">
							<div class="product-list__img-box">
								<img src="img/product-img-03.png" alt="" class="product-list__image">
							</div>
							<div class="product-list__name">Franck Muller</div>
							<div class="product-list__description">Conquistador Cortez Chronograph Automatic Steel</div>
							<div class="product-list__price">4 900 $</div>
						</a>
					</li>
					<li class="swiper-slide product-list__item">
						<a href="javascript:void(0);" data-href="#product" class="product-list__link js-popup-link">
							<div class="product-list__img-box">
								<img src="img/product-img-03.png" alt="" class="product-list__image">
							</div>
							<div class="product-list__name">Franck Muller</div>
							<div class="product-list__description">Conquistador Cortez Chronograph Automatic Steel</div>
							<div class="product-list__price">4 900 $</div>
						</a>
					</li>
					<li class="swiper-slide product-list__item product-list__item_show-box">
						<a href="javascript:void(0);" class="product-list__link">
							<div class="product-list__icon-box">
								<i class="icon icon-menu-jewelry"></i>
							</div>
							<div class="product-list__text">
								Посмотреть еще <span class="product-list__count">29</span> моделей
							</div>
						</a>
					</li>
				</ul>
			</div>
			<!-- PRODUCT-LIST-SLIDER END -->
		</div>
	</section>
	<!-- PRODUCTS END -->

	<!-- ADVANTAGES SLIDER -->
	<section class="section section_advantages">
		<div class="advantages-wrap">
			<div class="container">
				<h1 class="advantages-wrap__title">Ломбард Часов на Цветном предлагает следующие услуги:</h1>
			</div>
			<div class="swiper-container advantages-slider">
				<div class="swiper-wrapper">
					<div class="swiper-slide">
						<div class="advantages-slider__item" style="background-image:url(img/advantages-item-bg-01.png);">
							<h3 class="advantages-slider__title">12 лет на рынке</h3>
							<div class="advantages-slider__descr">
								<p class="advantages-slider__text">Мы являемся одним из ведущих ломбардов, осуществляющих операции по предоставлению займов под залог швейцарских часов и элитных ювелирных изделий.</p>
							</div>
						</div>
					</div>
					<div class="swiper-slide">
						<div class="advantages-slider__item" style="background-image:url(img/advantages-item-bg-02.png);">
							<h3 class="advantages-slider__title">Мы ценим время клиента</h3>
							<div class="advantages-slider__descr">
								<p class="advantages-slider__text">Наши квалифицированные эксперты быстро и тщательно проверят Ваши часы.</p>
								<p class="advantages-slider__text">В течение нескольких минут и строго в Вашем присутствии проведут оценку и назовут Вам цену, максимально приближенную к рыночной.
							</div>
						</div>
					</div>
					<div class="swiper-slide">
						<div class="advantages-slider__item" style="background-image:url(img/advantages-item-bg-01.png);">
							<h3 class="advantages-slider__title">Часы – отличный подарок</h3>
							<div class="advantages-slider__descr">
								<p class="advantages-slider__text">Состояние продаваемых часов близко к идеальному, некоторые часы новые, покупались в подарок, но не носились.</p>
							</div>
						</div>
					</div>
					<div class="swiper-slide">
						<div class="advantages-slider__item" style="background-image:url(img/advantages-item-bg-02.png);">
							<h3 class="advantages-slider__title">Волшебный мир</h3>
							<div class="advantages-slider__descr">
								<p class="advantages-slider__text">Она встала, подсела к нам, оживилась... и мы только в два часа ночи вспомнили, что доктора велят ложиться спать в одиннадцать.	В одном из домов слободки, построенном на краю обрыва, заметил я чрезвычайное освещение; по временам раздавался нестройный говор и крики, изобличавшие военную пирушку.</p>
							</div>
						</div>
					</div>
					<div class="swiper-slide">
						<div class="advantages-slider__item" style="background-image:url(img/advantages-item-bg-01.png);">
							<h3 class="advantages-slider__title">Этот аргумент</h3>
							<div class="advantages-slider__descr">
								<p class="advantages-slider__text">Пришел Грушницкий и бросился мне на шею: он произведен в офицеры. Мы выпили шампанского. Доктор Вернер вошел вслед за ним.	С тех пор, как поэты пишут и женщины их читают (за что им глубочайшая благодарность), их столько раз называли ангелами, что они в самом деле, в простоте душевной, поверили этому комплименту, забывая, что те же поэты за деньги величали Нерона полубогом...</p>
							</div>
						</div>
					</div>
					<div class="swiper-slide">
						<div class="advantages-slider__item" style="background-image:url(img/advantages-item-bg-02.png);">
							<h3 class="advantages-slider__title">Судья, попечитель</h3>
							<div class="advantages-slider__descr">
								<p class="advantages-slider__text">Все тронулись и, пропуская друг друга в дверях, вышли в коридор и из коридора в залу заседания. Старшой подошел и сердито ткнул Маслову в плечо и, кивнув ей головой, повел её в женский коридор.</p>
							</div>
						</div>
					</div>
					<div class="swiper-slide">
						<div class="advantages-slider__item" style="background-image:url(img/advantages-item-bg-01.png);">
							<h3 class="advantages-slider__title">Когда наступила полночь</h3>
							<div class="advantages-slider__descr">
								<p class="advantages-slider__text">Ну, да бог простит! полно! Я не памятозлобен; только теперь смотри держи ухо востро! Я выдаю дочку не за какого-нибудь простого дворянина: чтоб поздравление было... понимаешь? не то чтоб отбояриться каким-нибудь балычком или головою сахару... Ну, ступай с богом!</p>
							</div>
						</div>
					</div>
				</div>
				<div class="advantages-slider__arrows advantages-slider__arrows_next">
					<i class="icon icon-arrow-next"></i>
				</div>
				<div class="advantages-slider__arrows advantages-slider__arrows_prev">
					<i class="icon icon-arrow-prev"></i>
				</div>
			</div>
		</div>
	</section>
	<!-- ADVANTAGES SLIDER END -->

	<!-- PRODUCTS -->
	<section class="section section_adaptive-list section_multiline">
		<div class="container">
			<!-- PRODUCT-LIST -->
			<ul class="product-list product-list_listing clearfix">
				<li class="product-list__item product-list__item_special-offer">
					<a href="javascript:void(0);" data-href="#product" class="product-list__link js-popup-link">
						<div class="product-list__label">
							<i class="icon-special-offer"></i>
						</div>
						<div class="product-list__img-box">
							<img src="img/product-img.png" alt="" class="product-list__image">
						</div>
						<div class="product-list__name">Frank Muller</div>
						<div class="product-list__description">Conquistador Cortez Chronograph Automatic Steel</div>
						<div class="product-list__old-price">18 440 $</div>
						<div class="product-list__price">4 900 $</div>
					</a>
				</li>
				<li class="product-list__item product-list__item_special-offer">
					<a href="javascript:void(0);" data-href="#product" class="product-list__link js-popup-link">
						<div class="product-list__label">
							<i class="icon-special-offer"></i>
						</div>
						<div class="product-list__img-box">
							<img src="img/product-img.png" alt="" class="product-list__image">
						</div>
						<div class="product-list__name">Frank Muller</div>
						<div class="product-list__description">Conquistador Cortez Chronograph Automatic Steel</div>
						<div class="product-list__old-price">18 440 $</div>
						<div class="product-list__price">4 900 $</div>
					</a>
				</li>
				<li class="product-list__item">
					<a href="javascript:void(0);" data-href="#product" class="product-list__link js-popup-link">
						<div class="product-list__img-box">
							<img src="img/product-img.png" alt="" class="product-list__image">
						</div>
						<div class="product-list__name">Frank Muller</div>
						<div class="product-list__description">Conquistador Cortez Chronograph Automatic Steel</div>
						<div class="product-list__price">4 900 $</div>
					</a>
				</li>
				<li class="product-list__item">
					<a href="javascript:void(0);" data-href="#product" class="product-list__link js-popup-link">
						<div class="product-list__img-box">
							<img src="img/product-img.png" alt="" class="product-list__image">
						</div>
						<div class="product-list__name">Frank Muller</div>
						<div class="product-list__description">Conquistador Cortez Chronograph Automatic Steel</div>
						<div class="product-list__price">4 900 $</div>
					</a>
				</li>
				<li class="product-list__item">
					<a href="javascript:void(0);" data-href="#product" class="product-list__link js-popup-link">
						<div class="product-list__img-box">
							<img src="img/product-img.png" alt="" class="product-list__image">
						</div>
						<div class="product-list__name">Franck Muller</div>
						<div class="product-list__description">Conquistador Cortez Chronograph Automatic Steel</div>
						<div class="product-list__old-price">18 440 $</div>
						<div class="product-list__price">4 900 $</div>
					</a>
				</li>
				<li class="product-list__item">
					<a href="javascript:void(0);" data-href="#product" class="product-list__link js-popup-link">
						<div class="product-list__img-box">
							<img src="img/product-img.png" alt="" class="product-list__image">
						</div>
						<div class="product-list__name">Frank Muller</div>
						<div class="product-list__description">Conquistador Cortez Chronograph Automatic Steel</div>
						<div class="product-list__price">4 900 $</div>
					</a>
				</li>
				<li class="product-list__item">
					<a href="javascript:void(0);" data-href="#product" class="product-list__link js-popup-link">
						<div class="product-list__img-box">
							<img src="img/product-img.png" alt="" class="product-list__image">
						</div>
						<div class="product-list__name">Franck Muller</div>
						<div class="product-list__description">Conquistador Cortez Chronograph Automatic Steel</div>
						<div class="product-list__price">4 900 $</div>
					</a>
				</li>
				<li class="product-list__item product-list__item_special-offer">
					<a href="javascript:void(0);" data-href="#product" class="product-list__link js-popup-link">
						<div class="product-list__label">
							<i class="icon-special-offer"></i>
						</div>
						<div class="product-list__img-box">
							<img src="img/product-img.png" alt="" class="product-list__image">
						</div>
						<div class="product-list__name">Frank Muller</div>
						<div class="product-list__description">Conquistador Cortez Chronograph Automatic Steel</div>
						<div class="product-list__old-price">18 440 $</div>
						<div class="product-list__price">4 900 $</div>
					</a>
				</li>
				<li class="product-list__item product-list__item_special-offer">
					<a href="javascript:void(0);" data-href="#product" class="product-list__link js-popup-link">
						<div class="product-list__label">
							<i class="icon-special-offer"></i>
						</div>
						<div class="product-list__img-box">
							<img src="img/product-img.png" alt="" class="product-list__image">
						</div>
						<div class="product-list__name">Frank Muller</div>
						<div class="product-list__description">Conquistador Cortez Chronograph Automatic Steel</div>
						<div class="product-list__old-price">18 440 $</div>
						<div class="product-list__price">4 900 $</div>
					</a>
				</li>
				<li class="product-list__item">
					<a href="javascript:void(0);" data-href="#product" class="product-list__link js-popup-link">
						<div class="product-list__img-box">
							<img src="img/product-img.png" alt="" class="product-list__image">
						</div>
						<div class="product-list__name">Frank Muller</div>
						<div class="product-list__description">Conquistador Cortez Chronograph Automatic Steel</div>
						<div class="product-list__price">4 900 $</div>
					</a>
				</li>
				<li class="product-list__item">
					<a href="javascript:void(0);" data-href="#product" class="product-list__link js-popup-link">
						<div class="product-list__img-box">
							<img src="img/product-img.png" alt="" class="product-list__image">
						</div>
						<div class="product-list__name">Frank Muller</div>
						<div class="product-list__description">Conquistador Cortez Chronograph Automatic Steel</div>
						<div class="product-list__price">4 900 $</div>
					</a>
				</li>
				<li class="product-list__item product-list__item_show-box">
					<a href="javascript:void(0);" class="product-list__link">
						<div class="product-list__icon-box">
							<i class="icon icon-menu-watch"></i>
						</div>
						<div class="product-list__text">
							Посмотреть еще <span class="product-list__count">300</span> моделей
						</div>
					</a>
				</li>
			</ul>
			<!-- PRODUCT-LIST END -->

			<!-- show-more -->
			<div class="section__footer">
				<a href="javascript:void(0);" class="btn btn_show-more">Загрузить еще</a>
			</div>
			<!-- show-more end -->
		</div>
	</section>
	<!-- PRODUCTS END -->

	<!-- WARNING-BLOCK -->
	<section class="section section_warning">
		<div class="container">
			<div class="warning-block">
				<div class="warning-block__inner">
					<div class="warning-block__info">Ломбард Часов не имеет отношения к официальным продавцам и производителям часовых брендов. Все часы, б/у и новые, которые есть в нашем магазине, принадлежали частным лицам и были проданы нам или не выкуплены по договору займа.</div>
				</div>
			</div>
		</div>
	</section>
	<!-- WARNING-BLOCK END  -->
{% endblock %}