{% extends 'blocks/layout.twig' %}

{% block content %}
	<section class="section section_news-list">
		<div class="container">
			<ul class="news-list">
				<li class="news-list__item">
					<a href="javascript:void(0);" class="news-list__link">
						<h2 class="news-list__item-title">О ломбарде</h2>
						<h3 class="news-list__item-descr">
							<p class="news-list__item-text">
								Ломбард часов – быстрый и удобный способ получить финансовый кредит! Что касается теоретических основ, то здесь можно сказать, что ломбардом называется финансовое учреждение, деятельность которого заключается в оказании финансовых услуг…
							</p>
						</h3>
					</a>
				</li>
				<li class="news-list__item">
					<a href="javascript:void(0);" class="news-list__link">
						<h2 class="news-list__item-title">Как продать часы выгодно и быстро</h2>
						<h3 class="news-list__item-descr">
							<p class="news-list__item-text">
								Истинные ценители знают, что хорошие швейцарские часы – это не только престижный аксессуар, но и достаточно перспективные инвестиции. Изделия известных мастеров и домов не только не утрачивают своей ценности с…
							</p>
						</h3>
					</a>
				</li>
				<li class="news-list__item">
					<a href="javascript:void(0);" class="news-list__link">
						<h2 class="news-list__item-title">Скупка часов в Москве</h2>
						<h3 class="news-list__item-descr">
							<p class="news-list__item-text">
								Как происходит продажа и скупка часов элитных швейцарских марок? Часовой ломбард на Цветном предлагает своим клиентам ломбардные кредиты под залог элитных швейцарских часов и эксклюзивных ювелирных украшений, при этом оказывая…
							</p>
						</h3>
					</a>
				</li>
				<li class="news-list__item">
					<a href="javascript:void(0);" class="news-list__link">
						<h2 class="news-list__item-title">В ломбарде часов на Цветном дешевле, чем в магазине</h2>
						<h3 class="news-list__item-descr">
							<p class="news-list__item-text">
								Как происходит продажа и скупка часов элитных швейцарских марок? Часовой ломбард на Цветном предлагает своим клиентам ломбардные кредиты под залог элитных швейцарских часов и эксклюзивных ювелирных украшений, при этом оказывая…
							</p>
						</h3>
					</a>
				</li>
				<li class="news-list__item">
					<a href="javascript:void(0);" class="news-list__link">
						<h2 class="news-list__item-title">Ломбард часов на Цветном предлагает часы Breguet</h2>
						<h3 class="news-list__item-descr">
							<p class="news-list__item-text">
								Годом создания марки Breguet считается 1775, когда часовой мастер Авраам Бреге открыл свой первый магазин часов в Париже. За время своего существования компания Breguet разработала множество технологий, которые используются производителями…
							</p>
						</h3>
					</a>
				</li>
				<li class="news-list__item">
					<a href="javascript:void(0);" class="news-list__link">
						<h2 class="news-list__item-title">Часы Ulysse Nardin</h2>
						<h3 class="news-list__item-descr">
							<p class="news-list__item-text">
								Ulysse Nardin Astrolabium G. Galilei — часы с бесконечным календарем от швейцарской компании Улисс Нардин, основанной в 1846 году. На циферблате размещены указатели положения Луны, Солнца и основных звезд относительно…
							</p>
						</h3>
					</a>
				</li>
				<li class="news-list__item">
					<a href="javascript:void(0);" class="news-list__link">
						<h2 class="news-list__item-title">Ломбард часов на Цветном предлагает посредничество в продаже</h2>
						<h3 class="news-list__item-descr">
							<p class="news-list__item-text">
								Покупка у клиента производится только после осмотра и оценки хронометра специалистами ломбарда. Если при продаже вы не ограничены конкретным сроком и можете ждать, существует возможность выручить до 90% первоначальной стоимости…
							</p>
						</h3>
					</a>
				</li>
				<li class="news-list__item">
					<a href="javascript:void(0);" class="news-list__link">
						<h2 class="news-list__item-title">Ювелирные часы</h2>
						<h3 class="news-list__item-descr">
							<p class="news-list__item-text">
								С первого дня своего появления ювелирные часы имели особый статус. Первоначально они служили подарком для венценосных особ, поэтому мастера вкладывали в их создание максимум сил, фантазии и эстетики. Неудивительно, что…
							</p>
						</h3>
					</a>
				</li>
				<li class="news-list__item">
					<a href="javascript:void(0);" class="news-list__link">
						<h2 class="news-list__item-title">Ювелирный ломбард - элитные украшения по приемлемой цене</h2>
						<h3 class="news-list__item-descr">
							<p class="news-list__item-text">
								Такие организации, как ювелирный ломбард, становятся все более и более популярными. Не у всех есть автомобиль или дорогая бытовая техника (а если и есть, то она нужна в доме), а…
							</p>
						</h3>
					</a>
				</li>
			</ul>
		</div>
	</section>
{% endblock %}