{% extends 'blocks/layout.twig' %}

{% block content %}
	<section class="section section_product-page">
		<div class="container">
			<div class="product-content product-content_page">
				<div class="product-content__col product-content__col_slider">
					<div class="product-content__slider-wrap">
						<!-- SLIDER -->
						<div class="swiper-container product-page-slider">
							<div class="swiper-wrapper">
								<div class="swiper-slide product-page-slider__item">
									<img src="http://lombard-chasov.ru/files/9417/thumb-panerai-luminor-crono-flyback-581b0d7fcd9f6.jpg" alt="" class="product-page-slider__image">
								</div>
								<div class="swiper-slide product-page-slider__item">
									<img src="http://lombard-chasov.ru/files/9418/thumb-panerai-luminor-crono-flyback-581b0d7fe8d91.jpg" alt="" class="product-page-slider__image">
								</div>
								<div class="swiper-slide product-page-slider__item">
									<img src="img/product-img-03.jpg" alt="" class="product-page-slider__image">
								</div>
								<div class="swiper-slide product-page-slider__item">
									<div class="product-page-slider__video-wrap">
										<div class="product-page-slider__video-inner">
											<iframe width="100%" height="100%" src="https://www.youtube.com/embed/x35s-1cDFOU" frameborder="0" allowfullscreen></iframe>
										</div>
									</div>
								</div>
							</div>
						</div>
						<!-- SLIDER END -->
						<!-- thumbs -->
						<ul class="product-page-thumbs">
							<li class='product-page-thumbs__item product-page-thumbs__item_active'>
								<img src="http://lombard-chasov.ru/files/9066/thumb-franck-muller-master-square-king-gold-57e100617a424.jpg" alt="" class="product-page-thumbs__image">
							</li>
							<li class='product-page-thumbs__item'>
								<img src="http://lombard-chasov.ru/files/9067/thumb-franck-muller-master-square-king-gold-57e10061aca91.jpg" alt="" class="product-page-slider__image" alt="" class="product-page-thumbs__image">
							</li>
							<li class='product-page-thumbs__item'>
								<img src="img/product-img-03.jpg" alt="" class="product-page-thumbs__image">
							</li>
							<li class='product-page-thumbs__item'>
								<img src="img/play.svg" alt="" class="product-page-thumbs__image">
							</li>
						</ul>
						<!-- thumbs end -->
					</div>
				</div>
				<div class="product-content__col product-content__col_information">
					<div class="product-content__heading">
						<h1 class="product-content__name">Blu Terzett 42.0 mm</h1>
					</div>
					<div class="product-content__set">
						<div class="product-content__set-box">
							<div class="product-content__set-title">Состояние:</div>
							<div class="product-content__set-descr">идеальное</div>
						</div>
						<div class="product-content__set-box">
							<div class="product-content__set-title">Комплектность:</div>
							<div class="product-content__set-descr">только часы</div>
						</div>
					</div>
					<!-- product-information -->
					<ul class="product-information">
						<li class="product-information__row">
							<div class="product-information__inner">
								<div class="product-information__title">Референс</div>
								<div class="product-information__descr">H13/230.50.9/L</div>
							</div>
						</li>
						<li class="product-information__row">
							<div class="product-information__inner">
								<div class="product-information__title">Корпус</div>
								<div class="product-information__descr">розовое золото 750 пробы</div>
							</div>
						</li>
						<li class="product-information__row">
							<div class="product-information__inner">
								<div class="product-information__title">Муж / Жен:</div>
								<div class="product-information__descr">Мужские</div>
							</div>
						</li>
						<li class="product-information__row">
							<div class="product-information__inner">
								<div class="product-information__title">Тип:</div>
								<div class="product-information__descr">с усложнениями</div>
							</div>
						</li>
						<li class="product-information__row">
							<div class="product-information__inner">
								<div class="product-information__title">Механизм:</div>
								<div class="product-information__descr">механика - автомат</div>
							</div>
						</li>
						<li class="product-information__row">
							<div class="product-information__inner">
								<div class="product-information__title">Функции:</div>
								<div class="product-information__descr">часы, минуты и дата</div>
							</div>
						</li>
						<li class="product-information__row">
							<div class="product-information__inner">
								<div class="product-information__title">Размер:</div>
								<div class="product-information__descr">42.0 мм</div>
							</div>
						</li>
						<li class="product-information__row">
							<div class="product-information__inner">
								<div class="product-information__title">Стекло:</div>
								<div class="product-information__descr">сапфировое</div>
							</div>
						</li>
						<li class="product-information__row">
							<div class="product-information__inner">
								<div class="product-information__title">Браслет:</div>
								<div class="product-information__descr">кожаный ремень, застежка из розового золота</div>
							</div>
						</li>
						<li class="product-information__row">
							<div class="product-information__inner">
								<div class="product-information__title">Водонепроницаемость:</div>
								<div class="product-information__descr">50 м</div>
							</div>
						</li>
					</ul>
					<!-- product-information end -->
					<div class="product-content__footer">
						<div class="buy-block buy-block_page">
							<div class="buy-block__price">
								<div class="buy-block__box buy-block__box_price">
									6 500 $
								</div>
								<div class="buy-block__box buy-block__box_button">
									<a href="javascript:void(0);" class="buy-block__link">Зарезервировать</a>
								</div>
							</div>
							<div class="buy-block__form">
								<div class="buy-block__form-head">
									Купить за <span>6 500$</span>
								</div>
								<form class="form form_buy">
									<div class="form__field form__field_with-label">
										<input type="text" class="form__input form__input_app" required="">
										<label class="form__label">Оставьте свой телефон или эл.почту</label>
									</div>
									<div class="form__field">
										<button type="submit" class="btn">Отправить</button>
									</div>
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- PRODUCTS -->
	<section class="section section_product-list section_in-product-page">
		<div class="container">
			<h2 class="section__title">Похожие модели часов</h2>
			<!-- PRODUCT-LIST -->
			<ul class="product-list product-list_default clearfix">
				<li class="product-list__item">
					<a href="javascript:void(0);" data-href="#product" class="product-list__link js-popup-link">
						<div class="product-list__img-box">
							<img src="img/product-img.png" alt="" class="product-list__image">
						</div>
						<div class="product-list__name">Franck Muller</div>
						<div class="product-list__description">Conquistador Cortez Chronograph Automatic Steel</div>
						<div class="product-list__price">4 900 $</div>
					</a>
				</li>
				<li class="product-list__item">
					<a href="javascript:void(0);" data-href="#product" class="product-list__link js-popup-link">
						<div class="product-list__img-box">
							<img src="img/product-img.png" alt="" class="product-list__image">
						</div>
						<div class="product-list__name">Franck Muller</div>
						<div class="product-list__description">Conquistador Cortez Chronograph Automatic Steel</div>
						<div class="product-list__price">4 900 $</div>
					</a>
				</li>
				<li class="product-list__item">
					<a href="javascript:void(0);" data-href="#product" class="product-list__link js-popup-link">
						<div class="product-list__img-box">
							<img src="img/product-img.png" alt="" class="product-list__image">
						</div>
						<div class="product-list__name">Franck Muller</div>
						<div class="product-list__description">Conquistador Cortez Chronograph Automatic Steel</div>
						<div class="product-list__price">4 900 $</div>
					</a>
				</li>
				<li class="product-list__item product-list__item_show-box">
					<a href="javascript:void(0);" class="product-list__link">
						<div class="product-list__icon-box">
							<i class="icon icon-menu-watch"></i>
						</div>
						<div class="product-list__text">
							Посмотреть еще <span class="product-list__count">211</span> моделей
						</div>
					</a>
				</li>
			</ul>
			<!-- PRODUCT-LIST END -->

			<!-- PRODUCT-LIST-SLIDER -->
			<div class="swiper-container products">
				<ul class="swiper-wrapper product-list product-list_slider">
					<li class="swiper-slide product-list__item">
						<a href="javascript:void(0);" data-href="#product" class="product-list__link js-popup-link">
							<div class="product-list__img-box">
								<img src="img/product-img-02.png" alt="" class="product-list__image">
							</div>
							<div class="product-list__name">Franck Muller</div>
							<div class="product-list__description">Conquistador Cortez Chronograph Automatic Steel</div>
							<div class="product-list__price">4 900 $</div>
						</a>
					</li>
					<li class="swiper-slide product-list__item">
						<a href="javascript:void(0);" data-href="#product" class="product-list__link js-popup-link">
							<div class="product-list__img-box">
								<img src="img/product-img-02.png" alt="" class="product-list__image">
							</div>
							<div class="product-list__name">Franck Muller</div>
							<div class="product-list__description">Conquistador Cortez Chronograph Automatic Steel</div>
							<div class="product-list__price">4 900 $</div>
						</a>
					</li>
					<li class="swiper-slide product-list__item">
						<a href="javascript:void(0);" data-href="#product" class="product-list__link js-popup-link">
							<div class="product-list__img-box">
								<img src="img/product-img-02.png" alt="" class="product-list__image">
							</div>
							<div class="product-list__name">Franck Muller</div>
							<div class="product-list__description">Conquistador Cortez Chronograph Automatic Steel</div>
							<div class="product-list__price">4 900 $</div>
						</a>
					</li>
					<li class="swiper-slide product-list__item product-list__item_show-box">
						<a href="javascript:void(0);" class="product-list__link">
							<div class="product-list__icon-box">
								<i class="icon icon-menu-jewelry"></i>
							</div>
							<div class="product-list__text">
								Посмотреть еще <span class="product-list__count">29</span> моделей
							</div>
						</a>
					</li>
				</ul>
			</div>
			<!-- PRODUCT-LIST-SLIDER END -->
		</div>
	</section>
	<!-- PRODUCTS END -->
{% endblock %}